﻿@{
    ViewBag.path= "<i class=\"fa fa-home\" aria-hidden=\"true\"></i>首頁 &gt; 一、培訓作業管理 &gt; ";

    ViewBag.Title = "培訓紀錄維護";
}
<style>
    th {
        background-color: lightgrey;
        text-align: center;
    }

    table, select, input, textarea {
        font-size: 14px;
    }

    td {
        text-align: left;
    }
</style>
<h2>培訓紀錄維護</h2>
<div class="row">
    <div class="col-lg-12">
        <ul class="nav nav-tabs">
            <li class="nav-item"><a class="nav-link" id="Master">主檔</a></li>
            <li class="nav-item"><a class="nav-link" id="Detail">明細</a></li>
            <li class="nav-item"><a class="nav-link" id="Report">管理報表</a></li>
        </ul>
    </div>
    <div class="col-lg-12 py-3">
        <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade" id="MasterIndex">
                <div class="col-lg-12">

                    <div class="mb-3">
                        <span>　　   學員代號：<input type="text" style="width: 100px" value="A1901" /></span><span class="ml-2">
                            學員姓名：<input type="text" style="width:  100px" value="鄭榮楷" />
                        </span><span class="ml-2">　　　WINDA ID：<input type="text" style="width:  177px" value="370534609" /></span>
                    </div>
                    <div class="mb-3">
                        <span>GWO課程代碼：<input type="text" style="width: 100px" value="WAH01-0" /></span><span class="ml-2">
                            課程名稱：<input type="text" style="width:  400px" value="GWO Working at Height and Rescue - Wind Turbines Initial" />
                        </span>
                    </div>
                    <div class="mb-3">
                        <span>　　   培訓國家：<input type="text" style="width: 100px;padding: 7px;" value="中華民國" /></span><span class="ml-2">
                            培訓地點：<input type="text" style="width:  400px" value="海洋科技工程人才培訓及認證中心" />
                        </span>
                    </div>
                    <div class="mb-3">
                        <span>　   培訓完成日：<input type="text" style="width: 100px;padding: 7px" value="2019/11/30" /></span><span class="ml-2">　　課程時數：<input type="text" style="width: 50px;padding: 15px;" value="48" /></span><span class="ml-2">　　講師代碼：<input type="text" style="width: 100px" value="T10801"></span><span class="ml-2">　　狀態：<select style="width: 78px"><option>合格</option></select></span>
                    </div>
                </div>
                <hr />
                <div class="col-lg-12 py-3 "><span>日期：<input type="text" class="mr-2 datepicker" value="2019/09/01" style="width: 80px; padding-left: 7px;padding-right: 0px" />~<input type="text" class="mx-2 datepicker" value="2019/11/01" style="width: 80px; padding-left: 7px;padding-right: 0px" />　學員代碼：<input type="text" class="mr-2" style="width: 80px" />　狀態：<select style="width: 80px;"><option></option></select></span>　　　<input type="button" value="查詢" class="mx-2" style="width: 70px;padding-top: 7px;" />　　<input type="button" value="新增" style="width: 70px;padding-top: 7px;" /></div>
                <table class="table-bordered" style="width: 100%;text-align: center;">
                    <tr>
                        <th style="width:7%">學員代碼</th>
                        <th style="width:8%">學員姓名</th>
                        <th style="width:10%">GWO課程代碼</th>
                        <th style="width:40%">GWO課程名稱</th>
                        <th style="width:10%">培訓完成日</th>
                        <th style="width:5%">狀態</th>
                        <th style="width:20%">資料維護</th>
                    </tr>
                    <tr>
                        <td>A1901</td>
                        <td>鄭榮楷</td>
                        <td>WAH01-0</td>
                        <td>GWO Working at Height and Rescue - Wind Turbines Initial</td>
                        <td>2019/11/30</td>
                        <td>合格</td>
                        <td style="text-align: center!important;"><input type="button" value="修改" style="width: 100px;padding-top: 7px" /><input type="button" value="刪除" style="width: 100px;padding-top: 7px" /></td>
                    </tr>
                    <tr>
                        <td>A1902</td>
                        <td>王寶輝</td>
                        <td>WAH10</td>
                        <td>GWO Advanced Rescue - Hub, Spinner & Inside Blade Rescue Module 1 (HSIBR)</td>
                        <td>2019/10/01</td>
                        <td>合格</td>
                        <td style="text-align: center!important;"><input type="button" value="修改" style="width: 100px;padding-top: 7px" /><input type="button" value="刪除" style="width: 100px;padding-top: 7px" /></td>
                    </tr>
                    <tr>
                        <td>A1903</td>
                        <td>李國強</td>
                        <td>WAH11</td>
                        <td>GWO Advanced Rescue – Nacelle, Tower & Basement Module 2 (NTBR)</td>
                        <td>2019/10/01</td>
                        <td>合格</td>
                        <td style="text-align: center!important;"><input type="button" value="修改" style="width: 100px;padding-top: 7px" /><input type="button" value="刪除" style="width: 100px;padding-top: 7px" /></td>
                    </tr>
                    <tr>
                        <td>A1904</td>
                        <td>林建中</td>
                        <td>S13</td>
                        <td>GWO Basic Safety Training Courses (All Five Modules)</td>
                        <td>2019/10/01</td>
                        <td>受訓</td>
                        <td style="text-align: center!important;"><input type="button" value="修改" style="width: 100px;padding-top: 7px" /><input type="button" value="刪除" style="width: 100px;padding-top: 7px" /></td>
                    </tr>
                    <tr>
                        <td>A1905</td>
                        <td>江茂松</td>
                        <td>WAH14</td>
                        <td>Work at Height - Advanced Rescue</td>
                        <td>2019/10/01</td>
                        <td>退訓</td>
                        <td style="text-align: center!important;"><input type="button" value="修改" style="width: 100px;padding-top: 7px" /><input type="button" value="刪除" style="width: 100px;padding-top: 7px" /></td>
                    </tr>

                </table>

            </div>
            <div class="tab-pane fade" id="DetailIndex">


            </div>
            <div class="tab-pane fade" id="ReportIndex">


            </div>
        </div>
    </div>






</div>



@section Scripts {

    <script src="~/Scripts/jquery-ui-1.8.24.min.js"></script>
    <script src="@Url.Content("~/Scripts/jquery.colorbox-min.js")" type="text/javascript"></script>
    <link href="@Url.Content("~/Content/colorbox/colorbox.css")" rel="stylesheet" type="text/css" />



    <script>
        $(document).ready(function () {
            $("#Master").addClass("active");
            $("#MasterIndex").addClass("active show");


            $("#Master").click(function () {
                $(this).addClass("active");
                $("#MasterIndex").addClass("active show");
                $("#Detail").removeClass("active");
                $("#DetailIndex").removeClass("active");
                $("#Report").removeClass("active");
                $("#ReportIndex").removeClass("active");
            });
            $("#Detail").click(function () {
                $(this).addClass("active");
                $("#DetailIndex").addClass("active show");
                $("#Master").removeClass("active");
                $("#MasterIndex").removeClass("active");
                $("#Report").removeClass("active");
                $("#ReportIndex").removeClass("active");

            });

            $("#Report").click(function () {
                $(this).addClass("active");
                $("#ReportIndex").addClass("active show");
                $("#Master").removeClass("active");
                $("#MasterIndex").removeClass("active");
                $("#Detail").removeClass("active");
                $("#DetailIndex").removeClass("active");

            });
        });

    </script>
}