﻿@{
    ViewBag.path= "<i class=\"fa fa-home\" aria-hidden=\"true\"></i>首頁 &gt; 一、培訓作業管理 &gt; ";

    ViewBag.Title = "培訓模組維護";
}
<style>
    th {
        background-color: lightgrey;
        text-align: center;
    }

    table, select, input, textarea {
        font-size: 14px;
    }

    td {
        text-align: left;
    }
</style>
<h2>培訓模組維護</h2>
<div class="row">
    <div class="col-lg-12">
        <ul class="nav nav-tabs">
            <li class="nav-item"><a class="nav-link" id="Master">主檔</a></li>
            <li class="nav-item"><a class="nav-link" id="Detail">明細</a></li>
            <li class="nav-item"><a class="nav-link" id="Report">管理報表</a></li>
        </ul>
    </div>
    <div class="col-lg-12 py-3">
        <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade" id="MasterIndex">
                <div class="col-lg-12">

                    <div class="mb-3">
                        <span>Training  Std：<input type="text" style="width: 205px" value="ADVANCED RESCUE" /></span><span class="ml-2">
                            WINDA CODE：<input type="text" style="width:  100px" value="ART-H" />
                        </span><span class="ml-2">
                            Course Type：<input type="text" style="width:  100px" value="FULL" />
                        </span>
                    </div>
                    <div class="mb-3">
                        <span>Training  Title：<input type="text" style="width: 415px" value="ADVANCED RESCUE TRAINING-HUB" /></span><span class="ml-2">
                            Validity period (months)：<input type="text" style="width:  100px" value="24" />

                        </span>
                    </div>
                    <div class="mb-3 row align-items-center"><div style="margin-left: 4px;">Objective：</div><div class="col-11" style="padding-left: 0px;"><textarea style="width: 700px; height: 70px; font-size: 12px; padding-top: 5px;padding-bottom:2px">The aim of this module is to enable the Delegates to perform rescue operations, in a WTG hub, spinner and inside the blade by using industry standard rescue equipment,methods and techniques, exceeding those of GWO Working at Height.</textarea></div></div>

                </div>
                <hr />
                <div class="col-lg-12 py-3 "><span>WINDA CODE：<input type="text" class="mr-2" value="" style="width: 80px; padding-left: 7px;padding-right: 0px" />　　　Training  Std：<input type="text" class="mr-2" style="width: 200px" value="ADVANCED RESCUE" /></span>　　<input type="button" value="查詢" class="mx-2" style="width: 100px;padding-top: 7px;" />　　<input type="button" value="新增" style="width: 100px;padding-top: 7px;" /></div>
                <table class="table-bordered" style="width: 100%;text-align: center;">
                    <tr>
                        <th style="width:10%">Training  Std</th>
                        <th style="width:10%">WINDA  CODE</th>
                        <th style="width:10%">COURSE  CODE</th>
                        <th style="width:40%">Course Title</th>
                        <th style="width:10%">Course Type</th>
                        <th style="width:20%">Maintain</th>
                    </tr>
                    <tr>
                        <td>ADVANCED RESCUE</td>
                        <td>ART-H</td>
                        <td>WAH01-0</td>
                        <td>GWO Working at Height and Rescue - Wind Turbines Initial</td>
                        <td>FULL</td>
                        <td style="text-align: center!important;"><input type="button" value="修改" style="width: 100px;padding-top: 7px" /><input type="button" value="刪除" style="width: 100px;padding-top: 7px" /></td>
                    </tr>
                    <tr>
                        <td>ADVANCED RESCUE</td>
                        <td>ART-HR</td>
                        <td>WAH02-0</td>
                        <td>GWO Working at Height and Rescue Refresher</td>
                        <td>REFRESHER</td>
                        <td style="text-align: center!important;"><input type="button" value="修改" style="width: 100px;padding-top: 7px" /><input type="button" value="刪除" style="width: 100px;padding-top: 7px" /></td>
                    </tr>
                    <tr>
                        <td>ADVANCED RESCUE</td>
                        <td>ART-H</td>
                        <td>WAH10</td>
                        <td>GWO Advanced Rescue - Hub, Spinner & Inside Blade Rescue Module 1 (HSIBR)</td>
                        <td>FULL</td>
                        <td style="text-align: center!important;"><input type="button" value="修改" style="width: 100px;padding-top: 7px" /><input type="button" value="刪除" style="width: 100px;padding-top: 7px" /></td>
                    </tr>
                    <tr>
                        <td>ADVANCED RESCUE</td>
                        <td>ART-N</td>
                        <td>WAH11</td>
                        <td>GWO Advanced Rescue – Nacelle, Tower & Basement Module 2 (NTBR)</td>
                        <td>FULL</td>
                        <td style="text-align: center!important;"><input type="button" value="修改" style="width: 100px;padding-top: 7px" /><input type="button" value="刪除" style="width: 100px;padding-top: 7px" /></td>
                    </tr>
                    <tr>
                        <td>ADVANCED RESCUE</td>
                        <td>SART-H</td>
                        <td>WAH12</td>
                        <td>GWO Advanced Rescue – Single Rescuer: Hub, Spinner & Inside Blade Rescue Module (SR:HSIBR)</td>
                        <td>FULL</td>
                        <td style="text-align: center!important;"><input type="button" value="修改" style="width: 100px;padding-top: 7px" /><input type="button" value="刪除" style="width: 100px;padding-top: 7px" /></td>
                    </tr>
                    <tr>
                        <td>ADVANCED RESCUE</td>
                        <td>SART-N</td>
                        <td>WAH13</td>
                        <td>GWO Advanced Rescue – Single Rescuer: Nacelle, Tower and Basement Rescue Module (SR:NTBR)</td>
                        <td>FULL</td>
                        <td style="text-align: center!important;"><input type="button" value="修改" style="width: 100px;padding-top: 7px" /><input type="button" value="刪除" style="width: 100px;padding-top: 7px" /></td>
                    </tr>
                </table>

            </div>
            <div class="tab-pane fade" id="DetailIndex">


            </div>
            <div class="tab-pane fade" id="ReportIndex">


            </div>
        </div>
    </div>
</div>
@section Scripts {

    <script src="~/Scripts/jquery-ui-1.8.24.min.js"></script>
    <script src="@Url.Content("~/Scripts/jquery.colorbox-min.js")" type="text/javascript"></script>
    <link href="@Url.Content("~/Content/colorbox/colorbox.css")" rel="stylesheet" type="text/css" />



    <script>
        $(document).ready(function () {
            $("#Master").addClass("active");
            $("#MasterIndex").addClass("active show");


            $("#Master").click(function () {
                $(this).addClass("active");
                $("#MasterIndex").addClass("active show");
                $("#Detail").removeClass("active");
                $("#DetailIndex").removeClass("active");
                $("#Report").removeClass("active");
                $("#ReportIndex").removeClass("active");
            });
            $("#Detail").click(function () {
                $(this).addClass("active");
                $("#DetailIndex").addClass("active show");
                $("#Master").removeClass("active");
                $("#MasterIndex").removeClass("active");
                $("#Report").removeClass("active");
                $("#ReportIndex").removeClass("active");

            });

            $("#Report").click(function () {
                $(this).addClass("active");
                $("#ReportIndex").addClass("active show");
                $("#Master").removeClass("active");
                $("#MasterIndex").removeClass("active");
                $("#Detail").removeClass("active");
                $("#DetailIndex").removeClass("active");

            });
        });

    </script>
}