﻿@using Enrollment.Models
@{
    ViewBag.path = "<i class=\"fa fa-home\" aria-hidden=\"true\"></i>首頁";
    //ViewBag.Title = "首頁";
    List<Menu> menu = ViewBag.menuss;
}
<style>
    .row {
        height: 20em;
    }

    .col {
        text-align: center;
        margin: 10px;
    }

    .table th {
        background-color: #fff;
        color: #626262;
        text-align: center;
    }

    .table tr td {
        padding: 10px 0px !important;
    }
</style>
<h2>歡迎使用管理系統</h2>
@ViewBag.message

@if (menu!=null)
{

    foreach (var item in menu)
    {
        <div style="display: none">
            <iframe class="Myframe" src="@(item.LoginUrl)?account=@User.Identity.Name"></iframe>
        </div>

    }
    if (!string.IsNullOrEmpty(ViewBag.ReturnUrl))
    {
        <script>
            window.location.href = '@ViewBag.ReturnUrl';
        </script>
    }
    else
    {
        <script>

            window.location.reload();


        </script>
    }
}

@if (!string.IsNullOrEmpty(ViewBag.ReturnUrl))
{
    <script>
        
            window.location.href = '@ViewBag.ReturnUrl';
       

    </script>
}

