﻿@using Enrollment.Models
@model Enrollment.Models.course

@{
    ViewBag.path= "<i class=\"fa fa-home\" aria-hidden=\"true\"></i>首頁 &gt; 二、課程管理系統 &gt; 課程內容作業 &gt; ";

    ViewBag.Title = "新增課程";
}

<h2>課程 新增</h2>

    @using (Html.BeginForm(null, null, FormMethod.Post, new { enctype = "multipart/form-data" })) {

    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @ViewBag.Message
<fieldset>
    <legend>course</legend>

    <div class="editor-label">
        @Html.LabelFor(model => model.CourseNumber)

    </div>
    <div class="editor-field">
        @Html.TextBoxFor(model => model.CourseNumber, new { placeholder = ModelsAttributeHelper<Enrollment.Models.course>.GetDisplayName("CourseNumber") })
        @Html.ValidationMessageFor(model => model.CourseNumber)


    </div>

    <div class="editor-label">
        @Html.LabelFor(model => model.CourseName)

    </div>
    <div class="editor-field">
        @Html.TextBoxFor(model => model.CourseName, new { placeholder = ModelsAttributeHelper<Enrollment.Models.course>.GetDisplayName("CourseName") })
        @Html.ValidationMessageFor(model => model.CourseName)


    </div>


    <div class="editor-label">
        <label for="">領域</label>

    </div>
    <div class="editor-field">
      @Html.DropDownList("fieldlist")
    </div>

    <div class="editor-label">
        @Html.LabelFor(model => model.CourseSummary)

    </div>
    <div class="editor-field">
        @Html.TextAreaFor(model => model.CourseSummary, new { @style = "height: 150px",placeholder = ModelsAttributeHelper<Enrollment.Models.course>.GetDisplayName("CourseSummary") })
        @Html.ValidationMessageFor(model => model.CourseSummary)


    </div>

    <div class="editor-label">
        @Html.LabelFor(model => model.TrainingProgram)

    </div>
    <div class="editor-field">
        @Html.TextAreaFor(model => model.TrainingProgram, new { @style = "height: 150px",placeholder = ModelsAttributeHelper<Enrollment.Models.course>.GetDisplayName("TrainingProgram") })
        @Html.ValidationMessageFor(model => model.TrainingProgram)


    </div>

    <div class="editor-label">
        @Html.LabelFor(model => model.TrainingContent)

    </div>
    <div class="editor-field">
        @Html.TextAreaFor(model => model.TrainingContent, new { @class = "ckeditor" })       
          @Html.ValidationMessageFor(model => model.TrainingContent)


    </div>

    <div class="editor-label">
        @Html.LabelFor(model => model.UploadMaterials)

    </div>
    <div class="editor-field">
        <div class="editor-field">
            <input type="file" name="file" />
        </div>

    </div>

    <div class="editor-label">
        @Html.LabelFor(model => model.Memo)

    </div>
    <div class="editor-field">
        @Html.TextAreaFor(model => model.Memo, new { @style = "height: 150px", placeholder = ModelsAttributeHelper<Enrollment.Models.course>.GetDisplayName("Memo") })
        @Html.ValidationMessageFor(model => model.Memo)


    </div>



    <p>
        <input type="submit" value="新增" /><input type="button" onclick="history.back()" value="回到上一頁" />
    </p>
</fieldset>
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(document).ready(function () {
            $('#fieldlist').attr("multiple", "true");
            $('#fieldlist').val("");
            $('#fieldlist').chosen();
            $('#fieldlist_chosen').attr("style", "width:30%");
        });
    </script>


}
