﻿
@using Enrollment.Models
@model Enrollment.Models.course

@{
    ViewBag.path= "<i class=\"fa fa-home\" aria-hidden=\"true\"></i>首頁 &gt; 二、課程管理系統 &gt; 課程內容作業 &gt; ";

    ViewBag.Title = "編輯課程";
}

<h2>課程編輯</h2>

@using (Html.BeginForm(null, null, FormMethod.Post, new { enctype = "multipart/form-data" })) {

    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>course</legend>

        @Html.HiddenFor(model => model.Id)

        <div class="editor-label">
            @Html.LabelFor(model => model.CourseNumber)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.CourseNumber,new { placeholder=ModelsAttributeHelper<Enrollment.Models.course>.GetDisplayName("CourseNumber") })
           
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CourseName)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.CourseName,new { placeholder=ModelsAttributeHelper<Enrollment.Models.course>.GetDisplayName("CourseName") })
           
        </div>
        
        <div class="editor-label">
            <label for="">領域</label>

        </div>
        <div class="editor-field">
            @Html.DropDownList("fieldlist")
            <input type="hidden" id="selectedlist" value="@ViewBag.selectedlist"/>
        </div>
  

        <div class="editor-label">
            @Html.LabelFor(model => model.CourseSummary)
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.CourseSummary, new { @style = "height: 150px",placeholder=ModelsAttributeHelper<Enrollment.Models.course>.GetDisplayName("CourseSummary") })
           
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.TrainingProgram)
        </div>
        <div class="editor-field">
           @Html.TextAreaFor(model => model.TrainingProgram, new { @style = "height: 150px", placeholder = ModelsAttributeHelper<Enrollment.Models.course>.GetDisplayName("TrainingProgram") })
           
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.TrainingContent)
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.TrainingContent, new { @class = "ckeditor" })  
           
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.UploadMaterials)
        </div>
        <div class="editor-field">
            <input type="file" name="file" />
            @Html.HiddenFor(model => model.UploadMaterials)
        @if (!string.IsNullOrEmpty(Model.UploadMaterials))
        {
          <a class="remove" href="/Student/GetFile?filename=@(Model.UploadMaterials)&type=materials"><i class="fa fa-download" aria-hidden="true"></i>附件下載</a>
          }
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Memo)
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.Memo,new { @style = "height: 150px",placeholder=ModelsAttributeHelper<Enrollment.Models.course>.GetDisplayName("Memo") })
            @Html.ValidationMessageFor(model => model.Memo)
           
        </div>

            @Html.HiddenFor(model => model.Poster)
   
    <input type="hidden" name="InitDate" value="@Model.InitDate.Value.ToString("yyyy/MM/dd HH:mm")"/>
  
        <p>
            <input type="submit" value="更新" /> <input type="button" onclick="history.back()" value="回到上一頁" />
        </p>
    </fieldset>
}


@section Scripts {
 
    <script>
        $(document).ready(function () {
            $('#fieldlist').attr("multiple", "true");
            $('#fieldlist').val("");
            $('#fieldlist').chosen();
            $('#fieldlist_chosen').attr("style", "width:30%");
            var alreadyseleted = $('#selectedlist').val();
            var alreadyseleted_arr=alreadyseleted.split(',');

            $("#fieldlist").val(alreadyseleted_arr).trigger("chosen:updated");
        });
    </script>

}
