﻿
@using Enrollment.Helpers
@using MvcPaging
@model MvcPaging.IPagedList<Enrollment.Models.course>

@{
    ViewBag.path= "<i class=\"fa fa-home\" aria-hidden=\"true\"></i>首頁 &gt; 二、課程管理系統 &gt; ";

    ViewBag.Title = "課程內容作業";
}

<h2>課程列表</h2>

<p>
    @Html.ActionLink("新增", "Create")
</p>

    @using (Html.BeginForm())
    {
        <div>
            @Html.DisplayNameFor(model => model.FirstOrDefault().CourseNumber)：@Html.InputSearchBox("SearchByCourseNumber", ViewData["SearchByCourseNumber"])
            @Html.DisplayNameFor(model => model.FirstOrDefault().CourseName)：@Html.InputSearchBox("SearchByCourseName", ViewData["SearchByCourseName"])
            <input type="submit" class="btn btn-Search" value="搜尋" />
        </div>

    }

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().CourseNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().CourseName)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().UploadMaterials)
        </th>


        <th></th>
    </tr>
<tbody>
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CourseNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CourseName)
        </td>
        <td>
     
            @if (!string.IsNullOrEmpty(item.UploadMaterials))
            {
                
                <a  href="/Student/GetFile?filename=@(item.UploadMaterials)&type=materials"><i class="fa fa-download" aria-hidden="true"></i>附件下載</a>
            }
        </td>
        <td>
            @Html.ActionLink("編輯", "Edit", new { id=item.Id }, new { @class = "btn btn-Edit" }) 
            @*@Html.ActionLink("內容", "Details", new { id=item.Id }) | *@
            @Html.ActionLink("刪除", "Delete", new { id=item.Id }, new { @class = "btn btn-Delete" })
            @Html.Hidden("ID",item.Id)
        </td>
    </tr>
}
</tbody>
</table>

<div class="pager">
    @Html.Pager(Model.PageSize, Model.PageNumber, Model.TotalItemCount)
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/themes/base/css")
    <script>
        $(document).ready(function() {
            $(".datepicker").datepicker();

        });
    </script>
}

