﻿
@{
    ViewBag.Title = "Login";
}

<h2 style="text-align: center;">系統登入</h2>
@if (Session["PermissionError"] != null)
{
    <div style="color: red;text-align: center;">@Session["PermissionError"]</div>
}
@{
    Session["PermissionError"] = null;
}
<style>
    #content.open {
        margin-left: 0;
    }

    #sidebar {
        display: none !important;
    }

    #content {
        margin-left: 0;
    }

    .hamburger-menu {
        display: none;
    }

    fieldset {
        width: 320px;
        margin: 0 auto;
    }

        fieldset table {
            width: 100%;
        }

    #loginForm input[type=text],
    #loginForm input[type=password] {
        box-sizing: border-box;
        width: 100%;
    }

    .field-validation-error {
        display: block;
        padding: 5px;
    }

    fieldset td {
        padding-right: 0;
    }
</style>
<section id="loginForm">
    @using (Html.BeginForm(null,null, FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        <fieldset>
    
            <div>
                <input data-val="true" data-val-required="使用者名稱 欄位是必要項。" id="UserName" name="username" type="text" value="@ViewBag.username">
            </div>
 
        </fieldset>
    }
</section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>

        $(document).ready(function () {
            $("form").submit();   
        });
    </script>
}
