﻿
@using Enrollment.Models
@model Enrollment.Models.Field

@{
    ViewBag.path= "<i class=\"fa fa-home\" aria-hidden=\"true\"></i>首頁 &gt; 二、課程管理系統 &gt; 課程領域作業 &gt; ";

    ViewBag.Title = "編輯課程領域";
}

<h2>編輯</h2>

    @using (Html.BeginForm()) {

    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Field</legend>

        @Html.HiddenFor(model => model.Id)

        <div class="editor-label">
            @Html.LabelFor(model => model.FieldName)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.FieldName,new { placeholder=ModelsAttributeHelper<Enrollment.Models.Field>.GetDisplayName("FieldName") })
           
        </div>


            
        <p>
            <input type="submit" value="更新" /> <input type="button" onclick="history.back()" value="回到上一頁" />
        </p>
    </fieldset>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

}
