﻿
@using Enrollment.Helpers
@using MvcPaging
@model MvcPaging.IPagedList<Enrollment.Models.Field>

@{
    ViewBag.path= "<i class=\"fa fa-home\" aria-hidden=\"true\"></i>首頁 &gt; 二、課程管理系統 &gt; ";

    ViewBag.Title = "課程領域作業";
}

<h2>領域列表</h2>

<p>
    @Html.ActionLink("新增", "Create")
</p>

    @using (Html.BeginForm())
{

    <div>
        @Html.DisplayNameFor(model => model.FirstOrDefault().FieldName)：@Html.InputSearchBox("SearchByFieldName", ViewData["SearchByFieldName"])
        <input type="submit" class="btn btn-Search" value="搜尋" />
    </div>
	
    
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().FieldName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Poster)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().InitDate)
        </th>
     
        <th></th>
    </tr>
<tbody>
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FieldName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Poster)
        </td>
        <td>
            @item.InitDate.Value.ToString("yyyy/MM/dd HH:mm")
        </td>
       
        <td>
            @Html.ActionLink("編輯", "Edit", new { id=item.Id }, new { @class = "btn btn-Edit" }) 
            @*@Html.ActionLink("內容", "Details", new { id=item.Id }) | *@
            @Html.ActionLink("刪除", "Delete", new { id=item.Id }, new { @class = "btn btn-Delete" })
            @Html.Hidden("ID",item.Id)
        </td>
    </tr>
}
</tbody>
</table>

<div class="pager">
    @Html.Pager(Model.PageSize, Model.PageNumber, Model.TotalItemCount)
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/themes/base/css")
    <script>
        $(document).ready(function() {
            $(".datepicker").datepicker();

        });
    </script>
}

