﻿@{
    ViewBag.Title = "證書核定作業";

}
<style>
    th {
        background-color: lightgrey;
        text-align: center;
    }

    table, select, input, textarea {
        font-size: 14px;
    }

    td {
        text-align: left;
    }
</style>
<h2>證書核定作業</h2>




<div class="row">
    <div class="col-lg-12">
        <ul class="nav nav-tabs">
            <li class="nav-item"><a class="nav-link" id="Application">證書申請</a></li>
            <li class="nav-item"><a class="nav-link" id="Signing">證書簽核</a></li>
            <li class="nav-item"><a class="nav-link" id="Process">流程設定</a></li>
            <li class="nav-item"><a class="nav-link" id="Record">簽核紀錄</a></li>
            <li class="nav-item"><a class="nav-link" id="Report">管理報表</a></li>
        </ul>
    </div>
    <div class="col-lg-12 py-3">
        <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade" id="ApplicationIndex">

                <div class="col-lg-12">

                    <div class="mb-3">
                        <span>學員代碼：<input type="text" style="width: 100px" value="A1901" /></span><span class="ml-2">
                            學員姓名：<input type="text" style="width:  100px" value="鄭榮楷" />
                        </span><span class="ml-2">
                            WINDA ID：<input type="text" style="width:  182px" value="370534609" />
                        </span>
                    </div>
                    <div class="mb-3">
                        <span>證照號碼：<input type="text" style="width: 100px" value="108100001" /></span><span class="ml-2">
                            證照名稱：<input type="text" style="width:  445px" value="ADVANCED RESCUE TRAINING STANDARD" />
                        </span>
                    </div>
                    <div class="mb-3">
                        <span>申請日期：<input type="text" class="datepicker" style="width: 100px;padding: 15px;" value="2019/10/01" /></span><span class="ml-2">　　有效日期：<input type="text" class="datepicker" style="width: 100px;padding: 15px;" value="2019/10/01" /></span><span class="ml-2">　　狀態：<select style="width: 80px;"><option>申請中</option></select></span><span class="ml-2">　　承辦人：<input type="text " value="林珊珊" style="width: 104.5px" /></span>
                    </div>
                </div>
                <hr />
                <div class="col-lg-12 py-3 "><span>日期：<input type="text" class="mr-2 datepicker" value="2019/09/01" style="width: 80px; padding-left: 7px;padding-right: 0px" />~<input type="text" class="mx-2 datepicker" value="2019/09/01" style="width: 80px; padding-left: 7px;padding-right: 0px" />　學員：<input type="text" class="mr-2" style="width: 80px" />　狀態：<select style="width: 80px;"><option></option></select></span>　<input type="button" value="查詢" class="mx-2" style="width: 75px;padding-top: 7px;" />　　<input type="button" value="新增" style="width: 75px;padding-top: 7px;" /></div>
                <table class="table-bordered" style="width: 100%;text-align: center;">
                    <tr>
                        <th>代碼</th>
                        <th>學員姓名</th>
                        <th>證照號碼</th>
                        <th>證照名稱</th>
                        <th>申請日期</th>
                        <th>狀態</th>
                        <th>資料維護</th>
                    </tr>
                    <tr>
                        <td>A1901</td>
                        <td>鄭榮楷</td>
                        <td>108100001</td>
                        <td>ADVANCED RESCUE TRAINING</td>
                        <td>2019/10/01</td>
                        <td>申請中</td>
                        <td style="text-align: center!important;"><input type="button" value="修改" style="width: 100px;padding-top: 7px" /><input type="button" value="刪除" style="width: 100px;padding-top: 7px" /></td>
                    </tr>
                    <tr>
                        <td>A1902</td>
                        <td>王寶輝</td>
                        <td>108100002</td>
                        <td>ADVANCED RESCUE TRAINING STANDARD</td>
                        <td>2019/10/01</td>
                        <td>申請中</td>
                        <td style="text-align: center!important;"><input type="button" value="修改" style="width: 100px;padding-top: 7px" /><input type="button" value="刪除" style="width: 100px;padding-top: 7px" /></td>
                    </tr>
                    <tr>
                        <td>A1903</td>
                        <td>李國強</td>
                        <td>108100003</td>
                        <td>Basic Technical Training Standard</td>
                        <td>2019/10/01</td>
                        <td>申請中</td>
                        <td style="text-align: center!important;"><input type="button" value="修改" style="width: 100px;padding-top: 7px" /><input type="button" value="刪除" style="width: 100px;padding-top: 7px" /></td>
                    </tr>
                    <tr>
                        <td>A1904</td>
                        <td>林建中</td>
                        <td>108100004</td>
                        <td>Basic Technical Training Standard</td>
                        <td>2019/10/01</td>
                        <td>申請中</td>
                        <td style="text-align: center!important;"><input type="button" value="修改" style="width: 100px;padding-top: 7px" /><input type="button" value="刪除" style="width: 100px;padding-top: 7px" /></td>
                    </tr>
                    <tr>
                        <td>A1905</td>
                        <td>江茂松</td>
                        <td>108100005</td>
                        <td>Basic Safety Training Standard</td>
                        <td>2019/10/01</td>
                        <td>申請中</td>
                        <td style="text-align: center!important;"><input type="button" value="修改" style="width: 100px;padding-top: 7px" /><input type="button" value="刪除" style="width: 100px;padding-top: 7px" /></td>
                    </tr>
                    <tr>
                        <td>A1906</td>
                        <td>袁心平</td>
                        <td>108100006</td>
                        <td>Blade Repair Standard</td>
                        <td>2019/10/01</td>
                        <td>申請中</td>
                        <td style="text-align: center!important;"><input type="button" value="修改" style="width: 100px;padding-top: 7px" /><input type="button" value="刪除" style="width: 100px;padding-top: 7px" /></td>
                    </tr>
                </table>



            </div>

            <div class="tab-pane fade" id="SigningIndex">


                <div class="col-lg-12">

                    <div class="mb-3">
                        <span>學員代碼：<input type="text" style="width: 100px" value="A1901" /></span><span class="ml-2">
                            學員姓名：<input type="text" style="width:  100px" value="鄭榮楷" />
                        </span><span class="ml-2">
                            WINDA ID：<input type="text" style="width:  182px" value="370534609" />
                        </span>
                    </div>
                    <div class="mb-3">
                        <span>證照號碼：<input type="text" style="width: 100px" value="108100001" /></span><span class="ml-2">
                            證照名稱：<input type="text" style="width:  445px" value="ADVANCED RESCUE TRAINING STANDARD" />
                        </span>
                    </div>
                    <div class="mb-3">
                        <span>申請日期：<input type="text" class="datepicker" style="width: 100px;padding: 15px;" value="2019/10/01" /></span><span class="ml-2">　　有效日期：<input type="text" class="datepicker" style="width: 100px;padding: 15px;" value="2019/10/01" /></span><span class="ml-2">　　狀態：<select style="width: 80px;"><option>申請中</option></select></span><span class="ml-2">　　承辦人：<input type="text " value="林珊珊" style="width: 104.5px" /></span>
                    </div>
                </div>
                <hr />
                <div class="col-lg-12 py-3 "><span>日期：<input type="text" class="mr-2 datepicker" value="2019/09/01" style="width: 80px; padding-left: 7px;padding-right: 0px" />~<input type="text" class="mx-2 datepicker" value="2019/09/01" style="width: 80px; padding-left: 7px;padding-right: 0px" />　學員：<input type="text" class="mr-2" style="width: 80px" />　狀態：<select style="width: 80px;"><option></option></select></span>　<input type="button" value="查詢" class="mx-2" style="width: 75px;padding-top: 7px;" />　　<input type="button" value="新增" style="width: 75px;padding-top: 7px;" /></div>

                <div class="row">
                    <div class="col-md-1">
                    </div>
                    <div class="col-md-2" style="text-align: center">
                        GWO課程碼
                    </div>
                    <div class="col-md-6" style="text-align: center">
                        GWO課程名稱
                    </div>
                    <div class="col-md-1" style="text-align: center">
                        成績
                    </div>
                    <div class="col-md-1" style="text-align: center">
                        合格
                    </div>
                    <div class="col-md-1" style="text-align: center">
                        講師
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-1">
                        <input type="text" style="width:100%" readonly value="1" />
                    </div>
                    <div class="col-md-2">
                        <input type="text" style="width:100%" readonly value="CS07-0" />
                    </div>
                    <div class="col-md-6">
                        <input type="text" style="width:100%" value="Confined Space Renewables" />
                    </div>
                    <div class="col-md-1">
                        <input type="text" style="width:100%" value="90" />
                    </div>
                    <div class="col-md-1">
                        <input type="checkbox" style="width:100%" checked="checked" />
                    </div>
                    <div class="col-md-1">
                        <input type="text" style="width:100%" value="李秀山" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-1">
                        <input type="text" style="width:100%" readonly value="2" />
                    </div>
                    <div class="col-md-2">
                        <input type="text" style="width:100%" readonly value="F08-0" />
                    </div>
                    <div class="col-md-6">
                        <input type="text" style="width:100%" value="GWO Fire Safety" />
                    </div>
                    <div class="col-md-1">
                        <input type="text" style="width:100%" value="90" />
                    </div>
                    <div class="col-md-1">
                        <input type="checkbox" style="width:100%" checked="checked" />
                    </div>
                    <div class="col-md-1">
                        <input type="text" style="width:100%" value="李秀山" />
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-1">
                        <input type="text" style="width:100%" readonly value="3" />
                    </div>
                    <div class="col-md-2">
                        <input type="text" style="width:100%" readonly value="A09-0" />
                    </div>
                    <div class="col-md-6">
                        <input type="text" style="width:100%" value="GWO First Aid" />
                    </div>
                    <div class="col-md-1">
                        <input type="text" style="width:100%" value="90" />
                    </div>
                    <div class="col-md-1">
                        <input type="checkbox" style="width:100%" checked="checked" />
                    </div>
                    <div class="col-md-1">
                        <input type="text" style="width:100%" value="陳國輝" />
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-1">
                        <input type="text" style="width:100%" readonly value="4" />
                    </div>
                    <div class="col-md-2">
                        <input type="text" style="width:100%" readonly value="MIS02-I" />
                    </div>
                    <div class="col-md-6">
                        <input type="text" style="width:100%" value="GWO Sea Survival" />
                    </div>
                    <div class="col-md-1">
                        <input type="text" style="width:100%" value="90" />
                    </div>
                    <div class="col-md-1">
                        <input type="checkbox" style="width:100%" checked="checked" />
                    </div>
                    <div class="col-md-1">
                        <input type="text" style="width:100%" value="陳國輝" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-1">
                        <input type="text" style="width:100%" readonly value="5" />
                    </div>
                    <div class="col-md-2">
                        <input type="text" style="width:100%" readonly value="S11-0" />
                    </div>
                    <div class="col-md-6">
                        <input type="text" style="width:100%" value="GWO Manual Handling" />
                    </div>
                    <div class="col-md-1">
                        <input type="text" style="width:100%" value="85" />
                    </div>
                    <div class="col-md-1">
                        <input type="checkbox" style="width:100%" checked="checked" />
                    </div>
                    <div class="col-md-1">
                        <input type="text" style="width:100%" value="李明通" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-1">
                        <input type="text" style="width:100%" readonly value="6" />
                    </div>
                    <div class="col-md-2">
                        <input type="text" style="width:100%" readonly value="WAH01-0" />
                    </div>
                    <div class="col-md-6">
                        <input type="text" style="width:100%" value="GWO Working at Height and Rescue - Wind Turbines Initial" />
                    </div>
                    <div class="col-md-1">
                        <input type="text" style="width:100%" value="95" />
                    </div>
                    <div class="col-md-1">
                        <input type="checkbox" style="width:100%" checked="checked" />
                    </div>
                    <div class="col-md-1">
                        <input type="text" style="width:100%" value="李明通" />
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-1">
                        <input type="text" style="width:100%" readonly value="7" />
                    </div>
                    <div class="col-md-2">
                        <input type="text" style="width:100%" readonly value="WAH10" />
                    </div>
                    <div class="col-md-6">
                        <input type="text" style="width:100%" value="GWO Advanced Rescue - Hub, Spinner & Inside Blade Rescue Module 1 (HSIBR)" />
                    </div>
                    <div class="col-md-1">
                        <input type="text" style="width:100%" value="85" />
                    </div>
                    <div class="col-md-1">
                        <input type="checkbox" style="width:100%" checked="checked" />
                    </div>
                    <div class="col-md-1">
                        <input type="text" style="width:100%" value="陳國輝" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-1">
                        <input type="text" style="width:100%" readonly value="8" />
                    </div>
                    <div class="col-md-2">
                        <input type="text" style="width:100%" readonly value="WAH11" />
                    </div>
                    <div class="col-md-6">
                        <input type="text" style="width:100%" value="GWO Advanced Rescue – Nacelle, Tower & Basement Module 2 (NTBR)" />
                    </div>
                    <div class="col-md-1">
                        <input type="text" style="width:100%" value="86" />
                    </div>
                    <div class="col-md-1">
                        <input type="checkbox" style="width:100%" checked="checked" />
                    </div>
                    <div class="col-md-1">
                        <input type="text" style="width:100%" value="陳國輝" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-1">
                        <input type="text" style="width:100%" readonly value="9" />
                    </div>
                    <div class="col-md-2">
                        <input type="text" style="width:100%" readonly value="S13" />
                    </div>
                    <div class="col-md-6">
                        <input type="text" style="width:100%" value="GWO Basic Safety Training Courses (All Five Modules)" />
                    </div>
                    <div class="col-md-1">
                        <input type="text" style="width:100%" value="90" />
                    </div>
                    <div class="col-md-1">
                        <input type="checkbox" style="width:100%" checked="checked" />
                    </div>
                    <div class="col-md-1">
                        <input type="text" style="width:100%" value="李秀山" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-1">
                        <input type="text" style="width:100%" readonly value="10" />
                    </div>
                    <div class="col-md-2">
                        <input type="text" style="width:100%" readonly value="WAH14" />
                    </div>
                    <div class="col-md-6">
                        <input type="text" style="width:100%" value="Work at Height - Advanced Rescue" />
                    </div>
                    <div class="col-md-1">
                        <input type="text" style="width:100%" value="80" />
                    </div>
                    <div class="col-md-1">
                        <input type="checkbox" style="width:100%" checked="checked" />
                    </div>
                    <div class="col-md-1">
                        <input type="text" style="width:100%" value="李明通" />
                    </div>
                </div>

                <hr />

                <div style="text-align: right">
                    <input type="button" value="確認" style="width: 100px;padding-top: 7px" />
                    <input type="button" value="取消" style="width: 100px;padding-top: 7px" />
                </div>


            </div>

            <div class="tab-pane fade" id="ProcessIndex">
                <div>　　簽核流程設定：</div>
                <div>　　案件代號：20190001</div>
                <div>　　附件：申請證書資料</div>
                <hr />
                <div class="row">
                    <div class="col-md-1">
                    </div>
                    <div class="col-md-2" style="text-align: center">
                        部門
                    </div>
                    <div class="col-md-2" style="text-align: center">
                        職稱
                    </div>
                    <div class="col-md-2" style="text-align: center">
                        姓名
                    </div>
                    <div class="col-md-2" style="text-align: center">
                        角色
                    </div>
                    <div class="col-md-2" style="text-align: center">
                        審查層級
                    </div>
                    <div class="col-md-1" style="text-align: center">
                        選擇
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-1">
                        <input type="text" style="width:100%" value="1" />
                    </div>
                    <div class="col-md-2">
                        <input type="text" style="width:100%" value="行政組" />
                    </div>
                    <div class="col-md-2">
                        <input type="text" style="width:100%" value="行政雇員" />
                    </div>
                    <div class="col-md-2">
                        <input type="text" style="width:100%" value="李珊珊" />
                    </div>
                    <div class="col-md-2">
                        <input type="text" style="width:100%" value="承辦人員" />
                    </div>
                    <div class="col-md-2">
                        <input type="text" style="width:100%" value="第一關" />
                    </div>
                    <div class="col-md-1">
                        <input type="checkbox" style="width:100%" checked="checked" />
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-1">
                        <input type="text" style="width:100%" value="2" />
                    </div>
                    <div class="col-md-2">
                        <input type="text" style="width:100%" value="行政組" />
                    </div>
                    <div class="col-md-2">
                        <input type="text" style="width:100%" value="組長" />
                    </div>
                    <div class="col-md-2">
                        <input type="text" style="width:100%" value="曾守義" />
                    </div>
                    <div class="col-md-2">
                        <input type="text" style="width:100%" value="審核人員" />
                    </div>
                    <div class="col-md-2">
                        <input type="text" style="width:100%" value="第二關" />
                    </div>
                    <div class="col-md-1">
                        <input type="checkbox" style="width:100%" checked="checked" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-1">
                        <input type="text" style="width:100%" value="3" />
                    </div>
                    <div class="col-md-2">
                        <input type="text" style="width:100%" value="業務處" />
                    </div>
                    <div class="col-md-2">
                        <input type="text" style="width:100%" value="主任" />
                    </div>
                    <div class="col-md-2">
                        <input type="text" style="width:100%" value="劉啟方" />
                    </div>
                    <div class="col-md-2">
                        <input type="text" style="width:100%" value="審核人員" />
                    </div>
                    <div class="col-md-2">
                        <input type="text" style="width:100%" value="第三關" />
                    </div>
                    <div class="col-md-1">
                        <input type="checkbox" style="width:100%" checked="checked" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-1">
                        <input type="text" style="width:100%" value="4" />
                    </div>
                    <div class="col-md-2">
                        <input type="text" style="width:100%" value="業務處" />
                    </div>
                    <div class="col-md-2">
                        <input type="text" style="width:100%" value="處長" />
                    </div>
                    <div class="col-md-2">
                        <input type="text" style="width:100%" value="張武宏" />
                    </div>
                    <div class="col-md-2">
                        <input type="text" style="width:100%" value="審核人員" />
                    </div>
                    <div class="col-md-2">
                        <input type="text" style="width:100%" value="第四關" />
                    </div>
                    <div class="col-md-1">
                        <input type="checkbox" style="width:100%" checked="checked" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-1">
                        <input type="text" style="width:100%" value="5" />
                    </div>
                    <div class="col-md-2">
                        <input type="text" style="width:100%" value="秘書室" />
                    </div>
                    <div class="col-md-2">
                        <input type="text" style="width:100%" value="執行長" />
                    </div>
                    <div class="col-md-2">
                        <input type="text" style="width:100%" value="趙永馨" />
                    </div>
                    <div class="col-md-2">
                        <input type="text" style="width:100%" value="決行人員" />
                    </div>
                    <div class="col-md-2">
                        <input type="text" style="width:100%" value="第五關" />
                    </div>
                    <div class="col-md-1">
                        <input type="checkbox" style="width:100%" checked="checked" />
                    </div>
                </div>
                <hr />

                <div style="text-align: right">
                    <input type="button" value="確認" style="width: 100px;padding-top: 7px" />
                    <input type="button" value="取消" style="width: 100px;padding-top: 7px" />
                </div>




            </div>

            <div class="tab-pane fade" id="RecordIndex">
                <div class="col-lg-12 py-3 "><span>日期：<input type="text" class="mr-2 datepicker" value="2019/09/01" style="width: 80px; padding-left: 7px;padding-right: 0px" />~<input type="text" class="mx-2 datepicker" value="2019/10/01" style="width: 80px; padding-left: 7px;padding-right: 0px" />　案件：<input type="text" class="mr-2" style="width: 80px" />　狀態：<select style="width: 80px;"><option>核准</option></select></span>　<input type="button" value="查詢" class="mx-2" style="width: 75px;padding-top: 7px;" /></div>
                <hr />
                <div>　　案件代號：<input type="text" style="width: 100px" value="20190001" /></div>
                <br />
                <div class="row">
                    <div class="col-md-1" style="text-align: center">
                        層級
                    </div>
                    <div class="col-md-1" style="text-align: center">
                        簽核單位
                    </div>
                    <div class="col-md-1" style="text-align: center">
                        職稱
                    </div>
                    <div class="col-md-1" style="text-align: center">
                        簽核人員
                    </div>
                    <div class="col-md-3" style="text-align: center">
                        簽核日期
                    </div>
                    <div class="col-md-1" style="text-align: center">
                        狀態
                    </div>
                    <div class="col-md-4" style="text-align: center">
                        會辦意見
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-1">
                        <input type="text" style="width:100%" value="1" />
                    </div>
                    <div class="col-md-1">
                        <input type="text" style="width:100%" value="行政組" />
                    </div>
                    <div class="col-md-1">
                        <input type="text" style="width:100%" value="行政雇員" />
                    </div>
                    <div class="col-md-1">
                        <input type="text" style="width:100%" value="李珊珊" />
                    </div>
                    <div class="col-md-3">
                        <input type="text" style="width:100%" value="2019/10/01  08:20" />
                    </div>
                    <div class="col-md-1">
                        <input type="text" style="width:100%" value="核准" />
                    </div>
                    <div class="col-md-4">
                        <input type="text" style="width:100%" value="" />
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-1">
                        <input type="text" style="width:100%" value="2" />
                    </div>
                    <div class="col-md-1">
                        <input type="text" style="width:100%" value="行政組" />
                    </div>
                    <div class="col-md-1">
                        <input type="text" style="width:100%" value="組長" />
                    </div>
                    <div class="col-md-1">
                        <input type="text" style="width:100%" value="曾守義" />
                    </div>
                    <div class="col-md-3">
                        <input type="text" style="width:100%" value="2019/10/03  09:24" />
                    </div>
                    <div class="col-md-1">
                        <input type="text" style="width:100%" value="核准" />
                    </div>
                    <div class="col-md-4">
                        <input type="text" style="width:100%" value="同意" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-1">
                        <input type="text" style="width:100%" value="3" />
                    </div>
                    <div class="col-md-1">
                        <input type="text" style="width:100%" value="業務處" />
                    </div>
                    <div class="col-md-1">
                        <input type="text" style="width:100%" value="主任" />
                    </div>
                    <div class="col-md-1">
                        <input type="text" style="width:100%" value="劉啟方" />
                    </div>
                    <div class="col-md-3">
                        <input type="text" style="width:100%" value="2019/10/04  10:11" />
                    </div>
                    <div class="col-md-1">
                        <input type="text" style="width:100%" value="核准" />
                    </div>
                    <div class="col-md-4">
                        <input type="text" style="width:100%" value="同意" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-1">
                        <input type="text" style="width:100%" value="4" />
                    </div>
                    <div class="col-md-1">
                        <input type="text" style="width:100%" value="業務處" />
                    </div>
                    <div class="col-md-1">
                        <input type="text" style="width:100%" value="處長" />
                    </div>
                    <div class="col-md-1">
                        <input type="text" style="width:100%" value="張武宏" />
                    </div>
                    <div class="col-md-3">
                        <input type="text" style="width:100%" value="2019/10/05  15:21" />
                    </div>
                    <div class="col-md-1">
                        <input type="text" style="width:100%" value="核准" />
                    </div>
                    <div class="col-md-4">
                        <input type="text" style="width:100%" value="同意" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-1">
                        <input type="text" style="width:100%" value="5" />
                    </div>
                    <div class="col-md-1">
                        <input type="text" style="width:100%" value="秘書室" />
                    </div>
                    <div class="col-md-1">
                        <input type="text" style="width:100%" value="執行長" />
                    </div>
                    <div class="col-md-1">
                        <input type="text" style="width:100%" value="趙永馨" />
                    </div>
                    <div class="col-md-3">
                        <input type="text" style="width:100%" value="2019/10/06  16:30" />
                    </div>
                    <div class="col-md-1">
                        <input type="text" style="width:100%" value="決行" />
                    </div>
                    <div class="col-md-4">
                        <input type="text" style="width:100%" value="證書審核後資上傳至GWO認證" />
                    </div>
                </div>
                <hr />

                <div style="text-align: right">
                    <input type="button" value="確認" style="width: 100px;padding-top: 7px" />
                    <input type="button" value="取消" style="width: 100px;padding-top: 7px" />
                </div>
            </div>
            <div class="tab-pane fade" id="ReportIndex">


            </div>
        </div>
    </div>
</div>

@section Scripts {

    <script src="~/Scripts/jquery-ui-1.8.24.min.js"></script>
    <script src="@Url.Content("~/Scripts/jquery.colorbox-min.js")" type="text/javascript"></script>
    <link href="@Url.Content("~/Content/colorbox/colorbox.css")" rel="stylesheet" type="text/css" />



    <script>
        $(document).ready(function () {
            $("#Application").addClass("active");
            $("#ApplicationIndex").addClass("active show");



            $("#Application").click(function () {
                $(this).addClass("active");
                $("#ApplicationIndex").addClass("active show");
                $("#Signing").removeClass("active");
                $("#SigningIndex").removeClass("active");
                $("#Process").removeClass("active");
                $("#ProcessIndex").removeClass("active");
                $("#Record").removeClass("active");
                $("#RecordIndex").removeClass("active");
                $("#Report").removeClass("active");
                $("#ReportIndex").removeClass("active");
            });
            $("#Signing").click(function () {
                $(this).addClass("active");
                $("#SigningIndex").addClass("active show");
                $("#Application").removeClass("active");
                $("#ApplicationIndex").removeClass("active");
                $("#Process").removeClass("active");
                $("#ProcessIndex").removeClass("active");
                $("#Record").removeClass("active");
                $("#RecordIndex").removeClass("active");
                $("#Report").removeClass("active");
                $("#ReportIndex").removeClass("active");

            });
            $("#Process").click(function () {
                $(this).addClass("active");
                $("#ProcessIndex").addClass("active show");
                $("#Application").removeClass("active");
                $("#ApplicationIndex").removeClass("active");
                $("#Signing").removeClass("active");
                $("#SigningIndex").removeClass("active");
                $("#Record").removeClass("active");
                $("#RecordIndex").removeClass("active");
                $("#Report").removeClass("active");
                $("#ReportIndex").removeClass("active");

            });
            $("#Record").click(function () {
                $(this).addClass("active");
                $("#RecordIndex").addClass("active show");
                $("#Application").removeClass("active");
                $("#ApplicationIndex").removeClass("active");
                $("#Signing").removeClass("active");
                $("#SigningIndex").removeClass("active");
                $("#Process").removeClass("active");
                $("#ProcessIndex").removeClass("active");
                $("#Report").removeClass("active");
                $("#ReportIndex").removeClass("active");

            });
            $("#Report").click(function () {
                $(this).addClass("active");
                $("#ReportIndex").addClass("active show");
                $("#Application").removeClass("active");
                $("#ApplicationIndex").removeClass("active");
                $("#Signing").removeClass("active");
                $("#SigningIndex").removeClass("active");
                $("#Process").removeClass("active");
                $("#ProcessIndex").removeClass("active");
                $("#Record").removeClass("active");
                $("#RecordIndex").removeClass("active");

            });
        });

    </script>
}
