﻿@{
    ViewBag.Title = "證書上傳作業";
}
<style>
    th {
        background-color: lightgrey;
        text-align: center;
    }

    table, select, input, textarea {
        font-size: 14px;
    }

    td {
        text-align: left;
    }
</style>
<h2>證書上傳作業</h2>
<div class="row">
    <div class="col-lg-12">
        <ul class="nav nav-tabs">
            <li class="nav-item"><a class="nav-link" id="Maintenance">證書維護</a></li>
            <li class="nav-item"><a class="nav-link" id="UploadData">上傳GWO資料匯出</a></li>
            <li class="nav-item"><a class="nav-link" id="DownloadData">下載GWO資料匯入</a></li>
            <li class="nav-item"><a class="nav-link" id="Report">管理報表</a></li>
        </ul>
    </div>
    <div class="col-lg-12 py-3">
        <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade" id="MaintenanceIndex">

                <div class="col-lg-12">

                    <div class="mb-3">
                        <span>學員代碼：<input type="text" style="width: 100px" value="A1901" /></span><span class="ml-2">
                            學員姓名：<input type="text" style="width:  100px" value="鄭榮楷" />
                        </span><span class="ml-2">　　　　　　WINDA ID：<input type="text" style="width:  182px" value="370534609" /></span>
                    </div>
                    <div class="mb-3">
                        <span>證照號碼：<input type="text" style="width: 100px" value="108100001" /></span><span class="ml-2">
                            證照名稱：<input type="text" style="width:  445px" value="ADVANCED RESCUE TRAINING STANDARD" />
                        </span>
                    </div>
                    <div class="mb-3">
                        <span>申請日期：<input type="text" class="datepicker" style="width: 100px;padding: 15px;" value="2019/10/01" /></span><span class="ml-2">　　有效日期：<input type="text" class="datepicker" style="width: 100px;padding: 15px;" value="2019/10/01" /></span><span class="ml-2">　　狀態：<select style="width: 80px;"><option>申請中</option></select></span><span class="ml-2">　　承辦人：<input type="text " value="林珊珊" style="width: 104.5px" /></span>
                    </div>
                </div>
                <hr />
                <div class="col-lg-12 py-3 "><span>日期：<input type="text" class="mr-2 datepicker" value="2019/09/01" style="width: 80px; padding-left: 7px;padding-right: 0px" />~<input type="text" class="mx-2 datepicker" value="2019/09/01" style="width: 80px; padding-left: 7px;padding-right: 0px" />　學員：<input type="text" class="mr-2" style="width: 80px" />　狀態：<select style="width: 80px;"><option></option></select></span>　<input type="button" value="查詢" class="mx-2" style="width: 75px;padding-top: 7px;" />　　<input type="button" value="新增" style="width: 75px;padding-top: 7px;" /></div>
                <table class="table-bordered" style="width: 100%;text-align: center;">
                    <tr>
                        <th>代碼</th>
                        <th>學員姓名</th>
                        <th>證照號碼</th>
                        <th>證照名稱</th>
                        <th></th>
                    </tr>
                    <tr>
                        <td>A1901</td>
                        <td>鄭榮楷</td>
                        <td>108100001</td>
                        <td>ADVANCED RESCUE TRAINING</td>
                        <td style="text-align: center!important;"><input type="button" value="修改" style="width: 100px;padding-top: 7px" /><input type="button" value="刪除" style="width: 100px;padding-top: 7px" /></td>
                    </tr>
                    <tr>
                        <td>A1902</td>
                        <td>王寶輝</td>
                        <td>108100002</td>
                        <td>ADVANCED RESCUE TRAINING STANDARD</td>
                        <td style="text-align: center!important;"><input type="button" value="修改" style="width: 100px;padding-top: 7px" /><input type="button" value="刪除" style="width: 100px;padding-top: 7px" /></td>
                    </tr>
                    <tr>
                        <td>A1903</td>
                        <td>李國強</td>
                        <td>108100003</td>
                        <td>Basic Technical Training Standard</td>
                        <td style="text-align: center!important;"><input type="button" value="修改" style="width: 100px;padding-top: 7px" /><input type="button" value="刪除" style="width: 100px;padding-top: 7px" /></td>
                    </tr>
                    <tr>
                        <td>A1904</td>
                        <td>林建中</td>
                        <td>108100004</td>
                        <td>Basic Technical Training Standard</td>
                        <td style="text-align: center!important;"><input type="button" value="修改" style="width: 100px;padding-top: 7px" /><input type="button" value="刪除" style="width: 100px;padding-top: 7px" /></td>
                    </tr>
                    <tr>
                        <td>A1905</td>
                        <td>江茂松</td>
                        <td>108100005</td>
                        <td>Basic Safety Training Standard</td>
                        <td style="text-align: center!important;"><input type="button" value="修改" style="width: 100px;padding-top: 7px" /><input type="button" value="刪除" style="width: 100px;padding-top: 7px" /></td>
                    </tr>
                    <tr>
                        <td>A1906</td>
                        <td>袁心平</td>
                        <td>108100006</td>
                        <td>Blade Repair Standard</td>
                        <td style="text-align: center!important;"><input type="button" value="修改" style="width: 100px;padding-top: 7px" /><input type="button" value="刪除" style="width: 100px;padding-top: 7px" /></td>
                    </tr>
                </table>



            </div>
            <div class="tab-pane fade" id="UploadDataIndex">

                <div class="col-lg-12">

                    <div class="mb-3">
                        <span>WINDA ID：<input type="text" style="width: 100px" value="370534609" /></span><span class="ml-2">
                            中文姓名：<input type="text" style="width:  100px" value="鄭榮楷" />
                        </span><span class="ml-2">　　　　English Name：<input type="text" style="width:  182px" value="Zheng Rongzhen" /></span>
                    </div>
                    <div class="mb-3">
                        <span>Training Standard：<input type="text" style="width: 190px;padding: 7px;" value="ADVANCED RESCUE" /></span><span class="ml-2">
                            描述：<input type="text" style="width:  332px" value="Upload ok" />
                        </span>
                    </div>
                    <div class="mb-3">
                        <span>上傳檔名：<input type="text" style="width: 100px;padding: 7px" value="20191120001 " /></span><span class="ml-2">　　上傳日期：<input type="text" class="datepicker" style="width: 100px;padding: 15px;" value="2020/11/30" /></span><span class="ml-2">　　狀態：<select style="width: 80px;"><option>完成</option></select></span><span class="ml-2">　　承辦人：<input type="text " value="林珊珊" style="width: 104.5px" /></span>
                    </div>
                </div>
                <hr />
                <div class="col-lg-12 py-3 "><span>日期：<input type="text" class="mr-2 datepicker" value="2019/09/01" style="width: 80px; padding-left: 7px;padding-right: 0px" />~<input type="text" class="mx-2 datepicker" value="2019/09/01" style="width: 80px; padding-left: 7px;padding-right: 0px" />　學員：<input type="text" class="mr-2" style="width: 80px" />　狀態：<select style="width: 80px;"><option></option></select></span>　　　<input type="button" value="查詢" class="mx-2" style="width: 100px;padding-top: 7px;" /></div>
                <table class="table-bordered" style="width: 100%;text-align: center;">
                    <tr>
                        <th style="width: 10%">Training Standard</th>
                        <th style="width: 10%">WINDA CODE</th>
                        <th style="width: 20%">Title</th>
                        <th style="width: 10%">TYPE</th>
                        <th style="width: 10%">Validity period(months)</th>
                        <th style="width: 15%">Completion Date</th>
                        <th style="width: 20%">Record Maintain</th>
                        <th style="width: 5%">Upload　<input type="checkbox" checked="checked" style="width: 30px" /></th>
                    </tr>
                    <tr>
                        <td>ADVANCED RESCUE</td>
                        <td style="text-align: center">ART-H</td>
                        <td>ADVANCED RESCUE TRAINING-HUB</td>
                        <td style="text-align: center">FULL</td>
                        <td style="text-align: center">24</td>
                        <td style="text-align: center">2019/10/01</td>
                        <td style="text-align: center!important"><input type="button" value="修改" style="width: 95px;padding-top: 7px" /><input type="button" value="刪除" style="width: 95px;padding-top: 7px" /></td>
                        <td style="text-align: center"><input type="checkbox" checked="checked" style="width: 30px" /></td>
                    </tr>
                    <tr>
                        <td>ADVANCED RESCUE</td>
                        <td style="text-align: center">ART-HR</td>
                        <td>ADVANCED RESCUE TRAINING-HUB REFRESHER</td>
                        <td style="text-align: center">REFRESHER</td>
                        <td style="text-align: center">24</td>
                        <td style="text-align: center">2019/10/02</td>
                        <td style="text-align: center!important"><input type="button" value="修改" style="width: 95px;padding-top: 7px" /><input type="button" value="刪除" style="width: 95px;padding-top: 7px" /></td>
                        <td style="text-align: center"><input type="checkbox" checked="checked" style="width: 30px" /></td>
                    </tr>
                    <tr>
                        <td>ADVANCED RESCUE</td>
                        <td style="text-align: center">ART-N</td>
                        <td>ADVANCED RESCUE TRAINING-NACELLE</td>
                        <td style="text-align: center">FULL</td>
                        <td style="text-align: center">24</td>
                        <td style="text-align: center">2019/10/03</td>
                        <td style="text-align: center!important"><input type="button" value="修改" style="width: 95px;padding-top: 7px" /><input type="button" value="刪除" style="width: 95px;padding-top: 7px" /></td>
                        <td style="text-align: center"><input type="checkbox" checked="checked" style="width: 30px" /></td>
                    </tr>
                    <tr>
                        <td>ADVANCED RESCUE</td>
                        <td style="text-align: center">ART-NR</td>
                        <td>ADVANCED RESCUE TRAINING-NACELLE REFRESHER</td>
                        <td style="text-align: center">REFRESHER</td>
                        <td style="text-align: center">24</td>
                        <td style="text-align: center">2019/11/04</td>
                        <td style="text-align: center!important"><input type="button" value="修改" style="width: 95px;padding-top: 7px" /><input type="button" value="刪除" style="width: 95px;padding-top: 7px" /></td>
                        <td style="text-align: center"><input type="checkbox" checked="checked" style="width: 30px" /></td>
                    </tr>
                    <tr>
                        <td>ADVANCED RESCUE</td>
                        <td style="text-align: center">SART-H</td>
                        <td>SINLETON ADVANCED RESCUE TRAINING-HUB</td>
                        <td style="text-align: center">FULL</td>
                        <td style="text-align: center">N/A</td>
                        <td style="text-align: center">2019/11/10</td>
                        <td style="text-align: center!important"><input type="button" value="修改" style="width: 95px;padding-top: 7px" /><input type="button" value="刪除" style="width: 95px;padding-top: 7px" /></td>
                        <td style="text-align: center"><input type="checkbox" checked="checked" style="width: 30px" /></td>
                    </tr>
                    <tr>
                        <td>ADVANCED RESCUE</td>
                        <td style="text-align: center">SART-N</td>
                        <td>SINLETON ADVANCED RESCUE TRAINING-NACELLE</td>
                        <td style="text-align: center">FULL</td>
                        <td style="text-align: center">N/A</td>
                        <td style="text-align: center">2019/11/15</td>
                        <td style="text-align: center!important"><input type="button" value="修改" style="width: 95px;padding-top: 7px" /><input type="button" value="刪除" style="width: 95px;padding-top: 7px" /></td>
                        <td style="text-align: center"><input type="checkbox" checked="checked" style="width: 30px" /></td>
                    </tr>
                </table>
                <hr />

                <div style="text-align: right">
                    <input type="button" value="確認" style="width: 100px;padding-top: 7px" />
                    <input type="button" value="取消" style="width: 100px;padding-top: 7px" />
                </div>
            </div>
            <div class="tab-pane fade" id="DownloadDataIndex">


            </div>
            <div class="tab-pane fade" id="ReportIndex">


            </div>
        </div>
    </div>
</div>



@section Scripts {

    <script src="~/Scripts/jquery-ui-1.8.24.min.js"></script>
    <script src="@Url.Content("~/Scripts/jquery.colorbox-min.js")" type="text/javascript"></script>
    <link href="@Url.Content("~/Content/colorbox/colorbox.css")" rel="stylesheet" type="text/css" />



    <script>
        $(document).ready(function () {
            $("#Maintenance").addClass("active");
            $("#MaintenanceIndex").addClass("active show");



            $("#Maintenance").click(function () {
                $(this).addClass("active");
                $("#MaintenanceIndex").addClass("active show");
                $("#UploadData").removeClass("active");
                $("#UploadDataIndex").removeClass("active");
                $("#DownloadData").removeClass("active");
                $("#DownloadDataIndex").removeClass("active");
                $("#Report").removeClass("active");
                $("#ReportIndex").removeClass("active");
            });
            $("#UploadData").click(function () {
                $(this).addClass("active");
                $("#UploadDataIndex").addClass("active show");
                $("#Maintenance").removeClass("active");
                $("#MaintenanceIndex").removeClass("active");
                $("#DownloadData").removeClass("active");
                $("#DownloadDataIndex").removeClass("active");
                $("#Report").removeClass("active");
                $("#ReportIndex").removeClass("active");

            });
            $("#DownloadData").click(function () {
                $(this).addClass("active");
                $("#DownloadDataIndex").addClass("active show");
                $("#Maintenance").removeClass("active");
                $("#MaintenanceIndex").removeClass("active");
                $("#UploadData").removeClass("active");
                $("#UploadDataIndex").removeClass("active");
                $("#Report").removeClass("active");
                $("#ReportIndex").removeClass("active");

            });
          $("#Report").click(function () {
                $(this).addClass("active");
                $("#ReportIndex").addClass("active show");
                $("#Maintenance").removeClass("active");
                $("#MaintenanceIndex").removeClass("active");
                $("#UploadData").removeClass("active");
                $("#UploadDataIndex").removeClass("active");
                $("#DownloadData").removeClass("active");
                $("#DownloadDataIndex").removeClass("active");
            });
        });

    </script>
}
