﻿@using Enrollment.Models
@model Enrollment.Models.Place

@{
    ViewBag.path= "<i class=\"fa fa-home\" aria-hidden=\"true\"></i>首頁 &gt; 八、場地管理系統 &gt; 教室管理系統 &gt; ";

    ViewBag.Title = "新增教室";
}

<h2>新增教室</h2>

@using (Html.BeginForm())
{

    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @ViewBag.Message
    <fieldset>
        <legend>Place</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.PlaceNumber)

        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.PlaceNumber, new { placeholder = ModelsAttributeHelper<Enrollment.Models.Place>.GetDisplayName("PlaceNumber") })
            @Html.ValidationMessageFor(model => model.PlaceNumber)


        </div>

        <div class="editor-label" style="display: none">
            @Html.LabelFor(model => model.category)

        </div>
        <div class="editor-field" style="display: none">
            @Html.DropDownListFor(model => model.category, new SelectList(Enum.GetValues(typeof(Enrollment.Models.Category)), Category.教室))
            @Html.ValidationMessageFor(model => model.category)


        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PlaceName)

        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.PlaceName, new { placeholder = ModelsAttributeHelper<Enrollment.Models.Place>.GetDisplayName("PlaceName") })
            @Html.ValidationMessageFor(model => model.PlaceName)


        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Location)

        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Location, new { placeholder = ModelsAttributeHelper<Enrollment.Models.Place>.GetDisplayName("Location") })
            @Html.ValidationMessageFor(model => model.Location)


        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Numberlimit)

        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Numberlimit, new { type = "Number", placeholder = ModelsAttributeHelper<Enrollment.Models.Place>.GetDisplayName("Numberlimit") })
            @Html.ValidationMessageFor(model => model.Numberlimit)


        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Enable)

        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.Enable, new SelectList(Enum.GetValues(typeof(Enrollment.Models.BooleanType))))
            @Html.ValidationMessageFor(model => model.Enable)


        </div>


        <p>
            <input type="submit" value="新增" /><input type="button" onclick="history.back()" value="回到上一頁" />
        </p>
    </fieldset>
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")


}
