﻿@model Enrollment.Models.Place

@{
    ViewBag.path= "<i class=\"fa fa-home\" aria-hidden=\"true\"></i>首頁 &gt; 八、場地管理系統 &gt; 教室管理系統 &gt; ";

    ViewBag.Title = "刪除教室";
}

<h2>刪除教室</h2>

<h3>你確定要刪除嗎?</h3>
<fieldset>
    <legend>Place</legend>
</fieldset>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" class="btn btn-DeleteCheck" value="刪除" /> |
        <input type="button" onclick="history.back()" value="回到上一頁" />
    </p>
}
