﻿
@using Enrollment.Models
@model Enrollment.Models.Place

@{
    ViewBag.path= "<i class=\"fa fa-home\" aria-hidden=\"true\"></i>首頁 &gt; 八、場地管理系統 &gt; 宿舍管理系統 &gt; ";

    ViewBag.Title = "編輯宿舍";
}

<h2>編輯宿舍</h2>

@using (Html.BeginForm())
{

    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Place</legend>

        @Html.HiddenFor(model => model.Id)

        <div class="editor-label">
            @Html.LabelFor(model => model.PlaceNumber)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.PlaceNumber, new { placeholder = ModelsAttributeHelper<Enrollment.Models.Place>.GetDisplayName("PlaceNumber") })

        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.category)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.category, new SelectList(Enum.GetValues(typeof(Enrollment.Models.Category))))
            @Html.ValidationMessageFor(model => model.category)

        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PlaceName)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.PlaceName, new { placeholder = ModelsAttributeHelper<Enrollment.Models.Place>.GetDisplayName("PlaceName") })

        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Location)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Location, new { placeholder = ModelsAttributeHelper<Enrollment.Models.Place>.GetDisplayName("Location") })

        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Numberlimit)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Numberlimit, new { type = "Number", placeholder = ModelsAttributeHelper<Enrollment.Models.Place>.GetDisplayName("Numberlimit") })

        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Enable)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.Enable, new SelectList(Enum.GetValues(typeof(Enrollment.Models.BooleanType))))
            @Html.ValidationMessageFor(model => model.Enable)

        </div>

        @Html.HiddenFor(model => model.Poster)
        @Html.HiddenFor(model => model.InitDate)
        @Html.HiddenFor(model => model.UpdateID)
        @Html.HiddenFor(model => model.UpdateDate)
        <p>
            <input type="submit" value="更新" /> <input type="button" onclick="history.back()" value="回到上一頁" />
        </p>
    </fieldset>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

}
