input[type="search"] {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: textfield;
}

input {
    height: 35px;
    box-sizing: border-box;
    font-size: 18px;
    border: 0px solid #CCC;
    background: #f7f7f7;
    border-radius: 5px;
    padding: 10px 15px;
    /* width: 100%; */
}

body, p, input, button, select, textarea, .navbar-search .search-query {
    font-family: 'Segoe UI', Optima, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

* {
    box-sizing: border-box;
}

body, p, input, button, select, textarea, .navbar-search .search-query {
    font-family: 'Segoe UI', Optima, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

body {
    padding: 30px 0 40px 0;
    min-height: 600px;
    color: #383e4b;
}

.table th {
    font-weight: 200;
    padding: 6px 8px;
    background: #4f4f4f;
    color: white;
}

.table th, .table td {
    vertical-align: middle;
}

.table td, .table th {
    padding: .75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}

.btn.btn-primary:hover {
    color: gray;
    background: #FFF;
}

.btn.btn-primary {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
    text-shadow: none;
    text-decoration: none !important;
}

button, input[type="button"], input[type="reset"], input[type="submit"] {
    /* background: #2c3c5f; */
}

.btn {
    font-size: 14px;
}

.btn {
    padding: 0.5rem 1rem;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    filter: none;
    text-shadow: none;
    background: #dce0f1;
    border: 0;
    border-radius: 5px;
}

input {
    height: 35px;
    box-sizing: border-box;
    font-size: 18px;
    border: 0px solid #CCC;
    background: #f7f7f7;
    border-radius: 5px;
    padding: 10px 15px;
    /* width: 100%; */
}

@media (max-width: 1440px) {
    #content #page-dashboard h2 {
        font-size: 20px;
    }
}

#content #page-dashboard h2 {
    padding: 10px 0;
    font-size: 22px;
    color: #2c3c5f;
        letter-spacing:5px;
        font-weight:500;
}

textarea {
    letter-spacing: 4px;
    line-height: 2;
    resize: none;
    padding: 10px;
    font-size: 20px;
    width: 100%;
    height: 150px;
    border: 0px solid white;
    background: #f7f7f7;
}

select {
    width: 210px;
    background: #f9f9f9;
    /* border: 1px solid #d5d5d5; */
    border: 1px solid #adadad;
    font-size: 16px;
    height: 35px;
}

button, input[type="button"], input[type="reset"], input[type="submit"] {
    /* background: #2c3c5f; */
}

input {
    height: 35px;
    box-sizing: border-box;
    font-size: 18px;
    border: 0px solid #CCC;
    background: #f7f7f7;
    border-radius: 5px;
    padding: 10px 15px;
    /* width: 100%; */
}

body, p, input, button, select, textarea, .navbar-search .search-query {
    font-family: 'Segoe UI', Optima, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

    input[type="submit"] {
        padding: 10px;
        background: #5c5353;
        background-image: initial;
        background-position-x: initial;
        background-position-y: initial;
        background-size: initial;
        background-repeat-x: initial;
        background-repeat-y: initial;
        background-attachment: initial;
        background-origin: initial;
        background-clip: initial;
        background-color: rgb(92, 83, 83);
        color: white;
        cursor: pointer;
        -webkit-appearance: button;
    }

.pager {
    text-align: center;
}
@media (max-width: 1440px) {
    #content #page-dashboard h2 {
        font-size: 20px;
    }
}
button, input[type="button"], input[type="reset"], input[type="submit"] {
    padding: 10px;
    background: #5c5353;
    color: white;
    cursor: pointer;
    -webkit-appearance: button;
}
body, p, input, button, select, textarea, .navbar-search .search-query {
    font-family: 'Segoe UI', Optima, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
body {
    padding: 30px 0 40px 0;
    min-height: 600px;
    color: #383e4b;
}
