/* === UTILS ==={ */
/* }=== UTILS === */
/* === COLOR - AZURE ==={ */
/* }=== COLOR - AZURE === */
/* === MADMIN MENU ==={ */
/* general setup & list styles reset */
.sidebar-menu li > a,
.sidebar-menu li > div > a {
  position: relative;
}

.sidebar-menu,
.sidebar-menu ul,
.sidebar-menu li {
  font-size: 17px;
  position: relative;
  list-style: none;
  padding: 0;
  margin: 0;
}
.sidebar-menu > li,
.sidebar-menu > li > div {
}
.sidebar-menu li > a {
  white-space: nowrap;
  transition: all .2s;
}
.sidebar-menu li > div > a > [class^="icon-"] + span {
  position: relative;
  top: -4px;
}
.sidebar-menu li > div > a > span {
  display: none;
  text-align: left;
  position: relative;
  top: -3px;
  font-size: 16px;
}

.sidebar-toggle-button {
    position: fixed;
    z-index: 4;
    left: 0;
    top: 70px;
    width: 60px;
    color: rgba(0,0,0,.5);
    height: 100%;
}

.hide-to-show {
  display: inline-block!important;
}

.avoid-cover {
  margin-left: 200px!important;
}

.sidebar-menu > li > div {
  position: relative;

}
.sidebar-menu > li > div > a {
    display: block;
    color: white;
    color: rgba(255,255,255,.8);
    text-decoration: none;
    -webkit-transition: background-color 0.2s ease-in-out;
    -moz-transition: background-color 0.2s ease-in-out;
    -o-transition: background-color 0.2s ease-in-out;
    transition: background-color 0.2s ease-in-out;
    text-shadow: none;
    padding: 10px;
    text-transform: uppercase;
    transition: all 1s;
}



.sidebar-menu > li > div > a > [class^="icon-"] {
  margin-right: 10px;
  font-size: 28px;
  line-height: 28px;
  font-weight: normal;
}
.sidebar-menu > li > div > a > [class^="icon-icomoon-"] {
  position: relative;
  top: 2px;
  font-size: 26px;
  line-height: 26px;
}


.sidebar-menu > li.active > div > a {
  /* background: #cfcfcf; */
  /* color: #20202f; */
}

.sidebar-menu ul {
  display: none;
}
.sidebar-menu ul > li > a {
  color: #9a9ea8;
  display: block;
  padding: 10px 30px 10px 60px;
  font-size: 100%;
  transition: all .5s;
}

.sidebar-menu ul > li > a:hover {
  padding: 10px 40px;
}
.sidebar-menu > li.parent li.parent > a > span:after {
  content: "";
  display: inline-block;
  width: 0px;
  height: 0px;
  border-width: 5px;
  border-style: solid;
  border-color: #6bbef6 #6bbef6 #6bbef6 #ffffff;
  margin-left: 8px;
}
/* drop-right */
.sidebar-menu.on-hover > li.parent.inactive:hover > div > ul,
.sidebar-menu > li.parent.inactive.open > div > ul {
  display: block;
  /* position: absolute; */
  /* top: 0 !important; */
  /* left: 100% !important; */
  /* background: #434343; */
}
.sidebar-menu.on-hover > li.parent.inactive:hover > div > ul > li > a,
.sidebar-menu > li.parent.inactive.open > div > ul > li > a,
.sidebar-menu.on-hover > li.parent.inactive:hover > div > ul > li > div > a,
.sidebar-menu > li.parent.inactive.open > div > ul > li > div > a {
  color:white;
  color:rgba(255,255,255,.6);
}
.sidebar-menu.on-hover > li.parent.inactive:hover > div > ul > li:hover > a,
.sidebar-menu > li.parent.inactive.open > div > ul > li:hover > a,
.sidebar-menu.on-hover > li.parent.inactive:hover > div > ul > li.active > a,
.sidebar-menu > li.parent.inactive.open > div > ul > li.active > a,
.sidebar-menu.on-hover > li.parent.inactive:hover > div > ul > li.active > a:hover,
.sidebar-menu > li.parent.inactive.open > div > ul > li.active > a:hover {
  /*padding-left: 8px !important;*/
  /*border-left: 8px solid #fcfca0;*/
}
.sidebar-menu.on-hover > li.parent.inactive:hover > div > ul > li.active > a,
.sidebar-menu > li.parent.inactive.open > div > ul > li.active > a,
.sidebar-menu.on-hover > li.parent.inactive:hover > div > ul > li.active > div > a,
.sidebar-menu > li.parent.inactive.open > div > ul > li.active > div > a,
.sidebar-menu.on-hover > li.parent.inactive:hover > div > ul > li.active > a:hover,
.sidebar-menu > li.parent.inactive.open > div > ul > li.active > a:hover,
.sidebar-menu.on-hover > li.parent.inactive:hover > div > ul > li.active > div > a:hover,
.sidebar-menu > li.parent.inactive.open > div > ul > li.active > div > a:hover {
  color: #20202f;
  border-color: #20202f;
}
.sidebar-menu > li.parent > div > ul li.open > ul,
.sidebar-menu > li.parent > div > ul li:hover > ul {
  display: block;
  position: absolute;
  top: -10px !important;
  left: 100% !important;
  padding: 10px 0;
  background: #6bbef6;
}
.sidebar-menu > li.parent > div > ul li.open > ul > li > a,
.sidebar-menu > li.parent > div > ul li:hover > ul > li > a,
.sidebar-menu > li.parent > div > ul li.open > ul > li > div > a,
.sidebar-menu > li.parent > div > ul li:hover > ul > li > div > a {
  padding: 5px 16px;
  height: 20px;
  color: #ffffff;
}
.sidebar-menu > li.parent > div > ul li.open > ul > li:hover > a,
.sidebar-menu > li.parent > div > ul li:hover > ul > li:hover > a,
.sidebar-menu > li.parent > div > ul li.open > ul > li.active > a,
.sidebar-menu > li.parent > div > ul li:hover > ul > li.active > a,
.sidebar-menu > li.parent > div > ul li.open > ul > li.active > a:hover,
.sidebar-menu > li.parent > div > ul li:hover > ul > li.active > a:hover {
  padding-left: 8px !important;
  border-left: 8px solid #aedcfb;
}
.sidebar-menu > li.parent > div > ul li.open > ul > li.active > a,
.sidebar-menu > li.parent > div > ul li:hover > ul > li.active > a,
.sidebar-menu > li.parent > div > ul li.open > ul > li.active > div > a,
.sidebar-menu > li.parent > div > ul li:hover > ul > li.active > div > a,
.sidebar-menu > li.parent > div > ul li.open > ul > li.active > a:hover,
.sidebar-menu > li.parent > div > ul li:hover > ul > li.active > a:hover,
.sidebar-menu > li.parent > div > ul li.open > ul > li.active > div > a:hover,
.sidebar-menu > li.parent > div > ul li:hover > ul > li.active > div > a:hover {
  color: #20202f;
  border-color: #20202f;
}

.sidebar-max .sidebar-menu > li.active,
.sidebar-max .sidebar-menu > li.active > div {
  
}
.sidebar-max .sidebar-menu .active > div > ul {
  display: none;
  padding-bottom: 10px;
}
.sidebar-max .sidebar-menu .active > div > ul > li > a {
  /* margin-left: 72px; */
  color: #61b0e9;
  border-color: #61b0e9;
}

.sidebar-max .sidebar-menu .active > div > ul > li.active > a {
  color: #20202f;
  border-color: #20202f;
}
.sidebar-max .sidebar-menu > li.parent.active > div > ul > li.parent > a > span:after {
  content: "";
  display: inline-block;
  width: 0px;
  height: 0px;
  border-width: 5px;
  border-style: solid;
  border-color: #ffffff #ffffff #ffffff #61b0e9;
  top: 0px;
  margin-left: 8px;
}
.sidebar-max .sidebar-menu > li.parent.active > div > ul > li.parent.active > a > span:after {
  content: "";
  display: inline-block;
  width: 0px;
  height: 0px;
  border-width: 5px;
  border-style: solid;
  border-color: #ffffff #ffffff #ffffff #20202f;
  top: 0;
  margin-left: 8px;
}
.sidebar-max .sidebar-menu > li.parent.active li.parent.active > a > span:after {
  content: "";
  display: inline-block;
  width: 0px;
  height: 0px;
  border-width: 5px;
  border-style: solid;
  border-color: #6bbef6 #6bbef6 #6bbef6 #20202f;
  margin-left: 8px;
}
/* minimized sidebar */
.sidebar-min .sidebar-menu {
  /* levels 1+ arrows */

}
.sidebar-min .sidebar-menu > li {
  width: 60px;
  overflow: hidden;
}
.sidebar-min .sidebar-menu > li.active {
  width: 61px;
}
.sidebar-min .sidebar-menu > li.parent.active li.parent > a > span:after {
  content: "";
  display: inline-block;
  width: 0px;
  height: 0px;
  border-width: 5px;
  border-style: solid;
  border-color: #6bbef6 #6bbef6 #6bbef6 #ffffff;
  margin-left: 8px;
}
.sidebar-min .sidebar-menu > li.parent.active li.parent.active > a > span:after {
  content: "";
  display: inline-block;
  width: 0px;
  height: 0px;
  border-width: 5px;
  border-style: solid;
  border-color: #6bbef6 #6bbef6 #6bbef6 #20202f;
  margin-left: 8px;
}
.sidebar-min .sidebar-menu > li.parent > div.sidebar-menu-item-wrapper > ul,
.sidebar-min .sidebar-menu > li.parent.active > div.sidebar-menu-item-wrapper > ul,
.sidebar-min .sidebar-menu.on-hover > li.parent.inactive:hover > div > ul {
  display: block;
  position: absolute;
  top: 50px !important;
  left: 60px !important;
  padding: 10px 0;
  background: #6bbef6;
  min-width: 160px;
  padding-top: 0 !important;
}
.sidebar-min .sidebar-menu > li.parent > div.sidebar-menu-item-wrapper > ul > li > a,
.sidebar-min .sidebar-menu > li.parent.active > div.sidebar-menu-item-wrapper > ul > li > a,
.sidebar-min .sidebar-menu.on-hover > li.parent.inactive:hover > div > ul > li > a,
.sidebar-min .sidebar-menu > li.parent > div.sidebar-menu-item-wrapper > ul > li > div > a,
.sidebar-min .sidebar-menu > li.parent.active > div.sidebar-menu-item-wrapper > ul > li > div > a,
.sidebar-min .sidebar-menu.on-hover > li.parent.inactive:hover > div > ul > li > div > a {
  padding: 5px 16px;
  height: 20px;
  color: #ffffff;
}
.sidebar-min .sidebar-menu > li.parent > div.sidebar-menu-item-wrapper > ul > li:hover > a,
.sidebar-min .sidebar-menu > li.parent.active > div.sidebar-menu-item-wrapper > ul > li:hover > a,
.sidebar-min .sidebar-menu.on-hover > li.parent.inactive:hover > div > ul > li:hover > a,
.sidebar-min .sidebar-menu > li.parent > div.sidebar-menu-item-wrapper > ul > li.active > a,
.sidebar-min .sidebar-menu > li.parent.active > div.sidebar-menu-item-wrapper > ul > li.active > a,
.sidebar-min .sidebar-menu.on-hover > li.parent.inactive:hover > div > ul > li.active > a,
.sidebar-min .sidebar-menu > li.parent > div.sidebar-menu-item-wrapper > ul > li.active > a:hover,
.sidebar-min .sidebar-menu > li.parent.active > div.sidebar-menu-item-wrapper > ul > li.active > a:hover,
.sidebar-min .sidebar-menu.on-hover > li.parent.inactive:hover > div > ul > li.active > a:hover {
  padding-left: 8px !important;
  border-left: 8px solid #aedcfb;
}
.sidebar-min .sidebar-menu > li.parent > div.sidebar-menu-item-wrapper > ul > li.active > a,
.sidebar-min .sidebar-menu > li.parent.active > div.sidebar-menu-item-wrapper > ul > li.active > a,
.sidebar-min .sidebar-menu.on-hover > li.parent.inactive:hover > div > ul > li.active > a,
.sidebar-min .sidebar-menu > li.parent > div.sidebar-menu-item-wrapper > ul > li.active > div > a,
.sidebar-min .sidebar-menu > li.parent.active > div.sidebar-menu-item-wrapper > ul > li.active > div > a,
.sidebar-min .sidebar-menu.on-hover > li.parent.inactive:hover > div > ul > li.active > div > a,
.sidebar-min .sidebar-menu > li.parent > div.sidebar-menu-item-wrapper > ul > li.active > a:hover,
.sidebar-min .sidebar-menu > li.parent.active > div.sidebar-menu-item-wrapper > ul > li.active > a:hover,
.sidebar-min .sidebar-menu.on-hover > li.parent.inactive:hover > div > ul > li.active > a:hover,
.sidebar-min .sidebar-menu > li.parent > div.sidebar-menu-item-wrapper > ul > li.active > div > a:hover,
.sidebar-min .sidebar-menu > li.parent.active > div.sidebar-menu-item-wrapper > ul > li.active > div > a:hover,
.sidebar-min .sidebar-menu.on-hover > li.parent.inactive:hover > div > ul > li.active > div > a:hover {
  color: #20202f;
  border-color: #20202f;
}
.sidebar-min .sidebar-menu.on-hover > li:hover,
.sidebar-min .sidebar-menu > li.open {
  overflow: visible;
}
.sidebar-min .sidebar-menu.on-hover > li:hover > div > a,
.sidebar-min .sidebar-menu > li.open > div > a {
  background: #6bbef6;
}
.sidebar-min .sidebar-menu.on-hover > li.parent.active:hover > div > a > span:before,
.sidebar-min .sidebar-menu > li.parent.active.open > div > a > span:before {
  content: "";
  display: inline-block;
  width: 0px;
  height: 0px;
  border-width: 5px;
  border-style: solid;
  border-color: #20202f #6bbef6 #6bbef6 #6bbef6;
  position: relative;
  top: 1px;
}
.sidebar-min .sidebar-menu.on-hover > li.parent:hover > div > a > span:before,
.sidebar-min .sidebar-menu > li.parent.open > div > a > span:before {
  content: "";
  display: inline-block;
  width: 0px;
  height: 0px;
  border-width: 5px;
  border-style: solid;
  border-color: #ffffff #6bbef6 #6bbef6 #6bbef6;
  position: relative;
  top: 1px;
}
/* }=== MADMIN MENU === */
/* === LAYOUT ==={ */
body {
  padding: 30px 0 40px 0;
  min-height: 600px;
  color: #383e4b;
}
body.help-page {
  padding: 0;
}
#topbar {
  top: 0;
  left: 0;
  width: 100%;
  height: 30px;
  padding: 0 3px;
  border: 0;
  margin: 0;
  text-align: center;
  z-index: 5000;
}
#topbar > li {
  display: inline-block;
  position: relative;
}
#sidebar {
  overflow: scroll;
  position: fixed;
  height: 100%;
  box-sizing: border-box;
  /*left: -250px;*/
  top: 0;
  z-index: 3;
  padding: 70px 0px 100px 0px;
  background: #2c3c5f;

}

#content {
  min-width: 1280px;
  margin-top: 70px;
  padding: 20px;
  margin-left: 65px;
  /*width: 88%;*/
}
#content:after {
  display: block;
  content: "";
  clear: both;
}
.sidebar-min #sidebar {
  width: 61px;
}
.sidebar-min #content {
  left: 80px;
}
.sidebar-max #content {
 
}
#container {
  padding: 0;
  position: relative;
}
.page.hidden {
  position: absolute;
  left: -10000px;
  top: -10000px;
}
.panel {
  margin: 0 auto 20px auto;
}
.panel header {
  padding: 0 10px;
  height: 30px;
}
.panel header i {
  position: relative;
  top: 6px;
  margin-right: 5px;
  font-size: 17px;
  line-height: 17px;
}
.panel header i[class^="icon-icomoon-"] {
  font-size: 14px;
  line-height: 14px;
}
.panel header span {
  position: relative;
  top: 5px;
}
.panel .content {
  padding: 10px;
}
#panel-login {
  width: 345px;
  margin-top: 20px;
}
#panel-login .content {
  padding: 30px;
}
/* }=== LAYOUT === */
/* === LOOKS ==={ */
body.help-page {
  background-color: #FDFCE4;
}
/* squarify */
code,
pre,
.modal,
table,
.table,
.table-bordered,
.well,
.label,
.hero-unit,
.navbar-inner,
.btn-group > .btn:last-child,
button,
select,
textarea,
input,
.input-append .add-on:last-child,
.input-append .btn:last-child,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input,
.input-prepend.input-append .add-on:last-child,
.input-prepend.input-append .btn:last-child,
.btn-group > .btn:first-child,
.dropdown-menu,
.nav-pills .dropdown-menu,
.nav-tabs .dropdown-menu,
.nav-tabs > li > a,
.nav-pills > li > a,
.nav-tabs.nav-stacked > li:first-child > a,
.nav-tabs.nav-stacked > li:last-child > a,
.tabs-below > .nav-tabs > li > a,
.tabs-left > .nav-tabs > li > a,
.tabs-right > .nav-tabs > li > a,
.pager li > a,
.pager li > span,
.btn-group > .btn:last-child,
.btn-group > .dropdown-toggle {
  /*-webkit-border-radius: 0;*/
  /*-moz-border-radius: 0;*/
  /*border-radius: 0;*/
}
.btn-group > .btn:last-child,
.btn-group > .dropdown-toggle {
  border-left: 0;
}
.dropdown-menu li > a:hover,
.dropdown-menu li > a:focus,
.dropdown-submenu:hover > a {
  filter: none;
}
ul {
  list-style: square;
}
/* Top Bar */
#topbar {
  background: #3a4450;
  color: #ffffff;
}
#topbar h1 {
  position: relative;
  height: 30px;
  margin: 0;
  top: -8px;
  font-size: 14px;
  font-weight: normal;
}
#topbar h1 [class^="icon-"] {
  position: relative;
  top: 4px;
  margin-right: 5px;
  font-size: 18px;
  line-height: 18px;
  color: #6ac8fb;
}
#topbar h1 [class^="icon-icomoon-"] {
  top: 4px;
}
#topbar h1 a {
  position: relative;
  top: 3px;
  color: #ffffff;
}
#topbar h1 a:hover {
  text-decoration: none;
}
#topbar > li > a {
  display: inline-block;
  padding: 5px 10px 0 10px;
  font-weight: bold;
  text-transform: uppercase;
  color: #ffffff;
  height: 24px;
  line-height: 21px;
}
#topbar > li > a:hover {
  text-decoration: none;
  background: #4b5867;
}
#topbar > li.pull-right > a {
  margin-left: 10px;
}
#topbar > li.parent > a > span:after {
  content: "";
  display: inline-block;
  width: 0px;
  height: 0px;
  border-width: 5px;
  border-style: solid;
  border-color: #ffffff #3a4450 #3a4450 #3a4450;
  position: relative;
  top: 1px;
  position: relative;
  top: 2px;
  margin-left: 5px;
}
#topbar > li.parent > a:hover > span:after {
  content: "";
  display: inline-block;
  width: 0px;
  height: 0px;
  border-width: 5px;
  border-style: solid;
  border-color: #ffffff #4b5867 #4b5867 #4b5867;
  position: relative;
  top: 1px;
  position: relative;
  top: 2px;
  margin-left: 5px;
}
#topbar .dropdown-menu {
  top: 98%;
  right: 0;
  margin: 0;
  padding: 0 0 0 0;
  background: #3a4450;
  border: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  box-shadow: none;
  text-align: left;
}
#topbar .dropdown-menu * {
  color: #ffffff;
}
#topbar .dropdown-menu > li > a {
  height: 24px;
}
#topbar .dropdown-menu > li > a:hover {
  background: #4b5867;
}
#topbar .dropdown-menu > li.divider {
  background: none;
  border-bottom-color: #4b5867;
}
/* Bootstrap drop-downs behavior enhancement */
ul.on-hover > li.parent:hover > .dropdown-menu {
  display: block;
}
.dropdown-menu {
  background: #f7f7fd;
  box-shadow: none;
}
.dropdown-menu li > a:hover,
.dropdown-menu li > a:focus,
.dropdown-submenu:hover > a {
  color: #ffffff;
  background: #61b0e9;
}
/* Sidebar Resizer */
#sidebar-resizer {
  display: block;
  position: absolute;
  bottom: 0;
  padding: 10px;
  width: 200px;
  height: 30px;
  text-align: center;
  font-size: 32px;
  color: #20202f;
}
#sidebar-resizer:hover {
  text-decoration: none;
}
#sidebar-resizer i.max {
  display: none;
}
.sidebar-min #sidebar-resizer {
  width: 40px;
}
.sidebar-min #sidebar-resizer i.max {
  display: inline-block;
}
.sidebar-min #sidebar-resizer i.min {
  display: none;
}
/* Sidebar Mini-Search */
.search-mini-wrapper {
  width: 220px;
  height: 50px;
  background: #61b0e9;
  overflow: hidden;
}
.search-mini-wrapper ::-webkit-input-placeholder {
  color: #8090a0;
}
.search-mini-wrapper :-moz-placeholder {
  color: #8090a0;
}
.search-mini-wrapper :-ms-input-placeholder {
  color: #8090a0;
}
.sidebar-min .search-mini-wrapper {
  width: 60px;
}
.sidebar-min .search-mini-wrapper:hover {
  width: 220px;
}
.sidebar-min .search-mini-wrapper:hover input {
  width: 192px;
}
.sidebar-min .search-mini-wrapper:hover button {
  left: 174px;
}
.search-mini {
  position: relative;
  margin: 10px 0 10px 0;
}
.search-mini input {
  border: 0;
  margin: 0 8px;
  width: 192px;
  height: 22px;
  background: #3a4450;
  color: #ffffff;
}
.search-mini button {
  position: absolute;
  width: 36px;
  height: 30px;
  padding: 0;
  border: 0;
  margin: 0;
  background: #3a4450;
  color: #ffffff;
  top: 0;
  right: 10px;
  font-size: 18px;
}
.sidebar-min .search-mini input {
  width: 32px;
}
.sidebar-min .search-mini button {
  right: 22.5%;
}
/* Panels */
.panel header,
.accordion-heading {
  background: #3a4450;
}
.panel header *,
.accordion-heading *,
.panel header a:hover,
.accordion-heading a:hover {
  color: #ffffff;
  text-decoration: none;
}
.panel .content {
  background: #f7f7fd;
  color: #3a4450;
  border: 1px solid #f0f0fb;
}
.hero-unit,
.form-actions {
  background: #f7f7fd;
}
/* Hero Special */
.hero-special {
  background: #f7f7fd url(../img/bg-hero-special.jpg) center center no-repeat;
}
/* Table of Key Numbers */
.table-key-numbers {
  width: 100%;
  text-align: center;
}
.table-key-numbers td {
  font-family: Candara, 'Segoe UI', Optima, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 30px;
  font-weight: bold;
  line-height: 1.6em;
  color: #20202f;
}
.table-key-numbers th {
  color: #666;
  font-weight: normal;
  color: #8b9198;
}
/* Demo Charts */
#stats-area-chart,
#dashboard-dynamic-chart,
#stats-pie-chart {
  margin: 10px;
  width: 95%;
  height: 200px;
}
#stats-pie-chart {
  margin: 10px auto 10px auto;
  width: 400px;
  overflow: hidden;
}

/* Tablesorter Plugin */
table.tablesorter thead tr .headerSortDown,
table.tablesorter thead tr .headerSortUp {
  background-color: #aedcfb;
}
table.tablesorter thead tr th,
table.tablesorter tfoot tr th {
  background-color: #61b0e9;
}
table.tablesorter {
  background-color: #f7f7fd;
}
/* Accordions */
.accordion-group,
.accordion-inner {
  border: 0;
}
/* }=== LOOKS === */
/* === TYPO ==={ */
body,
p,
input,
button,
select,
textarea,
.navbar-search .search-query {
  font-family: 'Segoe UI', Optima, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.sidebar-menu a:hover {
  text-decoration: none;
  background: rgba(255,255,255,.2);
  /*color: #36a9e1;*/

}
.sidebar-menu > li > div > a {
  

}
.sidebar-menu > li i:before {
  display: block;
  /*padding-top: 5px;*/
}
.sidebar-menu > li > div > a > i{
    color: #00ffbd;
    color: #0084b0;
    color: white;
    font-size: 35px;
    display: inline-block;
    text-align: center;
    /*border: #9da0a8 1px solid;*/
    border-radius: 100%;
    margin: 0 auto;
    width: 45px;
    height: 40px;
    /*padding: 20px 0;*/
}
li.parent.inactive.open > div > a {
  background: #01bfe4;
}
li.parent.inactive.open > div > a > i {
  color: #2c3c5f;
  color: white;
} 
.sidebar-menu  li li i{
  font-size:20px;
  display: none;
 
}
.hero-unit h1 {
  margin-bottom: 0.15em;
}
h1.light,
h2.light,
h3.light,
h4.light,
h5.light,
h6.light,
h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small {
  font-family: 'Segoe UI Light', 'Segoe UI', Optima, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 100;
}
/* }=== TYPO === */
/* === FORMS ==={ */
/* }=== FORMS === */
/* === BUTTONS ==={ */
.btn {
  padding: 0.5rem 1rem;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  filter: none;
  text-shadow: none;
  background: #dce0f1;
  border: 0;
  border-radius: 5px;
}
.btn:hover {
  
}
.btn.disabled,
.btn[disabled] {
  background: #e6e6e6;
}
.btn.disabled:hover,
.btn[disabled]:hover {
  /*background: #e6e6e6;*/
  /*border-color: #C1C1E3;*/
}
.btn.btn-primary {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 14px;
  text-shadow: none;
  text-decoration: none !important;
}
.btn.btn-primary:hover {
}
.btn.btn-primary.btn-large {
  font-size: 16px;
}
.btn.btn-primary.btn-small {
  font-size: 12px;
}
.btn.btn-primary.btn-mini {
  font-size: 10px;
}
.btn-primary.disabled,
.btn-primary[disabled] {
  background: #75afda;
  border-color: #75afda;
}
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover {
  /*background: white;*/
  /*border-color: #CCC;*/
}
.btn {
  font-size: 14px;
}
.btn-info {
  background: #ffd966;
  color: #795548;
}
.btn-info:hover {
  background: #dec5ff;
  color: #333;
}
.btn-success {
  color:black!important;
  color: rgba(0,0,0,.6)!important;
  background: #cddc39!important;
}
.btn-success:hover {
  opacity: .9;
}
.btn-warning {
  background: #FAA732;
}
.btn-warning:hover {
  background: #ffb54c;
}
.btn-danger {
  background: #ff5454;
  color: #fff;
}
.btn-danger:hover {
  color: #fff;
  opacity: .9;
}
.btn-inverse {
  background: #3a4450;
  color: #eeeeee;
}
.btn-inverse:hover {
  background: #556981;
  color: #eeeeee;
}
.btn-link,
.btn-link:hover {
  background: transparent;
  border: 0;
}
/* Bootstrap-style buttons if you don't like the MADMIN ones */
.btn.btn-info-bs {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #49afcd;
  background-image: -moz-linear-gradient(top, #5bc0de, #2f96b4);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5bc0de), to(#2f96b4));
  background-image: -webkit-linear-gradient(top, #5bc0de, #2f96b4);
  background-image: -o-linear-gradient(top, #5bc0de, #2f96b4);
  background-image: linear-gradient(to bottom, #5bc0de, #2f96b4);
  background-repeat: repeat-x;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ff5bc0de', endColorstr='#ff2f96b4', GradientType=0);
  border-color: #2f96b4 #2f96b4 #1f6377;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #2f96b4;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */

  filter: progid:dximagetransform.microsoft.gradient(enabled=false);
}
.btn.btn-info-bs:hover,
.btn.btn-info-bs:active,
.btn.btn-info-bs.active,
.btn.btn-info-bs.disabled,
.btn.btn-info-bs[disabled] {
  color: #ffffff;
  border-color: #2f96b4 #2f96b4 #1f6377;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  background-color: #2f96b4;
  *background-color: #2a85a0;
}
.btn.btn-info-bs:active,
.btn.btn-info-bs.active {
  border-color: #2f96b4 #2f96b4 #1f6377;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  background-color: #24748c \9;
}
.btn.btn-primary-bs {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #006dcc;
  background-image: -moz-linear-gradient(top, #0088cc, #0044cc);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0044cc));
  background-image: -webkit-linear-gradient(top, #0088cc, #0044cc);
  background-image: -o-linear-gradient(top, #0088cc, #0044cc);
  background-image: linear-gradient(to bottom, #0088cc, #0044cc);
  background-repeat: repeat-x;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0044cc', GradientType=0);
  border-color: #0044cc #0044cc #002a80;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #0044cc;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */

  filter: progid:dximagetransform.microsoft.gradient(enabled=false);
}
.btn.btn-primary-bs:hover,
.btn.btn-primary-bs:active,
.btn.btn-primary-bs.active,
.btn.btn-primary-bs.disabled,
.btn.btn-primary-bs[disabled] {
  color: #ffffff;
  border-color: #0044cc #0044cc #002a80;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  background-color: #0044cc;
  *background-color: #003bb3;
}
.btn.btn-primary-bs:active,
.btn.btn-primary-bs.active {
  border-color: #0044cc #0044cc #002a80;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  background-color: #003399 \9;
}
/* Tile buttons */
.tile-btn {
  display: inline-block;
  width: 105px;
  height: 85px;
  margin: 5px;
  background: #61b0e9;
  color: #ffffff;
  text-align: center;
}
.tile-btn:hover {
  text-decoration: none;
  background: #6bbef6;
  color: #ffffff;
}
.tile-btn i {
  display: block;
  font-size: 32px;
  line-height: 32px;
  margin-top: 14px;
}
.tile-btn i[class^="icon-icomoon-"] {
  font-size: 28px;
  line-height: 28px;
  line-height: 31px\9;
}
.tile-btn span {
  display: block;
  margin-top: 10px;
}
.tiles-container {
  text-align: center;
}
/* }=== BUTTONS === */
/* === FIXES ==={ */
[class^="icon-"] {
  text-transform: none !important;
}
#pageslide {
  top: 30px;
  height: 94.5%;
  padding: 10px;
  border-left: 1px solid #a3a18c;
}
.login-checkbox {
  position: relative;
  top: -3px;
}
    .display-label {
        padding-top: 20px;
    }

td img {
  width: 200px;
  max-width: 200px;
}
.table th, .table td {
  vertical-align: middle;

}

/* POPUP */
html,body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
  }
  .wrap {
    height: 100%;
  }
  .popup_background {
    display: none;
    position: fixed;
    z-index: 100;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: #656565;
    background: rgba(0,0,0,.6);

    /*padding-top: 150px;*/


  }
  .popup_content {
    position: relative;
    z-index: 1;
    /*background: white;*/
    max-width: 650px;
    margin: 0 auto;
    top:50%;
    transform:translateY(-50%);
  }
  .popup_content .banner {
    overflow-y: scroll;
    max-height: 400px;
  }
  .popup_content div {
    position: relative;
  }
  .popup_content .success_msg,
  .popup_content .error_msg {
    font-size: 20px;
    padding: 10px;
  }
  .popup_content .success_msg {
    color: #5bb75b;
  }
  .popup_content .error_msg {
    color: #ff6f6f;
  }
  input.btnCheck {
    /*position: absolute;
    right: 0px;
    top: 10px;
    z-index: 5;
    color: gray;*/
    /*background: none!important;*/
    /*border: 0px solid white!important;*/
  }
  
  .popup_content .closepop {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    display: block;
    text-align: center;
    padding: 10px;
    color: white;
    background: #36a9e1;
    background: #4765a7;
    text-decoration: none;
    
  }
  .popup_content .closepop img {
    position: absolute;
    z-index: 12;
    right: 0;
    top: 5px;

  }
  .popup_content .banner {
    padding: 20px 25px;
    line-height: 1.5;
    background: white;
    display: block;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  .popup_content .banner img{
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    display: block;
    width: 100%;
  }
  @media (max-width: 1024px) {
    .popup_background {
      padding-top: 15%;

    }
    .popup_content {
      width: 90%;
    }


    
  }

/*navbar*/
.navbar {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 4;
}
.navbar-inner {
  border-radius: 0;
  background-image: none;
  background-color: #22528f;
  background-color: #000;
  padding-left: 10px;
  padding-right: 10px;
}


      ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        color: #858585!important;
      }
      ::-moz-placeholder { /* Firefox 19+ */
        color: #858585!important;
      }
      :-ms-input-placeholder { /* IE 10+ */
        color: #858585!important;
      }
      :-moz-placeholder { /* Firefox 18- */
        color: #858585!important;
      }
      .input-text-group div {
        margin-left: -4px;
        width: 100%;
        display: inline-block;
        padding: 5px 5px;
        letter-spacing: 3px;
      }
      .input-text-group div span {
        text-align: left;
        margin-left: 140px;
        display: block;
      }
      .input-text-group div div {
        margin-left: 140px;
        text-align: left;
        color: #bababa;
      }
      textarea {
        resize: none;
        padding: 10px;
        font-size: 20px;
        width: 100%;
        height: 150px;
        border: 0px solid white;
        background: #f7f7f7;
      }
      .input-text-group input {
        /*display: block;*/
      }
      .popup_tip label{
        width: 130px;
        /*background: #f3f3f3;*/
        border-radius: 5px;
      }
      input[type="search"] {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
         box-sizing: border-box; 
         -webkit-appearance: textfield; 
      }
      input {
        height: 40px;
        box-sizing: border-box;
        font-size: 18px;
        border: 0px solid #CCC;
        background: #f7f7f7;
        border-radius: 5px;
        padding: 10px 15px;
        /*width: 100%;*/
      }
      label {
        color: #6f6f6f;
       /*text-align: center;*/
      }

      .input-date-group div {
        margin-left: -4px;
        padding: 5px 5px;
        width: 100%;
        display: inline-block;
        letter-spacing: 3px;
      }
      .input-date-group div label:nth-of-type(1) {
      }

      .input-date-group label {
        /*text-align: center;*/
        /*width: 15%;*/

      }
      .input-date-group input{
        display: inline-block;
        /*width: auto;*/
      }
      select {
        width: 210px;
        background: #f9f9f9;
        /*border: 1px solid #d5d5d5;*/
         border: 1px solid #adadad;
        font-size: 16px;
        height: 40px;
      }
      .input-select-group div{
        padding: 5px 5px;
        display: inline-block;
        /*width: 50%;*/
        margin-left: -4px;
      }
      .input-radio-group div{
        padding: 5px 5px;
        display: inline-block;
        /*width: 35%;*/
        margin-left: -4px;
        letter-spacing: 3px;
      }
      .input-radio-group label {
      }
      .input-radio-group input {
        width: 10px;
      }

      .popup_tip h3 {
        text-align: center;
        padding: 20px;
      }

      .popup_content input:not([type="button"]):not([type="checkbox"]):not([type="radio"])
      {
        /*width: 100%;*/
        /*display: block;*/
        width: 290px;
        max-width: none;
      }

      @media (max-width: 1280px) {
        .wrap {
          width: 100%;
        }
      }
      @media (max-width: 1100px) {
        .input-date-group div {
          width: 100%;
        }
        .input-text-group div {
          /*width: 33.33%;*/
        }
        
      }
      @media (max-width: 650px) {
        .input-date-group div {
          text-align: center;
        }
        .input-date-group div input{
          margin: 0;
          width: 100%;
        }
        .input-text-group div {
          /*width: 50%;*/
        }
        .input-select-group div {
          width: 100%;
        }
        
      }
      @media (max-width: 400px) {
        .input-text-group div {
          width: 100%;
        }
        .input-radio-group div {
          width: 100%;
        }
        
      }


  .infoList {
    font-size: 17px;
  }
  .infoList b {
    font-weight: 800;
    width: 250px;
    display: inline-block;
    line-height: 1.5;
  }
  .infoList span {
    margin-left: 20px;
    color: red;
  }
  .infoList li {
    padding: 10px;
  }
  .timeTable {
    position: relative;
    table-layout: fixed;
  }
  .timeTable td {
    line-height: 1.3!important;
  }
  .timeTable th {
    background: #4b4b4b;
    color: white;
    width: 200px;
  }
  .timeTable td:nth-of-type(even) {
    /*background: rgba(234, 248, 255, .6);*/
    color: #a3a3a3;
  }
  .timeTable th,.timeTable td {
    text-align: center!important;
  }
  tr:hover {
    background: #eeeeee;
  }
  .profile{
    background: white;
    width: 100px;
    height: 100px;
    margin: 0 auto;
    border-radius: 100%;
    overflow: hidden;
  }
  .profile i {
    color: black;
    font-size: 20px;
  }
  .profile-name {
    text-align: center;
    padding: 30px 0;
    font-size: 20px;
    color: #36a9e1;

  }

#content .popup_tip h2 {
  padding: 0;
  text-align: center;
  font-size: 22px;
}

.popup_tip select.listSelect {
  width: 200px;
  height: 150px!important;
  overflow-y: scroll; 
}
.listSelectBtn {
  display: inline-block;
  /*width: 60px!important;*/
  margin: 10px;
}

.confirm-group {
  text-align: center;
  padding: 10px 0;
}

.hamburger-menu {
  position: absolute;
  z-index: 5;
  top: 20px;
  left: 20px;
  display: inline-block;
  /*margin: 10px 0px;*/
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.hamburger-menu:hover {
  cursor: pointer;
}
.hamburger-menu .menu-item {
  background: #383e4b;
  background: white;
  display: block;
  height: 3px;
  margin: 0 0 5px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  width: 30px;
}
.hamburger-menu.open .menu-item {
  margin: 0 0 2px;
}
.menu-item:last-of-type{
  margin: 0;
}
.hamburger-menu.open .menu-item:first-child {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transform-origin: 10px;
          transform-origin: 10px;
}
.hamburger-menu.open .menu-item:nth-child(2) {
  opacity: 0;
}
.hamburger-menu.open .menu-item:nth-child(3) {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transform-origin: 8px;
          transform-origin: 8px;
}
#sidebar.open {
  /*left: 0;*/
}
#content.open {
  /*margin-left: 250px;*/
}

.infoBar-total li div {
  font-size: 12px;
  letter-spacing: 2px;
  padding: 5px 0;
  overflow: hidden;
  color: #2c3c5f;
}

*{
  box-sizing: border-box;
}
ul 
{
  list-style-type: none;
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 0px;
}
a 
{
  text-decoration: none;
  color: black;
}
.label-tab {
}
.label-tab-btn li 
{
	margin-top: 5px;
  display: inline-block;
  vertical-align: bottom;
}
.label-tab-btn a
{
  font-size: 14px;
  background: #f7f7f7;
  color: #a6a6a8;
  display: block;
  padding: 5px 5px;
  /*border-bottom: 2px solid rgba(0,0,0,0);*/
  border-radius: 5px;
}
.label-tab-content 
{
  border: 1px solid #f7faff;
  min-height: 300px;
  /*height: 400px;*/
  margin: 0px 0;
  /*background: #f7faff;*/
}
.label-tab-btn a.active {
  font-size: 16px;
  /*padding: 5px 10px 10px 10px;*/
  /*background: #f7faff;*/
  color: #5e5e5e;
  /*border-bottom: 2px solid #03a9f4!important;*/

}
.label-tab-btn a.active label{
  color: #000;

}
.timeTable tr {
  background: white;
}
@media (max-width: 1023px) {
  .label-tab {
    width: 100%;
    overflow: scroll;
  }
}

/* infoBAR */
.clear {
  clear: both;
}



.infoBar1 .SelectTabPanelContent {
  height: 305px;
}
.SelectTabPanelContent .table {
  font-size: 14px;
  margin-top: 10px;
}
.SelectTabPanelContent .table td,
.SelectTabPanelContent .table th
{
  text-align: center;
}
.SelectTabPanelContent .table th {
  border-top: 1px solid #CCC!important;
  border-bottom: 1px solid #CCC!important;
  background: none;
  color:black;
  font-size: 10px;
  font-weight: 400;
}


.infoBar2 .SelectTabPanelContent {
  height: 682px;
}
.infoBar1, .infoBar2, .infoBar3 {
  float: left;

}


.infoBar1 {
  margin-left: 2%;
  /*margin-top: 1%;*/
  width: 30%;
}
.infoBar2 {
  margin-left: 2%;
  /*margin-top: 1%;*/
  width: 20%;
}
.infoBar3 {
  margin-left: 2%;
  /*margin-top: 1%;*/
  margin-right: 2%;
  width: 42%;
}
.infoBar-card label {
  font-size: 13px;
  color: #007656;
  font-weight: 400;
  padding: 0;
}
.search-tab {
  border-radius: 5px;
  padding: 5px;
  background: #34D9AC;
}

.infoBar-card .input-select-group select {
  border: 0;
  height: 25px;
  width: 120px;
}

.infoBar-card .input-date-group input {
  font-size: 13px;
  border: 0;
  padding: 0;
  width: 150px;
  height: 25px;
  
}

.infoBar-card {
    background: white;
    padding: 10px;
    margin-bottom: 2%;
    border: 1px solid #ccc;
    /*height: 443px;*/
}
.piechart h3 {
  text-align: center;
  padding: 5px;
  font-size: 17px;
}
.piechart div {
  text-align: center;
  padding: 0 5px;
  font-size: 14px;
}
.infoBar-card .piechart {
  line-height: 1.5;
    width: 33%;
    float: left;
}
#content #page-dashboard h2 {
  padding: 10px 0; 
  font-size: 22px;
  color: #2c3c5f;

}
  
@media (max-width: 1024px) {
  .infoBar1 {
    margin-left: 2%;
    margin-top: 2%;
    width: 48%;
  }
  .infoBar2 {
    margin-left: 2%;
    margin-top: 2%;
    margin-right: 2%;
    width: 46%;
  }
  .infoBar3 {
    margin-left: 2%;
    margin-top: 2%;
    margin-right: 2%;
    width: 96%;
  }
  
}

.index-table {
  padding: 30px;
  width: 100%;
  float: left;
  background: white;
}
.infoBar-time {
  color: #5e5e5e;
  /*background: #f7f7f7;*/
  text-align: center;
  padding: 40px 20px;
  display: none;
}
.infoBar-time div {
  font-weight: bold;
  font-size: 30px;
}
.infoBar-total {
  padding: 0px 0 10px 0;

}
.infoBar-total li{
  position: relative;
  height: 150px;
  background: white;
  padding: 10px;
  position: relative;
  width: 49%;
  margin-right: 2%;
  margin-bottom: 2%;
  border: 1px solid #cccccc;
  float: left;
  text-align: right;
}
.infoBar-total li:nth-of-type(even) {
  margin-right: 0;
}
.infoBar-total .float {
  position: absolute;
  z-index: 2;
  left: 10px;
  top: 10px;
}
.infoBar-total .float img {
  width: 60px;
}
.infoBar-total li i {
  display: none;
  color: #000;
  font-size: 70px;
}
.infoBar-total li span {
  display: inline-block;
    padding: 20px 0;
    font-size: 40px;
    font-weight: 200;
    color: #03d1ec;
}
h2 {
  text-align: center;
} 

@media (max-width: 600px) {
  .infoBar-time,
  .infoBar-total {
    width: 100%;
  }
  .infoBar-time {
    text-align: center;
  }
  .infoBar-total {
    text-align: left;
  }
  
}

#content .index-table .label-tab-content h2 {
  text-align: center;
}

.popup_tip select {
  width: 290px;
}

.label-tab-btn label {
  padding: 0;
  font-size: 20px;
}


.selector{
  position: relative;
}

.popup_content .BusList{
  padding: 0;
  width: 290px;
  width: auto;
  position: absolute;
  top: 10px;
  left: 153px;
  z-index: 200;
  background: white;
  border: 1px solid #ccc;
  box-shadow: 10px 10px 50px #d7e2e8;
  border-radius: 5px;
}
.BusList input {
  border: 0;
  border-bottom: 1px solid #eaeaea;
}

.BusLink{
  height: 100px;
  overflow-y: auto;
}
.BusLink li a {
  display: inline-block;
  padding: 5px;
}
.ui-datepicker {
  z-index: 1000!important;
}

.label-tab table {
  margin: 0!important;
  /*width: 2200px;*/
}

#content .index-table h2 {
  font-size: 20px;
  text-align: left;
  padding: 60px 0 20px 0;
}
#content .label-tab-content h2 {
  font-size: 20px;
  text-align: center;
}

/*grid-card*/

.grid-card {
    width: 1050px;
    margin: 0 auto;
}

    .grid-card > li {
        background: white;
        position: relative;
        text-align: center;
        /*border: 1px solid #CCC;*/
        box-shadow: 5px 5px 20px #c9c9c9;
        height: 500px;
        width: 500px;
        float: left;
        padding: 20px;
        margin: 10px;
    }
    .overflow {
      height: 300px;
      overflow-y: scroll; 
    }

    .grid-card h3 {
        padding: 10px 0px 20px 0px;
        text-align: center;
    }

    .grid-card td{
        text-align: left;
        line-height: 1.5;
    }
    .grid-card td:last-of-type {
        text-align: right;
    }

    .grid-card p {
        font-size: 16px;
        line-height: 2;
        text-align: left;
    }

    .grid-card span {
        padding: 5px;
        display: block;
    }

    .conform-group b {
      display: inline-block;
      padding: 10px;
    }

    .timeTable tr:hover {
      background: #f2f2f2;
    }

    .popup_content .table th {
      background: none;
      color: gray;
    }

    button, input[type="button"], input[type="reset"], input[type="submit"] {
        background: #2c3c5f;
    }
    td .btn {
      margin-right: 5px;
    }
    .table th {
      font-weight: 200;
      padding: 6px 8px;
      background: #4f4f4f;
      color:  white;
    }

    input[disabled], select[disabled], textarea[disabled], input[readonly], select[readonly], textarea[readonly] {
      background: #f1f1f1;
      color: #9a9b9b;
    }

    .btnCheck {
        margin-left: 5px!important;
        /*background: none;*/
        /*border: 0;*/
        height: 40px;
        box-sizing: border-box;
        box-shadow: none;
    }

    .SelectTabWrap {
      position: relative;
    }
    .SelectTabPanel {
      width: 100%;
      border: 1px solid #CCC;
      background: white;
    }
    .SelectTabPanelTitle {
      position: relative;
      border-bottom: 1px solid #ebebeb;
    }
    .SelectTabPanelTitle div {
      font-size: 14px;
    }
    .SelectTabPanelTitle i {
      position: absolute;
        z-index: 2;
        top: 25px;
        right: 25px;
        font-size: 20px;
        color: #CACAC1;

    }
    .SelectTabPanelContent{
      /*height: 600px;*/
      overflow-y: scroll;
    }

    .SelectTabPanelTitle, .SelectTabPanelContent {
      padding: 10px;
    }
    .SelectTabPanelTitle .Select {
      border-left: 5px solid #fed869;
      padding: 0 30px;
    }
    .SelectTabPanelTitle label {
      padding: 0;
      font-size: 22px;
    }

    .SelectTabPop {
      box-shadow: 5px 5px 50px #d5dde9;
      position: absolute;
      z-index: 2;
      left: 0;
      top: 0;
      width: 100%;
      padding: 0 10px;
      background: white;
      border: 1px solid #CCC;

    }
    .SelectTabPop ul {
      list-style: none;
      -webkit-margin-before: 0em;
      -webkit-margin-after: 0em;
      -webkit-margin-start: 0px;
      -webkit-margin-end: 0px;
      -webkit-padding-start: 0px;

    }
    .SelectTabPop li {
      border-left: 5px solid #fed869;
      border-bottom: 1px solid #ebebeb;
      margin-bottom: 5px;
    }
    .SelectTabPop a {
      display: block;
      padding: 10px 15px;
      color: black;
    }
    .SelectTabPop label {
      font-size: 22px;
    }
    .barChart {
      display: inline-block;
      width: 65%;
      height: 10px;
      /*background: #fed869;*/
      /*background: #e7e7e7;*/
    }
    .barChart-info {
      width: 30%;
      display: inline-block;
      color: #f1b91a;
    }
    .barChart .percen {
      height: 100%;
      background: #5cc5a7;
    }
    .gridTable {
      border-collapse: collapse;
      width: 100%;
    }
    .gridTable td {
      border: 1px solid #CCC;
    }
    .gridTable span{
      font-size: 18px;
      color: #5cc5a7;
    }

    #linechart {
      height: 320px!important;
      overflow: hidden;
    }

    #linechart svg {
      height: 315px!important;
    }

   td.ui-datepicker-unselectable.ui-state-disabled {
      opacity: 0;
    }

    input[readonly] {
        cursor: pointer;
    }