﻿@{
    ViewBag.path= "<i class=\"fa fa-home\" aria-hidden=\"true\"></i>首頁 &gt; 七、客戶滿意度系統 &gt; ";

    ViewBag.Title = "後台資料維護";

}
<style>
    th {
        background-color: lightgrey;
        text-align: center;
    }

    table, select, input, textarea {
        font-size: 14px;
    }

    td {
        text-align: left;
    }
</style>
<h2>問卷</h2>



<div class="row">
    <div class="col-lg-12">
        <ul class="nav nav-tabs">
            <li class="nav-item"><a href="#SubjectIndex" class="nav-link" id="Subject">問卷維護</a></li>
            <li class="nav-item"><a href="#CategorySubjectIndex" class="nav-link" id="CategorySubject">調查紀錄</a></li>
            <li class="nav-item"><a class="nav-link" id="SubjectTransfer">滿意度設計</a></li>
        </ul>
    </div>
    <div class="col-lg-12 py-3">
        <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade" id="SubjectIndex">
                <div style="border-width: 1px;border-style:solid;">
                    <div class="col-lg-12">

                        <div class="mb-3" style="padding-top: 10px">
                            <span>
                                問卷編碼：<input type="text" style="width: 150px;padding-left: 1px" value="2019102301" />
                            </span>
                            <span class="ml-2">
                                問卷議題：<input type="text" style="width: 500px;padding-left: 1px" value="您對本培訓中心的師資是否滿意?" />
                            </span>
                        </div>
                        <div class="mb-3">
                            <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;對象：<input type="text" style="width: 150px;padding-left: 1px" value="學員" /></span>
                            <span class="ml-2">
                                發布時間：<input type="text" style="width: 150px;padding-left: 1px" value="2019/10/23" /> ~ &nbsp;<input type="text" style="width: 150px;padding-left: 1px" value="2019/10/31" />
                            </span>
                            <span class="ml-3">
                                維護人：<input type="text" style="width: 102px;padding-left: 1px" value="楊乃中" />
                            </span>
                        </div>
                        <div class="mb-3">
                            <span>等級設定：</span>
                            <span class="ml-2">
                                1.<input type="text" style="width: 100px; padding-left: 1px" value="很滿意" />
                            </span>
                            <span class="ml-2" style="position: relative;left:30px">
                                2.<input type="text" style="width: 100px;padding-left: 1px" value="滿意" />
                            </span>
                            <span class="ml-2" style="position: relative;left:60px">
                                3.<input type="text" style="width: 100px;padding-left: 1px" value="普通" />
                            </span>
                            <span class="ml-2" style="position: relative;left:90px">
                                4.<input type="text" style="width: 100px;padding-left: 1px" value="不滿意" />
                            </span>
                            <span class="ml-2" style="position: relative;left:120px">
                                5.<input type="text" style="width: 100px;padding-left: 1px" value="非常不滿意" />
                            </span>
                        </div>
                    </div>
                </div>
                <div style="padding: 5px"></div>
                <div style="border-width: 1px; border-style: solid;padding:10px 0 0 10px">
                    <div class="col-lg-12">
                        <div class="mb-3">
                            <span> 開始日：<input type="text" class="datepicker" value="2019/09/01" style="width: 150px" /> ~&nbsp;<input type="text" class="datepicker" value="2019/09/01" style="width: 150px" /></span>
                            <span class="ml-2">
                                資產編號：<input type="text" style="width: 150px" value="" />
                            </span>
                            <span class="ml-2">
                                位置：<input type="text" style="width: 150px" value="" />
                            </span>
                            <input type="button" value="查詢" style="width: 100px; padding-top: 7px" />
                            <input type="button" value="新增" style="width: 100px; padding-top: 7px" />
                        </div>
                    </div>
                </div>
                <div style="padding: 5px"></div>
                <table class="table-bordered" style="width: 100%;text-align: center;">
                    <tr>
                        <th style="width:10%">問卷編號</th>
                        <th style="width:25%">問卷議題</th>
                        <th style="width:10%">對象</th>
                        <th style="width:15%">發布時間</th>
                        <th style="width:15%">結束時間</th>
                        <th style="width:25%"></th>
                    </tr>
                    <tr>
                        <td>2019102301</td>
                        <td>您對本培訓中心的師資是否滿意?</td>
                        <td>學員</td>
                        <td>2019/10/23</td>
                        <td>2019/10/31</td>
                        <td style="text-align: center !important;"><input type="button" value="修改" style="width: 100px; padding-top: 7px" /><input type="button" value="刪除" style="width: 100px; padding-top: 7px" /></td>
                    </tr>
                    <tr>
                        <td>2019102302</td>
                        <td>您對本培訓中心的師資是否滿意?</td>
                        <td>學員</td>
                        <td>2019/10/23</td>
                        <td>2019/10/31</td>
                        <td style="text-align: center !important;"><input type="button" value="修改" style="width: 100px; padding-top: 7px" /><input type="button" value="刪除" style="width: 100px; padding-top: 7px" /></td>
                    </tr>
                    <tr>
                        <td>2019102303</td>
                        <td>您對本培訓中心的課程編排是否滿意?</td>
                        <td>學員</td>
                        <td>2019/10/23</td>
                        <td>2019/10/31</td>
                        <td style="text-align: center !important;"><input type="button" value="修改" style="width: 100px; padding-top: 7px" /><input type="button" value="刪除" style="width: 100px; padding-top: 7px" /></td>
                    </tr>
                    <tr>
                        <td>2019102304</td>
                        <td>您對本培訓中心的服務是否滿意?</td>
                        <td>學員</td>
                        <td>2019/10/23</td>
                        <td>2019/10/31</td>
                        <td style="text-align: center !important;"><input type="button" value="修改" style="width: 100px; padding-top: 7px" /><input type="button" value="刪除" style="width: 100px; padding-top: 7px" /></td>
                    </tr>
                    <tr>
                        <td>2019102305</td>
                        <td>您對本培訓中心的教學設施是否滿意?</td>
                        <td>學員</td>
                        <td>2019/10/23</td>
                        <td>2019/10/31</td>
                        <td style="text-align: center!important;"><input type="button" value="修改" style="width: 100px;padding-top: 7px" /><input type="button" value="刪除" style="width: 100px;padding-top: 7px" /></td>
                    </tr>
                    <tr>
                        <td>2019102306</td>
                        <td>您對本培訓中心的師資是否滿意?</td>
                        <td>學員</td>
                        <td>2019/10/23</td>
                        <td>2019/10/31</td>
                        <td style="text-align: center!important;"><input type="button" value="修改" style="width: 100px;padding-top: 7px" /><input type="button" value="刪除" style="width: 100px;padding-top: 7px" /></td>
                    </tr>
                </table>
            </div>

            <div class="tab-pane fade" id="CategorySubjectIndex">

            </div>
            <div class="tab-pane fade" id="SubjectTransferIndex">


            </div>
        </div>
    </div>
</div>

@section Scripts {

    <script src="~/Scripts/jquery-ui-1.8.24.min.js"></script>
    <script src="@Url.Content("~/Scripts/jquery.colorbox-min.js")" type="text/javascript"></script>
    <link href="@Url.Content("~/Content/colorbox/colorbox.css")" rel="stylesheet" type="text/css" />



    <script>
        $(document).ready(function () {

            $("#Subject").addClass("active");
            $("#SubjectIndex").addClass("active show");





            $("#Subject").click(function () {
                $(this).addClass("active");
                $("#SubjectIndex").addClass("active show");
                $("#Setting").removeClass("active");
                $("#SettingIndex").removeClass("active");
                $("#SubjectTransfer").removeClass("active");
                $("#SubjectTransferIndex").removeClass("active");
                $("#CategorySubject").removeClass("active");
                $("#CategorySubjectIndex").removeClass("active");
            });


            $("#CategorySubject").click(function () {
                $(this).addClass("active");
                $("#CategorySubjectIndex").addClass("active show");
                $("#Setting").removeClass("active");
                $("#SettingIndex").removeClass("active");
                $("#Subject").removeClass("active");
                $("#SubjectIndex").removeClass("active");
                $("#SubjectTransfer").removeClass("active");
                $("#SubjectTransferIndex").removeClass("active");
            });

            $("#SubjectTransfer").click(function () {
                $(this).addClass("active");
                $("#SubjectTransferIndex").addClass("active show");
                $("#Setting").removeClass("active");
                $("#SettingIndex").removeClass("active");
                $("#Subject").removeClass("active");
                $("#SubjectIndex").removeClass("active");
                $("#CategorySubject").removeClass("active");
                $("#CategorySubjectIndex").removeClass("active");

            });






            $("#Setting").click(function () {
                $(this).addClass("active");
                $("#SettingIndex").addClass("active show");
                $("#Subject").removeClass("active");
                $("#SubjectIndex").removeClass("active");
                $("#SubjectTransfer").removeClass("active");
                $("#SubjectTransferIndex").removeClass("active");
                $("#CategorySubject").removeClass("active");
                $("#CategorySubjectIndex").removeClass("active");

            });


        });

    </script>
}
