﻿@model Enrollment.Models.ComCode

@{
    ViewBag.path = "<i class=\"fa fa-home\" aria-hidden=\"true\"></i>首頁 &gt; F.參數設定 &gt; F4.一般參數設定 &gt; " + Model.GroupID + "(" + Model.CodeID + ")參數 &gt; ";
    ViewBag.Title = "刪除";
}
<h2>變數 @Model.GroupID (@Model.ComGroup.GroupName) 下的 @Model.CodeID 刪除</h2>
<h2 style="color: red">你確定要刪除嗎? 提示:若此參數有被其他功能使用到，則無法刪除</h2>
<div style="color: red">@ViewBag.ErrorMessage</div>

    <table class="table table-form">
        <tr>
            <th>
                參數代號
            </th>
            <td>
                @Model.CodeID
            </td>
        </tr>
        <tr>
            <th>
                說明1
            </th>
            <td>
                @Model.CodeName1
            </td>
        </tr>
        <tr>
            <th>
                說明2
            </th>
            <td>
                @Model.CodeName2
            </td>
        </tr>
        <tr>
            <th>
                說明3
            </th>
            <td>
                @Model.CodeName3
            </td>
        </tr>
        <tr>
            <th>
                排序
            </th>
            <td>
                @Model.SortIndex
            </td>
        </tr>
        <tr>
            <th>
                啟用
            </th>
            <td>
                @Model.Enabled
            </td>
        </tr>
        <tr>
            <th>
                備註
            </th>
            <td>
                @Model.Memo
            </td>
        </tr>
    </table>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" class="btn btn-DeleteCheck" value="刪除" /> 
        @Html.ActionLink("回列表", "ComCodeIndex", new{ GroupID = Model.GroupID }, new { @class = "btn btn-primary",style= "background:#5c5353;color:white" })
    </p>
}
