﻿@using Enrollment.Models
@model List<ComCode>
@{
    ViewBag.path = "<i class=\"fa fa-home\" aria-hidden=\"true\"></i>首頁 &gt; F.參數設定 &gt; F4.一般參數設定 &gt;";
    ViewBag.Title = @ViewBag.GroupID+"("+ @ViewBag.GroupName+ ")參數設定";
}
<h2>
    <div>群組代號:@ViewBag.GroupID　<span>群組說明:@ViewBag.GroupName</span></div>
</h2>
<div class="top">
    @Html.ActionLink("新增參數", "ComCodeCreate", new{ GroupID = @ViewBag.GroupID }, new { @class = "btn btn-Create" })
</div>
@Html.ActionLink("回變數設定-群組列表", "Index", null, new { @class = "btn btn-primary" })
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().CodeID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().CodeName1)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().CodeName2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().CodeName3)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().SortIndex)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Enabled)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Memo)
        </th>
        <th></th>
    </tr>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CodeID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CodeName1)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CodeName2)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CodeName3)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SortIndex)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Enabled)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Memo)
                </td>
                <td>
                    @Html.ActionLink("編輯", "ComCodeEdit", new { id = item.Id }, new { @class = "btn btn-Edit" })
                    @*@Html.ActionLink("內容", "Details", new { id=item.GroupID }) | *@
                    @Html.ActionLink("刪除", "ComCodeDelete", new { id = item.Id }, new { @class = "btn btn-Delete" })
                    @* @Html.Hidden("ID", item.GroupID)*@
                </td>
            </tr>
        }
    </tbody>
</table>