﻿@using Enrollment.Models
@model Enrollment.Models.ComCode
@{
    ViewBag.path = "<i class=\"fa fa-home\" aria-hidden=\"true\"></i>首頁 &gt; F.參數設定 &gt; F4.一般參數設定 &gt; " + @ViewBag.GroupID + "(" + @ViewBag.GroupName + ")參數 &gt; ";
    ViewBag.Title = "新增";
}
<h2>群組@(ViewBag.GroupID)參數@(ViewBag.Title)</h2>
@using (Html.BeginForm())
{

    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @ViewBag.Message
    <fieldset>
        <legend>ComCode</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.CodeID)

        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.CodeID, new { placeholder = ModelsAttributeHelper<Enrollment.Models.ComCode>.GetDisplayName("CodeID") })
            @Html.ValidationMessageFor(model => model.CodeID)


        </div>

        <input type="hidden"name="GroupID" value="@ViewBag.GroupID"/>

        <div class="editor-label">
            @Html.LabelFor(model => model.CodeName1)

        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.CodeName1, new { placeholder = ModelsAttributeHelper<Enrollment.Models.ComCode>.GetDisplayName("CodeName1") })
            @Html.ValidationMessageFor(model => model.CodeName1)


        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CodeName2)

        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.CodeName2, new { placeholder = ModelsAttributeHelper<Enrollment.Models.ComCode>.GetDisplayName("CodeName2") })
            @Html.ValidationMessageFor(model => model.CodeName2)


        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CodeName3)

        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.CodeName3, new { placeholder = ModelsAttributeHelper<Enrollment.Models.ComCode>.GetDisplayName("CodeName3") })
            @Html.ValidationMessageFor(model => model.CodeName3)


        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SortIndex)

        </div>
        <div class="editor-field">
            <input type="text" name="SortIndex" onkeyup="value=value.replace(/[^\d]/g,'') " maxlength="2"  value="@ViewBag.sortindex"   placeholder="排序"/>
            
            @Html.ValidationMessageFor(model => model.SortIndex)


        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Enabled)

        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.Enabled, new SelectList(Enum.GetValues(typeof(Enrollment.Models.EnableType)),EnableType.是))
            @Html.ValidationMessageFor(model => model.Enabled)


        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Memo)

        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.Memo, new { @style = "height: 150px", placeholder = ModelsAttributeHelper<Enrollment.Models.ComCode>.GetDisplayName("Memo") })
            @Html.ValidationMessageFor(model => model.Memo)


        </div>

       

        <p>
            <input type="submit" value="新增" /><input type="button" onclick="history.back()" value="回到上一頁" />
        </p>
    </fieldset>
}