﻿@using Enrollment.Models
@model Enrollment.Models.ComCode

@{
    ViewBag.path = "<i class=\"fa fa-home\" aria-hidden=\"true\"></i>首頁 &gt; F.參數設定 &gt; F4.一般參數設定 &gt; " + Model.GroupID + "(" + Model.CodeID + ")參數 &gt; ";
    ViewBag.Title = "編輯";
}

<h2>@Model.GroupID (@Model.CodeID)@ViewBag.Title</h2>

@using (Html.BeginForm())
{

    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>ComCode</legend>

        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.GroupID)
        <div class="editor-label">
            @Html.LabelFor(model => model.CodeID)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.CodeID, new { placeholder = ModelsAttributeHelper<Enrollment.Models.ComCode>.GetDisplayName("CodeID") })

        </div>



        <div class="editor-label">
            @Html.LabelFor(model => model.CodeName1)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.CodeName1, new { placeholder = ModelsAttributeHelper<Enrollment.Models.ComCode>.GetDisplayName("CodeName1") })

        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CodeName2)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.CodeName2, new { placeholder = ModelsAttributeHelper<Enrollment.Models.ComCode>.GetDisplayName("CodeName2") })

        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CodeName3)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.CodeName3, new { placeholder = ModelsAttributeHelper<Enrollment.Models.ComCode>.GetDisplayName("CodeName3") })

        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SortIndex)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.SortIndex, new { placeholder = ModelsAttributeHelper<Enrollment.Models.ComCode>.GetDisplayName("SortIndex") })

        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Enabled)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.Enabled, new SelectList(Enum.GetValues(typeof(Enrollment.Models.EnableType))))
            @Html.ValidationMessageFor(model => model.Enabled)

        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Memo)
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.Memo, new { @style = "height: 150px", placeholder = ModelsAttributeHelper<Enrollment.Models.ComCode>.GetDisplayName("Memo") })
            @Html.ValidationMessageFor(model => model.Memo)

        </div>

        @Html.HiddenFor(model => model.Poster)
        @Html.HiddenFor(model => model.InitDate)
        @Html.HiddenFor(model => model.UpdateID)

        @Html.HiddenFor(model => model.UpdateDate)
        <p>
            <input type="submit" value="更新" /> <input type="button" onclick="history.back()" value="回到上一頁" />
        </p>
    </fieldset>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

}
