﻿@using Enrollment.Models
@model Enrollment.Models.ComGroup

@{
    ViewBag.path = "<i class=\"fa fa-home\" aria-hidden=\"true\"></i>首頁 &gt; F.參數設定 &gt; F4.一般參數設定 &gt; ";
    ViewBag.Title = "參數群組新增";
}

<h2>@ViewBag.Title</h2>

    @using (Html.BeginForm()) {

    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @ViewBag.Message
    <fieldset>
        <legend>ComGroup</legend>
        <div class="editor-label">
            @Html.LabelFor(model => model.GroupID)

        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.GroupID, new { placeholder=ModelsAttributeHelper<Enrollment.Models.ComGroup>.GetDisplayName("GroupID") })
            @Html.ValidationMessageFor(model => model.GroupID)
       
            
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.GroupName)

        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.GroupName,new { placeholder=ModelsAttributeHelper<Enrollment.Models.ComGroup>.GetDisplayName("GroupName") })
            @Html.ValidationMessageFor(model => model.GroupName)
       
            
        </div>

        <p>
            <input type="submit" value="新增" /><input type="button" onclick="history.back()" value="回到上一頁" />
        </p>
    </fieldset>
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")


}
