﻿@model Enrollment.Models.ComGroup

@{
    ViewBag.path = "<i class=\"fa fa-home\" aria-hidden=\"true\"></i>首頁 &gt; F.參數設定 &gt; F4.一般參數設定 &gt;";
    ViewBag.Title = "參數群組刪除";
}

<h2>@(ViewBag.Title)-@Model.GroupID (@Model.GroupName) </h2>


<h2 style="color: red">你確定要刪除嗎?此變數涵蓋的參數也會一併刪除</h2>
<div style="color: red">@ViewBag.ErrorMessage</div>
<table class="table">
    <tr>
        <th>
            參數代號
        </th>
        <th>
            說明1
        </th>
        <th>
            說明2
        </th>
        <th>
            說明3
        </th>
        <th>
            排序
        </th>
        <th>
            啟用
        </th>
        <th>
            備註
        </th>

    </tr>
    <tbody>
        @foreach (var item in Model.ComCode)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CodeID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CodeName1)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CodeName2)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CodeName3)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SortIndex)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Enabled)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Memo)
                </td>

            </tr>
        }
    </tbody>
</table>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" class="btn btn-DeleteCheck" value="刪除" />
        @Html.ActionLink("回列表", "Index", null, new { @class = "btn btn-primary", style = "background:#5c5353;color:white" })

    </p>
}
