﻿
@using Enrollment.Models
@model Enrollment.Models.ComGroup

@{
    ViewBag.path = "<i class=\"fa fa-home\" aria-hidden=\"true\"></i>首頁 &gt; F.參數設定 &gt; F4.一般參數設定 &gt; ";
    ViewBag.Title = "參數群組設定編輯";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm())
{

    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

<fieldset>
    <legend>ComGroup</legend>


    <div class="editor-label">
        @Html.LabelFor(model => model.GroupID)
    </div>
    <div class="editor-field">
        @Html.TextBoxFor(model => model.GroupID, new { @readonly = true, placeholder = ModelsAttributeHelper<Enrollment.Models.ComGroup>.GetDisplayName("GroupID") })

    </div>
    <div class="editor-label">
        @Html.LabelFor(model => model.GroupName)
    </div>
    <div class="editor-field">
        @Html.TextBoxFor(model => model.GroupName, new { placeholder = ModelsAttributeHelper<Enrollment.Models.ComGroup>.GetDisplayName("GroupName") })

    </div>
    
    @Html.HiddenFor(model => model.GroupType)
    @Html.HiddenFor(model => model.SysType)
    @Html.HiddenFor(model => model.Poster)
    @Html.HiddenFor(model => model.InitDate)
    @Html.HiddenFor(model => model.UpdateID)
    @Html.HiddenFor(model => model.UpdateDate)
    <p>
        <input type="submit" value="更新" /> <input type="button" onclick="history.back()" value="回到上一頁" />
    </p>
</fieldset>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

}
