﻿
@using MvcPaging
@using Enrollment.Helpers
@model MvcPaging.IPagedList<Enrollment.Models.ComGroup>

@{
    ViewBag.path = "<i class=\"fa fa-home\" aria-hidden=\"true\"></i>首頁 &gt; F.參數設定 &gt; ";
    ViewBag.Title = "F4.一般參數設定";
}
<h2>@(ViewBag.Title)列表</h2>
<div class="top">
    @Html.ActionLink("建立變數群組", "Create",null, new { @class = "btn btn-Create" })
</div>

    @using (Html.BeginForm())
{
<div>
    @Html.DisplayNameFor(model => model.FirstOrDefault().GroupID)

    @Html.InputSearchBox("SearchByGroupID", ViewData["SearchByGroupID"])
    @Html.DisplayNameFor(model => model.FirstOrDefault().GroupName)

    @Html.InputSearchBox("SearchByGroupName", ViewData["SearchByGroupName"])
    <input class="btn btn-Search" type="submit" value="搜尋" />
</div>
    
}
<div style="overflow:auto">

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().GroupID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().GroupName)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().UpdateID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().UpdateDate)
            </th>
            <th></th>
        </tr>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.ActionLink(item.GroupID, "ComCodeIndex", new { GroupID = item.GroupID }, new { style = "color: #00BCD4; text-decoration: underline;" })
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.GroupName)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.UpdateID)
                    </td>
                    <td>
                        @item.UpdateDate.Value.ToString("yyyy/MM/dd HH:mm")
                    </td>
                    <td>
                        @Html.ActionLink("編輯", "Edit", new { id = item.GroupID }, new { @class = "btn btn-Edit" })
                        @*@Html.ActionLink("內容", "Details", new { id=item.GroupID }) | *@
                        @Html.ActionLink("刪除", "Delete", new { id = item.GroupID }, new { @class = "btn btn-Delete" })
                        @* @Html.Hidden("ID", item.GroupID)*@
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div class="pager">
    @Html.Pager(Model.PageSize, Model.PageNumber, Model.TotalItemCount)
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/themes/base/css")
    <script>
        $(document).ready(function() {
          

        });
    </script>
}

