﻿@using Enrollment.Models
@model Enrollment.Models.RentDeviceHistory

@{
    ViewBag.path= "<i class=\"fa fa-home\" aria-hidden=\"true\"></i>首頁 &gt; 五、訓練設備管理 &gt; 設備使用記錄 &gt;";

    ViewBag.Title = "新增設備記錄";
}

<h2>新增設備記錄</h2>

    @using (Html.BeginForm()) {

    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @ViewBag.Message
    <fieldset>
        <legend>RentDeviceHistory</legend>
        <div class="row">
            <div class="col-md-4">
                @Html.LabelFor(model => model.DeviceId)
                @Html.DropDownList("DeviceId")
                @Html.ValidationMessageFor(model => model.DeviceId)
            </div>
            <div class="col-md-4">
                @Html.LabelFor(model => model.ClassHistoryId)
                @Html.DropDownList("ClassHistoryId","非課程需求")
                @Html.ValidationMessageFor(model => model.ClassHistoryId)
            </div>
            <div class="col-md-4">
                @Html.LabelFor(model => model.RentName)
                @Html.TextBoxFor(model => model.RentName,new { placeholder=ModelsAttributeHelper<Enrollment.Models.RentDeviceHistory>.GetDisplayName("RentName") })
                @Html.ValidationMessageFor(model => model.RentName)
            </div>
        </div>
     
        <div class="row">
            <div class="col-md-4">
                @Html.LabelFor(model => model.RentMobile)
                @Html.TextBoxFor(model => model.RentMobile,new { placeholder=ModelsAttributeHelper<Enrollment.Models.RentDeviceHistory>.GetDisplayName("RentMobile") })
                @Html.ValidationMessageFor(model => model.RentMobile)
            </div>
            <div class="col-md-4">
                @Html.LabelFor(model => model.Lender)
                @Html.TextBoxFor(model => model.Lender, new { placeholder = ModelsAttributeHelper<Enrollment.Models.RentDeviceHistory>.GetDisplayName("Lender") })
                @Html.ValidationMessageFor(model => model.Lender)
            </div>
            <div class="col-md-4">
                @Html.LabelFor(model => model.DeviceUse)
                @Html.DropDownListFor(model => model.DeviceUse, new SelectList(Enum.GetValues(typeof(Enrollment.Models.DeviceUse))))
                @Html.ValidationMessageFor(model => model.DeviceUse)
            </div>
        </div>
        <div class="row">
       
            <div class="col-md-6">
                <div class="editor-label">
                    @Html.LabelFor(model => model.DeviceUseContent)
                </div>
                <div class="editor-field">
                    @Html.TextAreaFor(model => model.DeviceUseContent, new { @style = "height: 200px", placeholder = ModelsAttributeHelper<Enrollment.Models.RentDeviceHistory>.GetDisplayName("DeviceUseContent") })
                    @Html.ValidationMessageFor(model => model.DeviceUseContent)
                </div>
            </div>
            <div class="col-md-6">
        
            </div>
        </div>
    

 
        <div class="row" style="text-align: center;margin-top:1em">
            <div class="col-md-12">
                <input type="submit" value="新增" class="btn btn-Create" /> <input type="button" onclick="history.back()" value="回到上一頁" class="btn btn-primary" />
            </div>
        </div>


  

    </fieldset>
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/themes/base/css")
    <script>
        $(document).ready(function() {
            $(".datepicker").datepicker();
            $("#ClassHistoryId").attr("style", "width:300px;");
           
            $('select').chosen();
        });
    </script>
    
}
