﻿@model Enrollment.Models.RentDeviceHistory

@{
    ViewBag.path= "<i class=\"fa fa-home\" aria-hidden=\"true\"></i>首頁 &gt; 五、訓練設備管理 &gt; 設備使用記錄 &gt;";

    ViewBag.Title = "刪除使用記錄";
}

<h2>刪除</h2>

<h3>你確定要刪除嗎?</h3>
<fieldset>
    <legend>RentDeviceHistory</legend>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" class="btn btn-DeleteCheck" value="刪除" /> |
        <input type="button" onclick="history.back()" value="回到上一頁" />
    </p>
}
