﻿
@model Enrollment.Models.RentDeviceHistory

@{
    ViewBag.Title = "內容";
}

<h2>內容</h2>

<fieldset>
    <legend>RentDeviceHistory內容</legend>
	<table>
	<tr>
	<td colspan="7">
	 Enrollment.Models.RentDeviceHistory
	</td>

	</tr>
	<tr>
    <td>
         欄位中文名稱
    </td>
    <td>
      欄位名稱
    </td>
	 <td>
       是否主索引
    </td>
	<td>
	是否唯讀
	</td>
	<td>
	 是否外索引
	</td>
	<td>
	型別
	</td>
</tr>

<tr>
    <td>
         @Html.DisplayNameFor(model => model.Device.DeviceId)
    </td>
    <td>
       DeviceId
    </td>
	 <td>
       False
    </td>
	<td>
	 False
	</td>
	
	<td>
	 True
	</td>
	<td>
	 Int32
	</td>
	
</tr>
<tr>
    <td>
         @Html.DisplayNameFor(model => model.ClassHistory.Day)
    </td>
    <td>
       ClassHistoryId
    </td>
	 <td>
       False
    </td>
	<td>
	 False
	</td>
	
	<td>
	 True
	</td>
	<td>
	 Int32
	</td>
	
</tr>
<tr>
    <td>
         @Html.DisplayNameFor(model => model.RentName)
    </td>
    <td>
       RentName
    </td>
	 <td>
       False
    </td>
	<td>
	 False
	</td>
	
	<td>
	 False
	</td>
	<td>
	 String
	</td>
	
</tr>
<tr>
    <td>
         @Html.DisplayNameFor(model => model.RentMobile)
    </td>
    <td>
       RentMobile
    </td>
	 <td>
       False
    </td>
	<td>
	 False
	</td>
	
	<td>
	 False
	</td>
	<td>
	 String
	</td>
	
</tr>
<tr>
    <td>
         @Html.DisplayNameFor(model => model.DeviceUseContent)
    </td>
    <td>
       DeviceUseContent
    </td>
	 <td>
       False
    </td>
	<td>
	 False
	</td>
	
	<td>
	 False
	</td>
	<td>
	 String
	</td>
	
</tr>
<tr>
    <td>
         @Html.DisplayNameFor(model => model.Lender)
    </td>
    <td>
       Lender
    </td>
	 <td>
       False
    </td>
	<td>
	 False
	</td>
	
	<td>
	 False
	</td>
	<td>
	 String
	</td>
	
</tr>
<tr>
    <td>
         @Html.DisplayNameFor(model => model.ReturnDate)
    </td>
    <td>
       ReturnDate
    </td>
	 <td>
       False
    </td>
	<td>
	 False
	</td>
	
	<td>
	 False
	</td>
	<td>
	 DateTime
	</td>
	
</tr>
<tr>
    <td>
         @Html.DisplayNameFor(model => model.Poster)
    </td>
    <td>
       Poster
    </td>
	 <td>
       False
    </td>
	<td>
	 False
	</td>
	
	<td>
	 False
	</td>
	<td>
	 String
	</td>
	
</tr>
<tr>
    <td>
         @Html.DisplayNameFor(model => model.InitDate)
    </td>
    <td>
       InitDate
    </td>
	 <td>
       False
    </td>
	<td>
	 False
	</td>
	
	<td>
	 False
	</td>
	<td>
	 DateTime
	</td>
	
</tr>
<tr>
    <td>
         @Html.DisplayNameFor(model => model.UpdateID)
    </td>
    <td>
       UpdateID
    </td>
	 <td>
       False
    </td>
	<td>
	 False
	</td>
	
	<td>
	 False
	</td>
	<td>
	 String
	</td>
	
</tr>
<tr>
    <td>
         @Html.DisplayNameFor(model => model.UpdateDate)
    </td>
    <td>
       UpdateDate
    </td>
	 <td>
       False
    </td>
	<td>
	 False
	</td>
	
	<td>
	 False
	</td>
	<td>
	 DateTime
	</td>
	
</tr>
</table>
</fieldset>
<p>
    @Html.ActionLink("編輯","Edit", new { id=Model.Id }) |
     <input type="button" onclick="history.back()" value="回到上一頁" />
</p>
