﻿
@using MvcPaging
@model MvcPaging.IPagedList<Enrollment.Models.RentDeviceHistory>

@{
    ViewBag.path= "<i class=\"fa fa-home\" aria-hidden=\"true\"></i>首頁 &gt; 五、訓練設備管理 &gt; ";

    ViewBag.Title = "設備使用記錄";
}


@if (ViewBag.DevicesCount > 0)
{
    <h2>租用維護記錄列表</h2>
<p>
    @Html.ActionLink("新增", "Create")
</p>
}
else
{
    <h2>租用維護記錄列表<span style="color: red">(目前所有設備均已借出，且均未歸還)</span></h2>
}
    @using (Html.BeginForm())
{
<div>
                 @Html.DisplayNameFor(model => model.FirstOrDefault().DeviceId)：@Html.DropDownList("SearchByDeviceId", (IEnumerable<SelectListItem>)ViewBag.DeviceId, "請選擇") 
                     @Html.DisplayNameFor(model => model.FirstOrDefault().ClassHistoryId)：@Html.DropDownList("SearchByClassHistoryId", (IEnumerable<SelectListItem>)ViewBag.ClassHistoryId, "請選擇") 
                   
	</div>
    <div>
        @Html.DisplayNameFor(model => model.FirstOrDefault().DeviceUse)：@Html.DropDownList("SearchByDeviceUse", new SelectList(Enum.GetValues(typeof(Enrollment.Models.DeviceUse))),"請選擇")
        @Html.DisplayNameFor(model => model.FirstOrDefault().IsReturn)：@Html.DropDownList("SearchByIsReturn", new SelectList(Enum.GetValues(typeof(Enrollment.Models.EnableType))),"請選擇")
        <input type="submit" class="btn btn-Search" value="搜尋" />
    </div>


    
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Device.DeviceId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Device.Subject)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().RentName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().RentMobile)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Lender)
        </th>
        <th>借出日期</th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().IsReturn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().ReturnDate)
        </th>
        
        <th></th>
    </tr>
<tbody>
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Device.DeviceId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Device.Subject)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RentName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RentMobile)
        </td>
      
        <td>
            @Html.DisplayFor(modelItem => item.Lender)
        </td>
        <td>@item.InitDate.Value.ToString("yyyy/MM/dd")</td>
        <td>
            @Html.DisplayFor(modelItem => item.IsReturn)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReturnDate)
        </td>
      
        <td>
            @Html.ActionLink("編輯", "Edit", new { id=item.Id }, new { @class = "btn btn-Edit" }) 
            @*@Html.ActionLink("內容", "Details", new { id=item.Id }) | *@
            @Html.ActionLink("刪除", "Delete", new { id=item.Id }, new { @class = "btn btn-Delete" })
            @Html.Hidden("ID",item.Id)
        </td>
    </tr>
}
</tbody>
</table>

<div class="pager">
    @Html.Pager(Model.PageSize, Model.PageNumber, Model.TotalItemCount)
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/themes/base/css")
    <script>
        $(document).ready(function() {
            $(".datepicker").datepicker();
            $("#SearchByClassHistoryId").attr("style", "width:300px;");
            $('select').chosen();
          
        });
    </script>
}

