﻿@using System.Collections

@model Enrollment.Models.Role

@{
    ViewBag.path= "<i class=\"fa fa-home\" aria-hidden=\"true\"></i>首頁 &gt; H.系統設定 &gt; H2.權限控管維護 &gt;";
    ViewBag.Title = "新增角色";
}

<h2>@ViewBag.Title</h2>

@*@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)*@

    @*<fieldset>
        <legend>角色</legend>*@
    @*<table class="table table-h">
  <tr>
    <th width="120">
            @Html.LabelFor(model => model.Subject)
      
    </th>
    <td>
       @Html.EditorFor(model => model.Subject)
            @Html.ValidationMessageFor(model => model.Subject)
    </td>
  </tr>
  <tr>
      <th>
          @Html.LabelFor(model => model.Permission)
      </th>
    <td>
     

            <div id="tree3"></div>
            @Html.HiddenFor(model => model.Permission)
    </td>
  </tr>
  <tr>
    <th>
            @Html.LabelFor(model => model.Members)
      
    </th>
    <td>
      <div style="float: left">
                @Html.ListBox("MemberList", new SelectList(ViewBag.Members as IEnumerable, "Id", "Name", new { Multiple = "multiple" }))
            </div>
            <div style="float: left; width: 35px; padding: 0px 10px;">
                <input type="button" value="==＞" id="toRight"/>
                <input type="button" value="＜==" id="toLeft" />
            </div>
            <div style="float: left">
                <select name="MemberListSelect" multiple="multiple" id="MemberListSelect">
                </select>
            </div>
         <div style="clear: both"></div>

            @Html.ValidationMessageFor(model => model.Members)
    </td>
  </tr>
 
  
</table>
      <div>
     <input type="submit" value="新增" class="btn-button" />
    
    @Html.ActionLink("回列表", "Index")
</div> 

    </fieldset>
}*@
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
        <div id="member" class="table-form-wrap">
            <table class="table-form">
                <tr>
                    <th>@Html.LabelFor(model => model.Subject)</th>
                    <td>@Html.EditorFor(model => model.Subject)<span style="color: red">@Html.ValidationMessageFor(model => model.Subject)</span></td>
                </tr>
                <tr>
                    <th>權限</th>
                    <td>
                        <div id="tree3"></div>
                        @Html.HiddenFor(model => model.Permission)
                    </td>
                </tr>
                <tr>
                    <th>@Html.LabelFor(model => model.Members)</th>
                    <td class="people">
                        <div class="box">
                            @Html.ListBox("MemberList", new SelectList(ViewBag.Members as IEnumerable, "Id", "Name", new { Multiple = "multiple" }), new { @class = "form-control" })
                        </div>
                        <div class="features">
                            <div class="pc">
                                <a href="#" id="toLeft"><i class="fa fa-long-arrow-left" aria-hidden="true"></i>取消</a>
                                <a href="#" id="toRight"><i class="fa fa-long-arrow-right" aria-hidden="true"></i>加入</a>
                            </div>
                            <div class="mb">
                                <a href="#"><i class="fa fa-long-arrow-up" aria-hidden="true"></i>取消</a>
                                <a href="#"><i class="fa fa-long-arrow-down" aria-hidden="true"></i>加入</a>
                            </div>
                        </div>
                        <div class="box box-right">
                            <select name="MemberListSelect" multiple="multiple" id="MemberListSelect" class="form-control"></select>
                        </div>
                    </td>
                </tr>






                <tr>
                    <td colspan="2" class="btns">

                        <input type="submit" value="新增" class="Createbtn" />
                        <input type="button" onclick="history.back()" class="backbtn" value="回上一頁" />
                    </td>
                </tr>
            </table>

        </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/jquery-ui.custom.js" type="text/javascript"></script>


    <link href="~/Content/themes/base/skin/ui.dynatree.css" rel="stylesheet" type="text/css" id="skinSheet">
    <script src="~/Scripts/jquery.dynatree.js" type="text/javascript"></script>
    <script src="~/Role/TreeScript/0" type="text/javascript"></script>
   <script>
       $(document).ready(function () {
           $("#toRight").click(function () {

               $("#MemberList").children(":selected").each(function () {
                   $(this).appendTo("#MemberListSelect");
               });
           });
           
           $("#toLeft").click(function () {

               $("#MemberListSelect").children(":selected").each(function () {
                   $(this).appendTo("#MemberList");
               });
           });

       });
    </script>
}
