﻿@model Enrollment.Models.Role

@{
    ViewBag.path = "<i class=\"fa fa-home\" aria-hidden=\"true\"></i>首頁 &gt; H.系統設定 &gt; H2.權限控管維護 &gt;";
    ViewBag.Title = "角色刪除";
}

<h2>@ViewBag.Title</h2>

<h2 style="color: red">你確定要刪除嗎?</h2>
<fieldset>
    <legend>Role</legend>

    <table class="table table-h">
        <tr>
            <th width="120">
                @Html.DisplayNameFor(model => model.Subject)

            </th>
            <td>
                @Html.DisplayFor(model => model.Subject)

            </td>
        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Permission)

            </th>
            <td>
                @Html.DisplayFor(model => model.Permission)

            </td>
        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Poster)

            </th>
            <td>
                @Html.DisplayFor(model => model.Poster)

            </td>
        </tr>

        <tr>
            <th>
                @Html.DisplayNameFor(model => model.InitDate)

            </th>
            <td>
                @Html.DisplayFor(model => model.InitDate)

            </td>
        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UpdateID)

            </th>
            <td>
                @Html.DisplayFor(model => model.UpdateID)

            </td>
        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UpdateDate)

            </th>
            <td>
                @Html.DisplayFor(model => model.UpdateDate)

            </td>
        </tr>


    </table>
</fieldset>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" class="btn btn-DeleteCheck" value="刪除" />

        @Html.ActionLink("回列表", "Index")
    </p>
}
