﻿@using System.Collections

@model Enrollment.Models.Role

@{
    ViewBag.path = "<i class=\"fa fa-home\" aria-hidden=\"true\"></i>首頁 &gt; H.系統設定 &gt; H2.權限控管維護 &gt;";
    ViewBag.Title = "角色修改";
}

<h2>@ViewBag.Title</h2>

@*@using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        <fieldset>
            <legend>角色維護</legend>

            @Html.HiddenFor(model => model.Id)

            <table class="table table-h">
        <tr>
            <th width="120">
                @Html.LabelFor(model => model.Subject)

            </th>
            <td>
                  @Html.EditorFor(model => model.Subject)
                @Html.ValidationMessageFor(model => model.Subject)
            </td>
        </tr>
        <tr>
            <th>
                 @Html.LabelFor(model => model.Permission)

            </th>
            <td> <div id="tree3"></div>
                @Html.HiddenFor(model => model.Permission)

            </td>
        </tr>
        <tr>
            <th>
                @Html.LabelFor(model => model.Members)

            </th>
            <td>
                 <div style="float: left">
                    @Html.ListBox("MemberList", new SelectList(ViewBag.Members as IEnumerable, "Id", "Name", new { Multiple = "multiple" }))
                </div>
                <div style="float: left; width: 35px; padding: 0px 10px;">
                    <input type="button" value="-&gt;" id="toRight"/>
            <input type="button" value="&lt;-" id="toLeft"/>
                </div>
                    <div style="float: left">
                    @Html.ListBox("selectMembers", new SelectList(Model.Members as IEnumerable, "Id", "Name", new { Multiple = "multiple" }))

                  <input type="hidden" id="MemberListSelect" name="MemberListSelect" />
                </div>
                <div style="clear: both"></div>


                @Html.ValidationMessageFor(model => model.Members)
            </td>
        </tr>

    </table>

            @Html.HiddenFor(model => model.InitDate)
            @Html.HiddenFor(model => model.Poster)
            <p>
                <input type="submit" value="儲存" class="btn btn-primary" />
                 @Html.ActionLink("回列表", "Index")
            </p>
        </fieldset>
    }*@

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <div id="member" class="table-form-wrap">
        <table class="table-form">
            <tr>
                <th> @Html.LabelFor(model => model.Subject)</th>
                <td>   @Html.EditorFor(model => model.Subject)<span style="color:red">@Html.ValidationMessageFor(model => model.Subject)</span></td>
            </tr>
            <tr>
                <th>  @Html.LabelFor(model => model.Permission)</th>
                <td>
                    <div id="tree3"></div>
                    @Html.HiddenFor(model => model.Permission)
                </td>
            </tr>
            <tr>
                <th>@Html.LabelFor(model => model.Members)</th>
                <td class="people">
                    <div class="box">
                        @Html.ListBox("MemberList", new SelectList(ViewBag.Members as IEnumerable, "Id", "Name", new { Multiple = "multiple" }), new { @class = "form-control" })
                    </div>
                    <div class="features">
                        <div class="pc">
                            <a href="#" id="toLeft"><i class="fa fa-long-arrow-left" aria-hidden="true"></i>取消</a>
                            <a href="#" id="toRight"><i class="fa fa-long-arrow-right" aria-hidden="true"></i>加入</a>
                        </div>
                        <div class="mb">
                            <a href="#"><i class="fa fa-long-arrow-up" aria-hidden="true"></i>取消</a>
                            <a href="#"><i class="fa fa-long-arrow-down" aria-hidden="true"></i>加入</a>
                        </div>
                    </div>
                    <div class="box box-right">
                        @Html.ListBox("selectMembers", new SelectList(Model.Members as IEnumerable, "Id", "Name", new { Multiple = "multiple" }), new { @class = "form-control" })

                        <input type="hidden" id="MemberListSelect" name="MemberListSelect" />

                    </div>
                    @Html.ValidationMessageFor(model => model.Members)
                </td>
            </tr>
            <input data-val="true" data-val-date="欄位 發佈時間 必須是日期。" id="InitDate" name="InitDate" type="hidden" value="@Model.InitDate.Value.ToString("yyyy/MM/dd HH:mm")" class="input-validation-error">
           
            @Html.HiddenFor(model => model.Poster)
            <tr>
                <td colspan="2" class="btns">
                    <input type="submit" value="更新" class="Createbtn" />
                    <input type="button" onclick="history.back()" value="回上一頁" class="backbtn" />
                </td>
            </tr>
        </table>
    </div>

}

@section Scripts {
    @* @Scripts.Render("~/bundles/jqueryval")*@
    <script src="~/Scripts/jquery-ui.custom.js" type="text/javascript"></script>


    <link href="~/Content/themes/base/skin/ui.dynatree.css" rel="stylesheet" type="text/css" id="skinSheet">
    <script src="~/Scripts/jquery.dynatree.js" type="text/javascript"></script>
    <script src="~/Role/TreeScript/@Model.Id" type="text/javascript"></script>
    <script>
        $(document).ready(function () {

            initMemberListSelect();

            $("#toRight").click(function () {

                $("#MemberList").children(":selected").each(function () {
                    $(this).appendTo("#selectMembers");
                });
                initMemberListSelect();
            });

            $("#toLeft").click(function () {

                $("#selectMembers").children(":selected").each(function () {
                    $(this).appendTo("#MemberList");
                });
                initMemberListSelect();
            });

            function initMemberListSelect() {
                var list = '';
                $("#selectMembers").children().each(function () {
                    list += $(this).val() + ",";
                });
                $("#MemberListSelect").val(list);
            }

        });
    </script>

}
