﻿@model IEnumerable<Enrollment.Models.Role>

@{
    ViewBag.path = "<i class=\"fa fa-home\" aria-hidden=\"true\"></i>首頁 &gt; H.系統設定 &gt; ";
    ViewBag.Title = "H2.權限控管維護";
}
<h2>@(ViewBag.Title)列表</h2>

<div class="top">
   
   @Html.ActionLink("建立角色", "Create",null, new { @class = "btn btn-Create" })
</div>


<div style="overflow:auto">
<table class="table table-v">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Subject)
        </th>
       
        <th>
            @Html.DisplayNameFor(model => model.Poster)
        </th>
       
        <th>
            @Html.DisplayNameFor(model => model.InitDate)
        </th>
       
        <th>功能</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Subject)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Poster)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InitDate)
        </td>
        <td>
            @Html.ActionLink("編輯", "Edit", new { id=item.Id },new { @class = "btn btn-Edit" }) 
            <input type="button" class="delmenu btn btn-Delete" value="刪除" data-id="@item.Id"/>
          @*  @Html.ActionLink("刪除", "Delete", new { id=item.Id },new { @class = "btn btn-Delete" })*@
        </td>
    </tr>
}

</table>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/themes/base/css")
    <script>
        $(document).ready(function() {
            $(".datepicker").datepicker();

        });
        $('.delmenu').click(function () {
            var msg = "您確定要刪除嗎?";
            var id = $(this).attr("data-id");
            if (confirm(msg) == true) {
                $.ajax({
                    url: '@Url.Action("DelRole", "Role")',
                    data: { id: id },
                    type: 'post',
                    cache: false,
                    async: false,
                    dataType: 'json',
                    success: function (data) {
                        location.reload();
                    }
                });
            } else {
                return false;
            }

        });
    </script>
}
