﻿@using Enrollment.Models
@model Enrollment.Models.Device

@{
    ViewBag.path= "<i class=\"fa fa-home\" aria-hidden=\"true\"></i>首頁 &gt; 五、訓練設備管理 &gt; 設備維護管理 &gt;";

    ViewBag.Title = "新增設備";
}

<h2>新增設備</h2>

    @using (Html.BeginForm()) {

    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @ViewBag.Message
    <fieldset>
        <legend>Device</legend>
        
        
        <div class="row">
            <div class="col-md-4">
                @Html.LabelFor(model => model.DeviceCategoryId)
                @Html.DropDownList("DeviceCategoryId")
                @Html.ValidationMessageFor(model => model.DeviceCategoryId)
            </div>
            <div class="col-md-4">
                @Html.LabelFor(model => model.DeviceId)
                @Html.TextBoxFor(model => model.DeviceId, new { placeholder=ModelsAttributeHelper<Enrollment.Models.Device>.GetDisplayName("DeviceId") })

                @Html.ValidationMessageFor(model => model.DeviceId)
            </div>
            <div class="col-md-4">
                @Html.LabelFor(model => model.Subject)

                @Html.TextBoxFor(model => model.Subject,new { placeholder=ModelsAttributeHelper<Enrollment.Models.Device>.GetDisplayName("Subject") })
                @Html.ValidationMessageFor(model => model.Subject)
            </div>
        
        </div>
        
        <div class="row">
            <div class="col-md-4">
                @Html.LabelFor(model => model.DeviceModel)

                @Html.TextBoxFor(model => model.DeviceModel,new { placeholder=ModelsAttributeHelper<Enrollment.Models.Device>.GetDisplayName("DeviceModel") })
                @Html.ValidationMessageFor(model => model.DeviceModel)

            </div>
            <div class="col-md-4">
                @Html.LabelFor(model => model.DeviceBrand)

                @Html.TextBoxFor(model => model.DeviceBrand, new {placeholder = ModelsAttributeHelper<Enrollment.Models.Device>.GetDisplayName("DeviceBrand")})
                @Html.ValidationMessageFor(model => model.DeviceBrand)
            </div>
            <div class="col-md-4">
                @Html.LabelFor(model => model.Price)

                @Html.TextBoxFor(model => model.Price, new {type = "number", min = 0, placeholder = ModelsAttributeHelper<Enrollment.Models.Device>.GetDisplayName("Price")})
                @Html.ValidationMessageFor(model => model.Price)

            </div>
          
        </div>
        

        <div class="row">
            <div class="col-md-4">
                @Html.LabelFor(model => model.BuyDate)
                @Html.TextBoxFor(model => model.BuyDate, "{0:d}", new { @readonly = "", autocomplete = "Off", @class = "datepicker", target = "" })
                @Html.ValidationMessageFor(model => model.BuyDate)
            </div>
            <div class="col-md-4">
                @Html.LabelFor(model => model.WarrantyDate)
                @Html.TextBoxFor(model => model.WarrantyDate, "{0:d}", new { @readonly="",autocomplete="Off", @class = "datepicker", target = "" })
                @Html.ValidationMessageFor(model => model.WarrantyDate)
            </div>
          
            <div class="col-md-4">
               
            </div>
        </div>
      
        <div class="row">
            <div class="col-md-6">
                <div class="editor-label">
                    @Html.LabelFor(model => model.DeviceInfo)
                 </div>
                <div class="editor-field">
                    @Html.TextAreaFor(model => model.DeviceInfo,new { @style = "height: 200px", placeholder =ModelsAttributeHelper<Enrollment.Models.Device>.GetDisplayName("DeviceInfo") })
                    @Html.ValidationMessageFor(model => model.DeviceInfo)
                  </div>
            </div>

            <div class="col-md-6">
                <div class="editor-label">
                    @Html.LabelFor(model => model.Memo)
                </div>
                <div class="editor-field">
                    @Html.TextAreaFor(model => model.Memo, new { @style = "height: 200px", placeholder = ModelsAttributeHelper<Enrollment.Models.Device>.GetDisplayName("Memo") })
                </div>
            </div>

        </div>
     
        <div class="row" style="text-align: center;margin-top:1em">
            <div class="col-md-12">
                <input type="submit" value="新增" class="btn btn-Create" /> <input type="button" onclick="history.back()" value="回到上一頁" class="btn btn-primary" />
            </div>
        </div>
    
    </fieldset>
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/themes/base/css")
    <script>
        $(document).ready(function() {
            $(".datepicker").datepicker();
            $('select').chosen();
        });
    </script>
    
}
