﻿@model Enrollment.Models.Device

@{
    ViewBag.path= "<i class=\"fa fa-home\" aria-hidden=\"true\"></i>首頁 &gt; 五、訓練設備管理 &gt; 設備維護管理 &gt;";

    ViewBag.Title = "刪除設備";
}

<h2>刪除</h2>

<h3>你確定要刪除嗎?</h3>
<fieldset>
    <legend>Device</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Subject)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Subject)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" class="btn btn-DeleteCheck" value="刪除" /> |
        <input type="button" onclick="history.back()" value="回到上一頁" />
    </p>
}
