﻿
@using Enrollment.Models
@model Enrollment.Models.Device

@{
    ViewBag.path= "<i class=\"fa fa-home\" aria-hidden=\"true\"></i>首頁 &gt; 五、訓練設備管理 &gt; 設備維護管理 &gt;";

    ViewBag.Title = "編輯設備";
}

<h2>編輯設備</h2>

    @using (Html.BeginForm()) {

    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Device</legend>

        @Html.HiddenFor(model => model.Id)

        @Html.HiddenFor(model => model.DeviceId)

        <div class="row">
            <div class="col-md-4">
                @Html.LabelFor(model => model.DeviceCategoryId)
                @Html.DropDownList("DeviceCategoryId")
                @Html.ValidationMessageFor(model => model.DeviceCategoryId)
            </div>
            <div class="col-md-4">
                @Html.LabelFor(model => model.DeviceId)
                @Html.TextBoxFor(model => model.DeviceId, new { placeholder = ModelsAttributeHelper<Enrollment.Models.Device>.GetDisplayName("DeviceId") })

                @Html.ValidationMessageFor(model => model.DeviceId)
            </div>
            <div class="col-md-4">
                @Html.LabelFor(model => model.Subject)

                @Html.TextBoxFor(model => model.Subject, new { placeholder = ModelsAttributeHelper<Enrollment.Models.Device>.GetDisplayName("Subject") })
                @Html.ValidationMessageFor(model => model.Subject)
            </div>

        </div>

        <div class="row">
            <div class="col-md-4">
                @Html.LabelFor(model => model.DeviceModel)

                @Html.TextBoxFor(model => model.DeviceModel, new { placeholder = ModelsAttributeHelper<Enrollment.Models.Device>.GetDisplayName("DeviceModel") })
                @Html.ValidationMessageFor(model => model.DeviceModel)

            </div>
            <div class="col-md-4">
                @Html.LabelFor(model => model.DeviceBrand)

                @Html.TextBoxFor(model => model.DeviceBrand, new { placeholder = ModelsAttributeHelper<Enrollment.Models.Device>.GetDisplayName("DeviceBrand") })
                @Html.ValidationMessageFor(model => model.DeviceBrand)
            </div>
            <div class="col-md-4">
                @Html.LabelFor(model => model.Price)

                @Html.TextBoxFor(model => model.Price, new { type = "number", min = 0, placeholder = ModelsAttributeHelper<Enrollment.Models.Device>.GetDisplayName("Price") })
                @Html.ValidationMessageFor(model => model.Price)

            </div>

        </div>


        <div class="row">
            <div class="col-md-4">
                @Html.LabelFor(model => model.BuyDate)
                @Html.TextBoxFor(model => model.BuyDate, "{0:d}", new { @readonly = "", autocomplete = "Off", @class = "datepicker", target = "" })
                @Html.ValidationMessageFor(model => model.BuyDate)
            </div>
            <div class="col-md-4">
                @Html.LabelFor(model => model.WarrantyDate)
                @Html.TextBoxFor(model => model.WarrantyDate, "{0:d}", new { @readonly = "", autocomplete = "Off", @class = "datepicker", target = "" })
                @Html.ValidationMessageFor(model => model.WarrantyDate)
            </div>

            <div class="col-md-4">
                @Html.LabelFor(model => model.DeviceStatus)
                @Html.DropDownListFor(model => model.DeviceStatus, new SelectList(Enum.GetValues(typeof(Enrollment.Models.DeviceStatus))))
                      @Html.ValidationMessageFor(model => model.DeviceStatus)
            </div>
        </div>
        
        
        <div class="row">
            <div class="col-md-4">
                @Html.LabelFor(model => model.DecommissioningDate)
                @Html.TextBoxFor(model => model.DecommissioningDate, "{0:d}", new { @readonly = "", autocomplete = "Off", @class = "datepicker", target = "" })
                @Html.ValidationMessageFor(model => model.DecommissioningDate)
            </div>
            <div class="col-md-4">
                
            </div>

            <div class="col-md-4">
  
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="editor-label">
                    @Html.LabelFor(model => model.DeviceInfo)
                </div>
                <div class="editor-field">
                    @Html.TextAreaFor(model => model.DeviceInfo, new { @style = "height: 200px", placeholder = ModelsAttributeHelper<Enrollment.Models.Device>.GetDisplayName("DeviceInfo") })
                    @Html.ValidationMessageFor(model => model.DeviceInfo)
                </div>
            </div>

            <div class="col-md-6">
                <div class="editor-label">
                    @Html.LabelFor(model => model.Memo)
                </div>
                <div class="editor-field">
                    @Html.TextAreaFor(model => model.Memo, new { @style = "height: 200px", placeholder = ModelsAttributeHelper<Enrollment.Models.Device>.GetDisplayName("Memo") })
                </div>
            </div>

        </div>

            @Html.HiddenFor(model => model.Poster)
            @Html.HiddenFor(model => model.InitDate)
        <div class="row" style="text-align: center;margin-top:1em">
            <div class="col-md-12">
                <input type="submit" value="更新" class="btn btn-Edit" /> <input type="button" onclick="history.back()" value="回到上一頁" class="btn btn-primary" />
            </div>
        </div>
   
    </fieldset>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/themes/base/css")
    <script>
        $(document).ready(function() {
            $(".datepicker").datepicker();
        });
    </script>

    }
