﻿
@using Enrollment.Helpers
@using MvcPaging
@model MvcPaging.IPagedList<Enrollment.Models.Device>

@{
    ViewBag.path= "<i class=\"fa fa-home\" aria-hidden=\"true\"></i>首頁 &gt; 五、訓練設備管理 &gt; ";

    ViewBag.Title = "設備維護管理";
}

<h2>設備列表</h2>

<p>
    @Html.ActionLink("新增", "Create")
</p>

    @using (Html.BeginForm())
{
<div>
                 @Html.DisplayNameFor(model => model.FirstOrDefault().DeviceCategoryId)：@Html.DropDownList("SearchByDeviceCategoryId", (IEnumerable<SelectListItem>)ViewBag.DeviceCategoryId, "請選擇") 
                    @Html.DisplayNameFor(model => model.FirstOrDefault().Subject)：@Html.InputSearchBox("SearchBySubject", ViewData["SearchBySubject"])
                
	</div>
    <div>
        @Html.DisplayNameFor(model => model.FirstOrDefault().DeviceStatus)：@Html.DropDownList("SearchByDeviceStatus", new SelectList(Enum.GetValues(typeof(Enrollment.Models.DeviceStatus))), "請選擇")
        @Html.DisplayNameFor(model => model.FirstOrDefault().DeviceRentStatus)：@Html.DropDownList("SearchByDeviceRentStatus", new SelectList(Enum.GetValues(typeof(Enrollment.Models.DeviceRentStatus))), "請選擇")

        <input type="submit" class="btn btn-Search" value="搜尋" />
    </div>
  

    
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().DeviceCategory.Subject)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Subject)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().DeviceModel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().DeviceBrand)
        </th>
     
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().DeviceStatus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().DeviceRentStatus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().BuyDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().WarrantyDate)
        </th>
      
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().DecommissioningDate)
        </th>
  
        <th></th>
    </tr>
<tbody>
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DeviceCategory.Subject)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Subject)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DeviceModel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DeviceBrand)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DeviceStatus)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DeviceRentStatus)
        </td>
        
        <td>
            
            @item.BuyDate.ToString("yyyy/MM/dd")
        </td>
        @if (item.WarrantyDate.HasValue)
        {
            <td>
                @item.WarrantyDate.Value.ToString("yyyy/MM/dd")
            </td>
        }
        else
        {
            <td>
               
            </td>

        }


        <td>
            @Html.DisplayFor(modelItem => item.DecommissioningDate)
        </td>
  

        <td>
            @Html.ActionLink("編輯", "Edit", new {id=item.Id }, new { @class = "btn btn-Edit" }) 
            @* @Html.ActionLink("內容", "Details", new { /* id=item.PrimaryKey */ }) | *@
            @Html.ActionLink("刪除", "Delete", new { id = item.Id }, new { @class = "btn btn-Delete" })
            @Html.Hidden("ID",item.DeviceId)
        </td>
    </tr>
}
</tbody>
</table>

<div class="pager">
    @Html.Pager(Model.PageSize, Model.PageNumber, Model.TotalItemCount)
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/themes/base/css")
    <script>
        $(document).ready(function() {
            $(".datepicker").datepicker();

        });
    </script>
}

