﻿<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title-管理系統</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link rel="stylesheet" href="~/Content/bootstrap.min.css?20130815" />
    <link rel="stylesheet" href="~/Content/fonts/font-awesome/css/font-awesome.min.css" />
    <link href="~/Scripts/jquery.pageslide/jquery.pageslide.css" rel="stylesheet" />
    <link href="~/Content/style.css?20130815" rel="stylesheet" />
    <link href="~/Content/style-edit.css?20130815" rel="stylesheet" />
    <!-- colorbox -->
    <link href="@Url.Content(" ~/Content/colorbox.css")" rel="stylesheet" type="text/css" />

    @Styles.Render("~/Content/css")
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
      <script>window.html5 || document.write('<script src="media/js/libs/fixes/html5.js"><\/script>')</script>
    <![endif]-->
</head>
<body id="gowater" class="sidebar-max gowater">

    <div id="content">
        <div class="page" id="page-dashboard">
            @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>
    </div>

    <script src="~/Scripts/jquery-1.9.1.js"></script>
    <script src="~/Scripts/modernizr-2.5.3.js"></script>
    <script src="~/Scripts/modernizr-2.6.2.js"></script>


    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>




    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/madmin.js"></script>
    <script src="~/Scripts/application.js"></script>
    @*
    <script src="~/Scripts/gebo_common.js"></script>*@

    <script src="~/Scripts/jquery-ui-1.10.0.js"></script>
    <script src="~/Scripts/ui.datepicker-zh-TW.js"></script>

    <link href="~/Content/themes/base/jquery.ui.core.css" rel="stylesheet" />
    <link href="~/Content/themes/base/jquery.ui.datepicker.css" rel="stylesheet" />
    <link href="~/Content/themes/base/jquery.ui.theme.css" rel="stylesheet" />

    <!-- colorbox -->
    <script src="@Url.Content(" ~/Scripts/colorbox/jquery.colorbox-min.js")" type="text/javascript"></script>

    <script>
        $(document).ready(function () {
            //若為必填，則自動加*
            $("[data-val-required]").parent().prev().children().prepend("<span style='color:red'>*</span>");
            $("[placeholder]").each(function () {
                $(this).attr('placeholder', "請輸入" + $(this).attr('placeholder'));

            });
            $('a:contains("回列表")').addClass("btn");
            $('a:contains("回列表")').parent().addClass("bottom-btn");

            $(".colorbox-iframe").colorbox({ iframe: true, width: "80%", height: "80%", escKey: false });

        });
    </script>

    @*需要把Scripts拉到Head 裡來 *@
    @RenderSection("scripts", required: false)
</body>
</html>
