﻿<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="utf-8" />
    @if (!string.IsNullOrEmpty(ViewBag.Title))
    {
        <title>@ViewBag.Title-海洋科技工程人才培訓及認證中心-招生系統</title>
    }
    else
    {
        <title>海洋科技工程人才培訓及認證中心-招生系統</title>
    }

    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="X-UA-Compatible" content="IE=9" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    @*
        <link rel="stylesheet" href="~/Content/bootstrap.min.css?@DateTime.Now.ToString(" HHmmsss")" />*@

    @*
        <link rel="stylesheet" href="~/Content/bootstrap.min.css?@DateTime.Now.ToString(" HHmmsss")" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="~/css/all.css?@DateTime.Now.ToString(" HHmmsss")" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">*@
    <link href="~/Content/style.css?@DateTime.Now.ToString(" HHmmsss")" rel="stylesheet" />
    <link href="~/Content/style2.css?@DateTime.Now.ToString(" HHmmsss")" rel="stylesheet" />

    <link rel="stylesheet" href="~/Content/fonts/font-awesome/css/font-awesome.min.css" />
    <link href="~/Scripts/jquery.pageslide/jquery.pageslide.css" rel="stylesheet" />
    @*
        <link href="~/Content/style.css?@DateTime.Now.ToString(" HHmmsss")" rel="stylesheet" />*@
    <link href="~/Content/style-edit.css?@DateTime.Now.ToString(" HHmmsss")" rel="stylesheet" />
    <link href="~/Content/GridviewScroll.css?@DateTime.Now.ToString(" HHmmsss")" rel="stylesheet" />
    <link href="~/Content/Site.css?@DateTime.Now.ToString(" HHmmsss")" rel="stylesheet" />
    <link href="~/Content/select2/select2.css?@DateTime.Now.ToString(" HHmmsss")" rel="stylesheet" />
    @*@Styles.Render("~/Content/css")*@

    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
      <script>window.html5 || document.write('<script src="media/js/libs/fixes/html5.js"><\/script>')</script>
    <![endif]-->
    @*
        <script src="~/Scripts/jquery-1.9.1.js"></script>*@
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>

    <!-- 非同步處理 https://caolan.github.io/async/ -->
    <script src="~/Scripts/async.js"></script>
    <!-- 下拉選單元件 https://select2.org/ -->
    <script src="~/Scripts/select2.min.js"></script>
    <script src="~/Scripts/ComboBoxUtility.js"></script>


    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, shrink-to-fit=no" />
    <link href="~/Scripts/jquery-scrollbar/jquery.scrollbar.css?@DateTime.Now.ToString(" HHmmsss")" rel="stylesheet" media="screen" />
    <link href="~/js/pages/css/pages-icons.css?@DateTime.Now.ToString(" HHmmsss")" rel="stylesheet" />
    <link href="~/js/pages/css/pages.css?@DateTime.Now.ToString(" HHmmsss")" rel="stylesheet" />
    <link href="~/Content/DropdownBtn.css?@DateTime.Now.ToString(" HHmmsss")" rel="stylesheet" />
</head>
<body id="gowater" class="sidebar-max gowater ">

    @*<div class="navbar ">
            <div class="navbar-inner">
                <div class="header-bg">

                    <a style="display: none;" class="mobile-menu-toggle js-toggle-menu hamburger-menu open" href="#">
                        <span class="menu-item"></span>
                        <span class="menu-item"></span>
                        <span class="menu-item"></span>
                    </a>
                    <style>
                        .logo .float {
                            color: white;
                            line-height: 1.5;
                            float: left;
                        }

                        .logo img {
                            margin-right: 10px;
                        }

                        .logo a {
                            display: inline-block;
                        }
                    </style>
                    <div class="logo">
                        <a href="~/home">
                            <div class="float">
                                <img src="/images/logo.png" height="45" alt="">
                            </div>
                            <div class="float">
                                巧新測試
                                <br>
                                排程系統Enrollment
                            </div>
                            <div class="clear"></div>
                        </a>
                    </div>

                    <ul class="user_menu" style="color: white; list-style-type: none;">
                        <li class="">
                            @Html.Partial("_LoginPartial")
                        </li>
                    </ul>
                    <a data-target=".nav-collapse" data-toggle="collapse" class="btn_menu">
                        <span class="icon-align-justify icon-white"></span>
                    </a>
                </div>
            </div>
        </div>*@

    <div class="page-container ">
        <div class="header header-bg">
            <a href="#" class="btn-link toggle-sidebar d-lg-none pg pg-menu menubtn" data-toggle="sidebar" id="showmenu">
            </a>

            <style>
                .page-sidebar .sidebar-menu .menu-items > li ul.sub-menu > li > ul.sub-menu > li {
                    padding-left: 20px;
                }

                    .page-sidebar .sidebar-menu .menu-items > li ul.sub-menu > li > ul.sub-menu > li > a > span {
                        font-size: 14px;
                    }

                .logo .float {
                    color: white;
                    line-height: 1.5;
                    float: left;
                    font-size: 20px;
                }

                .logo img {
                    margin-right: 10px;
                    margin-top: 10px;
                }

                .logo a {
                    display: inline-block;
                }

                .header {
                    background-color: #2c2c2c;
                    position: fixed;
                }

                #block {
                    height: 80px;
                }

                #parent li {
                    list-style-type: none;
                }

                .child a {
                    height: 35px;
                }

                .menuStyle {
                    background-color: #2c3c5f;
                    color: rgba(0,0,0,.5);
                    font-size: 18px;
                }

                    .menuStyle span {
                        color: #fff;
                    }

                .page-sidebar .sidebar-menu .menu-items > li ul.sub-menu > li > a {
                    padding: 0;
                    font-size: 16px;
                }

                .menuStyle .fa {
                    width: 10px;
                }

                #Route {
                    padding: 0.5em 2em;
                    width: 100%;
                    border-bottom: 0.5px solid #dee2e6;
                    position: fixed;
                    margin-top: 4.5em;
                    z-index: 100;
                    background-color: #fcfcfc;
                }

                #username {
                    margin-left: -5em;
                    margin-top: 2em;
                }

                #menuicon {
                    margin-left: 5.5em;
                }

                #content {
                    margin-left: 10em;
                    margin-top: 6em;
                }

                .menubtn {
                    display: none;
                }

                .dropdown {
                    display: none;
                }

                @@media (max-width: 990px) {

                    .menubtn {
                        display: block;
                    }

                    .dropdown {
                        display: block;
                        z-index: 1000;
                    }

                    .page-sidebar .sidebar-menu .menu-items li > a {
                        width: 120%;
                    }

                    #block {
                        height: 80px;
                        background-color: #2c3c5f;
                    }

                    #Route {
                        margin-top: 5em;
                    }

                    #content {
                        margin-top: 8em;
                    }

                    .dropdown_btn {
                        display: none;
                    }

                    body .header {
                        height: 70px;
                    }

                    .logo {
                        position: absolute;
                        margin-left: 2em;
                        margin-top: -0.1em;
                    }

                    .username {
                        display: none;
                    }

                    .float {
                        font-size: 20px;
                    }

                        .float img {
                            margin-bottom: -1.5em;
                        }

                    #menuicon {
                        margin-left: 3.5em !important;
                    }

                    .menuStyle span {
                        line-height: 40px;
                    }
                }
            </style>
            <div class="logo">
                <a href="~/home">
                    <div class="float">
                        <img src="/images/logo.png" height="45" alt="">
                    </div>
                    <div class="float" style="margin-top:1em;">
                        海洋科技工程人才培訓及認證中心-招生系統
                    </div>
                    <div class="clear"></div>
                </a>
            </div>

            <ul class="user_menu" style="color: white; list-style-type: none;">
                <li class="">
                    @Html.Partial("_LoginPartial")
                </li>
            </ul>
            <a data-target=".nav-collapse" data-toggle="collapse" class="btn_menu">
                <span class="icon-align-justify icon-white"></span>
            </a>
        </div>
        <div id="Route">
            <span id="RouteTitle">@Html.Raw(ViewBag.path) @ViewBag.Title</span>
        </div>
        <div class="page-content-wrapper ">

            <div class="sm-gutter">

                <div class="container-fluid padding-25 sm-padding-10">

                    <div id="content" class="">

                        <div class="page" id="page-dashboard">
                            @RenderSection("featured", required: false)
                            <section class="content-wrapper main-content clear-fix">
                                @RenderBody()
                            </section>
                        </div>
                    </div>

                    <div id="changePasswordPanel" class="popup_background">
                        <div class="popup_content animated bounceInUp">
                            <div class="closepop">
                                <img width="30" height="30" src="~/images/close-btn.svg" alt="">
                                <h3 style="color: white">修改密碼</h3>
                            </div>
                            @*<div class="banner">
                                    <div class="popup_tip">
                                    </div>

                                    <div class="success_msg">
                                        系統已依照您的變更修改密碼。
                                    </div>
                                    <div class="error_msg">
                                        新密碼確認與新密碼不符，請重新輸入。
                                    </div>
                                </div>*@

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>


    <div class="sidebar-toggle-button">
    </div>

    <div id="sidebar" class="">
        @*  <div class="profile">
            </div>
            <div class="profile-name">使用者姓名</div> *@
        @*<ul class="sidebar-menu on-click" id="main-menu">
                @{
                var menu = @ViewBag.menu;
                }
                @Html.Raw(@menu)

            </ul>*@

        @*  <a href="#" id="sidebar-resizer"> <i class="min icon-resize-small"></i> <i class="max icon-resize-full"></i> </a> *@
        <nav class="page-sidebar menuStyle" data-pages="sidebar" style="transform: translate(210px, 0px);">
            <div class="sidebar-menu">
                <div id="block">

                </div>
                <ul class="menu-items" id="parent" style="width:100%;">
                    <li class="">
                        @{
                            var menu = @ViewBag.menu;
                        }
                        @Html.Raw(@menu)
                    </li>
                </ul>
            </div>
        </nav>

    </div>


    <script src="~/Scripts/modernizr-2.5.3.js"></script>

    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>


    <!-- bootstrap 4 -->
    <script src="~/Scripts/popper.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js" crossorigin="anonymous"></script>

    <!-- 確認視窗元件 https://sweetalert.js.org/guides/ -->
    @*
        <script src="~/Scripts/sweetalert.min.js"></script>*@


    @*
        <script src="~/Scripts/bootstrap.min.js"></script>*@
    <script src="~/Scripts/madmin.js"></script>
    <script src="~/Scripts/application.js"></script>
    <script src="~/Scripts/jquery.twzipcode.js"></script>

    <!-- 時間選擇元件-->
    <script src="~/js/jquery.timepicker.min.js"></script>
    <link href="~/Content/jquery.timepicker.min.css" rel="stylesheet" />

    <!-- 日期選擇元件 http://www.daterangepicker.com/ -->
    <script src="~/Scripts/DatePickerUtility.js"></script>
    <script type="text/javascript" src="~/Scripts/moment.min.js"></script>
    <script type="text/javascript" src="~/Scripts/daterangepicker.min.js"></script>
    <link rel="stylesheet" type="text/css" href="~/css//daterangepicker.css?@DateTime.Now.ToString(" HHmmsss")" />
    @*
        <script src="~/js/tableHeadFixer.js"></script> *@
    <script src="~/js/gridviewScroll.min.js"></script>
    <script src="~/js/all.js"></script>

    <script src="~/js/modernizr.custom.js?@DateTime.Now.ToString(" HHmmsss")"></script>
    <script src="~/Scripts/jquery-scrollbar/jquery.scrollbar.min.js?@DateTime.Now.ToString(" HHmmsss")"></script>
    <script src="~/js/pages/js/pages.js?@DateTime.Now.ToString(" HHmmsss")"></script>
    <script src="~/Scripts/ckeditor/ckeditor.js?@DateTime.Now.ToString(" HHmmsss")" type="text/javascript"></script>

    @*下拉選單額外用的*@
    <script src="~/js/chosen.jquery.js?@DateTime.Now.ToString(" HHmmsss")"></script>
    <link rel="stylesheet" type="text/css" href="~/css/chosen/chosen.css?@DateTime.Now.ToString(" HHmmsss")" />
    <!-- 行事曆 -->
    <script type="text/javascript" src="~/js/fullcalendar.js"></script>
    <link rel="stylesheet" type="text/css" href="~/css/fullcalendar.css" />

    <script>
        $(document).ready(function () {
            //下拉選單初始化
            $.ComboBoxDefault();
            //$('.select2').select2({
            //    width: '220px',
            //    height:'35px'
            $.DatePickerDefault();
            //});
            //若為必填，則自動加*
            //$("[data-val-required]").parent().prev().children().prepend("<span style='color:red'>*</span>");
            $("[data-val-required]").parent().children("label").prepend("<span style='color:red'>*</span>");
            $("[placeholder]").each(function () {
                $(this).attr('placeholder', "請輸入" + $(this).attr('placeholder'));

            });
            $('a:contains("回列表")').addClass("btn");
            $('a:contains("回列表")').parent().addClass("bottom-btn");

            // $(".colorbox-iframe").colorbox({ iframe: true, width: "80%", height: "80%", escKey: true });
            $('a:contains("Back to List")').addClass('btn btn-primary btn-gray').text('回列表');
            $('a:contains("Edit")').addClass('btn btn-primary').text('編輯');
            $('a:contains("Details")').text('詳細內容');
            $('a:contains("Delete")').text('刪除');
            $('a:contains("create")').text('新增');
            $('a:contains("Delete")').text('刪除');
            $('a:contains("回列表")').addClass("btn btn-primary  btn-gray")

            $('h3:contains("Are you sure you want to delete this?")').text('你確定要刪除此筆資料?');
        });
        $('#printMe').click(function () {
            window.print();
        });
        $('.fa-ga').parent().attr('target', '_blank').attr('href', 'https://www.google.com/intl/zh-TW_tw/analytics/');
        $('a:contains("流量瀏覽")').on('click', function (e) {
            e.preventDefault()
            window.open('https://www.google.com/analytics/web/?et&authuser=0&pli=1#report/defaultid/a71404779w108901719p113501425/', '_blank');
        })
        $('#twzipcode').twzipcode({
            'detect': true
        });
        sizechange();
        $(window).resize(function () {
            history.go(0);
        });

        $(document).ready(function () {
            h = document.getElementById("parent").innerHTML;
            document.getElementById("parent").innerHTML = h;

            $('#parent').children().each(function () {
                if ($(this).text().match($("#RouteTitle").text())) {
                    var r = ($(this).text().substr(2, 6) + " > " + $("#RouteTitle").text()).replace("　　", "");
                    $("#RouteTitle").html(r);
                }
            });

        })

        function DropDown(el) {
            this.dd = el;
            this.initEvents();
        }
        DropDown.prototype = {
            initEvents: function () {
                var obj = this;

                obj.dd.on('click', function (event) {
                    $(this).toggleClass('active');
                    event.stopPropagation();
                });
            }
        }

        $(function () {

            var dd = new DropDown($('#dd'));

            $(document).click(function () {
                // all dropdowns
                $('.wrapper-dropdown-2').removeClass('active');
            });

        });
        function sizechange() {

            if (window.location.href.indexOf('Login') > 1) {
                if ($(window).width() > 990) {
                    $(".header").css("width", "120%");
                    $(".header").css("margin-left", "-6em");
                    $("#Route").hide();
                    $("#content").css("margin-left", "0");

                }
                else {
                    $(".header").css("width", "120%");
                    $(".header").css("margin-left", "0em");
                    $("#Route").hide();
                    $("#showmenu").hide();
                    $("#content").css("margin-left", "0");

                }
            } else {
                if ($(window).width() > 990) {
                    $("#Route").show();
                    $(".header").css("width", "101%");
                    $(".header").css("margin-left", "-6em");
                    $("#Route").css("width", "89%");
                    $("#Route").css("margin-left", "10em");
                    $("#content").css("margin-left", "10em");

                } else {
                    $("#Route").show();
                    $(".header").css("width", "100%");
                    $(".header").css("margin-left", "0");
                    $("#Route").css("width", "100%");
                    $("#Route").css("margin-left", "0");
                    $("#content").css("margin-left", "0");
                }
            }
        }

    </script>

    @*需要把Scripts拉到Head 裡來 *@
    @RenderSection("scripts", required: false)
</body>
</html>
