﻿@if (Request.IsAuthenticated) {
    <text>
<div style="margin-bottom:-1.5em; margin-left:-3em;">
    <div class="username">
        <i class="icon-user"></i> 您好，@User.Identity.Name !

        @using (Html.BeginForm("LogOff", "Member", FormMethod.Post, new { id = "logoutForm" }))
        { @Html.AntiForgeryToken() }
    </div>
    @*<br class="dropdown" />
    今天是<span class="year"></span><span class="month"></span><span class="date"></span><span class="week"></span>*@
</div>  
@*<div class="dropdown_btn" style="margin-left:5em;margin-bottom:-1.5em;">
    <a id="changePassword" class="btn btn-primary popup_btn" href="/member/changePassword">修改密碼</a>
    <a class="btn btn-primary" href="javascript:document.getElementById('logoutForm').submit()">登出</a>
</div>*@


<div class="wrapper-demo dropdown" style="margin-top:3em;">
    <div id="dd" class="wrapper-dropdown-2" tabindex="1">
        <span >
            <i class="icon-user"></i> 您好，@User.Identity.Name !

            @using (Html.BeginForm("LogOff", "Member", FormMethod.Post, new { id = "logoutForm" }))
                { @Html.AntiForgeryToken() }
                </span>
        <ul class="dropdown" > 
            <li  style="padding-left:0px;"><a id="changePassword" class="dropdown-item" href="/member/changePassword">修改密碼</a>
</li>
            <li  style="padding-left:0px;"><a class="dropdown-item" href="javascript:document.getElementById('logoutForm').submit()">登　　出</a>
</li>
            <li></li>
        </ul>
    </div>
</div>

    </text>
} else {

   @*  <a href="@(Url.Action("Login", "Member"))">
        <i class="icon-user"></i>
        <span>登入</span>
    </a> *@

}
