﻿@using Enrollment.Models
@model Enrollment.Models.Teacher

@{
    ViewBag.path= "<i class=\"fa fa-home\" aria-hidden=\"true\"></i>首頁 &gt; 一、培訓作業管理 &gt; 講師資料維護 &gt; ";

    ViewBag.Title = "講師資料新增";
}

<h2>講師資料新增</h2>

@using (Html.BeginForm(null, null, FormMethod.Post, new { enctype = "multipart/form-data" }))
{

    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @ViewBag.Message
    <fieldset>
        <legend>Teacher</legend>
        <div class="row">
            <div class="col-md-4">
                @Html.LabelFor(model => model.Name)
                @Html.TextBoxFor(model => model.Name, new { placeholder = ModelsAttributeHelper<Enrollment.Models.Teacher>.GetDisplayName("Name") })
                @Html.ValidationMessageFor(model => model.Name)
            </div>
            <div class="col-md-5">
                @Html.LabelFor(model => model.Photo)
                <input type="file" name="file" />
            </div>
            <div class="col-md-3">
              
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <label for="">領域</label>
                @if (ViewBag.Showlist)
                {
                    @Html.DropDownList("fieldlist")
                }
                else
                {
                    <a class="btn btn-Create" href="/Field/Create" target="_blank" type="button">請先新增領域</a>
                }

            </div>
            <div class="col-md-3">
                @Html.LabelFor(model => model.Education)
                @Html.TextBoxFor(model => model.Education, new { placeholder = ModelsAttributeHelper<Enrollment.Models.Teacher>.GetDisplayName("Education") })
                @Html.ValidationMessageFor(model => model.Education)


            </div>
            <div class="col-md-3">
              
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                @Html.LabelFor(model => model.Email)
                @Html.TextBoxFor(model => model.Email, new { style="width:80%" ,placeholder = ModelsAttributeHelper<Enrollment.Models.Teacher>.GetDisplayName("Email") })
                @Html.ValidationMessageFor(model => model.Email)

            </div>
            <div class="col-md-6">
             
                @Html.LabelFor(model => model.Resume)

        
                    <input type="file" name="resume" />

            </div>
      
        </div>



        <div class="editor-label">
            @Html.LabelFor(model => model.Experience)

        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.Experience, new { style = "height:200px", placeholder = ModelsAttributeHelper<Enrollment.Models.Teacher>.GetDisplayName("Experience") })


            @Html.ValidationMessageFor(model => model.Experience)


        </div>
        
        
        <div class="row" style="text-align: center">
            <div class="col-md-12">
                <h4>
                    新增證照<input type="button" value="加入證照資訊" class="btn btn-Delete" id="addlicense" style="margin: 1em" /><span style="font-size: 14px;color:red">一旦勾選取消則會刪除此筆資料</span>
                </h4>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                @Html.LabelFor(model => model.Licenses.First().LicenseId)
                <input id="LicenseId" name="LicenseId" placeholder="證照編號" type="text" value="">
            </div>


            <div class="col-md-4">
                @Html.LabelFor(model => model.Licenses.First().ChineseName)
                <input id="ChineseName" name="ChineseName" placeholder="證照中文名稱" type="text" value="">
            </div>

            <div class="col-md-4">
                @Html.LabelFor(model => model.Licenses.First().EnglishName)
                <input id="EnglishName" name="EnglishName" placeholder="證照英文名稱" type="text" value="">
            </div>




        </div>
        <div class="row">
            <div class="col-md-4">
                @Html.LabelFor(model => model.Licenses.First().LicenseCategory)
                <input id="LicenseCategory" name="LicenseCategory" placeholder="類別" type="text" value="" class="valid">
            </div>


            <div class="col-md-4">
                @Html.LabelFor(model => model.Licenses.First().LicenseUnit)
                <input id="LicenseUnit" name="LicenseUnit" placeholder="發證單位" type="text" value="">
            </div>

            <div class="col-md-4">

            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                @Html.LabelFor(model => model.Licenses.First().IssueDate)
                <input id="IssueDate" name="IssueDate" class="datepicker" autocomplete="Off" readonly="true">

            </div>
            <div class="col-md-4">
                @Html.LabelFor(model => model.Licenses.First().EffectiveDate)
                <input id="EffectiveDate" name="EffectiveDate" class="datepicker" autocomplete="Off" readonly="true">
            </div>
            <div class="col-md-4">
            </div>
        </div>

        <table class="table" id="Licenseslist" style="display: none">
            <tbody>
                <tr>
                    <th>取消</th>
                    <th>證照編號</th>
                    <th>中文名稱</th>
                    <th>英文名稱</th>
                    <th>類別</th>
                    <th>發證單位</th>
                    <th>發照日期</th>
                    <th>有效日期</th>
                </tr>
            </tbody>

        </table>
        
        

        <div class="row" style="text-align: center;margin-top:1em">
            <div class="col-md-12">
                <input type="submit" value="新增" id="CreateStudent" class="btn btn-Create" /> <input type="button" onclick="history.back()" value="回到上一頁" class="btn btn-primary" />
            </div>
        </div>
    </fieldset>
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(document).ready(function () {
            $('#fieldlist').attr("multiple", "true");
            $('#fieldlist').val("");
            $('#fieldlist').chosen();
            $('#fieldlist_chosen').attr("style", "width:80%");
        });
        var count = 0;
        $('#addlicense').click(function () {
            var LicenseId = $('#LicenseId').val();
            var ChineseName = $('#ChineseName').val();
            var EnglishName = $('#EnglishName').val();
            var LicenseCategory = $('#LicenseCategory').val();
            var LicenseUnit = $('#LicenseUnit').val();
            var IssueDate = $('#IssueDate').val();
            var EffectiveDate = $('#EffectiveDate').val();
            $('#LicenseId').val("");
            $('#ChineseName').val("");
            $('#EnglishName').val("");
            $('#LicenseCategory').val("");
            $('#LicenseUnit').val("");
            $('#IssueDate').val("");
            $('#EffectiveDate').val("");
            var rows = document.getElementById("Licenseslist").rows.length;


            var htmlstr = "<tr id=\"license" +
                rows +
                "\"><td><input type=\"CheckBox\" class=\"checkaddbtn\" name=\"checkaddbtn\" value=\"" + count + "\" /></td>" +
                "<td><input type=\"text\" name=\"Licenselist[" + (rows - 1) + "].LicenseId\" value=\"" + LicenseId + "\" /></td>" +
                "<td><input type=\"text\" name=\"Licenselist[" + (rows - 1) + "].ChineseName\" value=\"" + ChineseName + "\" /></td>" +
                "<td><input type=\"text\" name=\"Licenselist[" + (rows - 1) + "].EnglishName\" value=\"" + EnglishName + "\" /></td>" +
                "<td><input type=\"text\" name=\"Licenselist[" + (rows - 1) + "].LicenseCategory\" value=\"" + LicenseCategory + "\" /></td>" +
                "<td><input type=\"text\" name=\"Licenselist[" + (rows - 1) + "].LicenseUnit\" value=\"" + LicenseUnit + "\" /></td>" +
                "<td><input type=\"text\" name=\"Licenselist[" + (rows - 1) + "].IssueDate\" class=\"datepickers\" value=\"" + IssueDate + "\" /></td>" +
                "<td><input type=\"text\" name=\"Licenselist[" + (rows - 1) + "].EffectiveDate\" class=\"datepickers\" value=\"" + EffectiveDate + "\" /></td></tr>";

            count++;

            $('#Licenseslist').append(htmlstr + "</tr>");
            $('#Licenseslist').removeAttr("style");
            $.each($('.datepickers'),
                function (a, b) {
                    $(b).daterangepicker({
                        singleDatePicker: true,
                        showDropdowns: true,
                        autoUpdateInput: false,
                        locale: {
                            format: 'YYYY/MM/DD',
                            daysOfWeek: [
                                "日",
                                "一",
                                "二",
                                "三",
                                "四",
                                "五",
                                "六"
                            ],
                            monthNames: [
                                "一月",
                                "二月",
                                "三月",
                                "四月",
                                "五月",
                                "六月",
                                "七月",
                                "八月",
                                "九月",
                                "十月",
                                "十一月",
                                "十二月"
                            ]
                        }
                    });

                    $(b).on('apply.daterangepicker',
                        function (ev, picker) {
                            $(this).val(picker.startDate.format('YYYY/MM/DD'));
                        });

                    $(b).on('cancel.daterangepicker',
                        function (ev, picker) {
                            $(this).val('');
                        });
                });
            $(".datepickers").attr("autocomplete", "Off");
            $(".datepickers").attr("readonly", "true");
        });


    </script>

}
