﻿
@using Enrollment.Helpers
@using MvcPaging
@model MvcPaging.IPagedList<Enrollment.Models.Teacher>

@{
    ViewBag.path= "<i class=\"fa fa-home\" aria-hidden=\"true\"></i>首頁 &gt; 一、培訓作業管理 &gt; ";

    ViewBag.Title = "講師資料維護";
}

<h2>講師管理列表</h2>

<p>
    @Html.ActionLink("新增", "Create")
</p>

@using (Html.BeginForm())
{
    <div>
        @Html.DisplayNameFor(model => model.FirstOrDefault().Name)：@Html.InputSearchBox("SearchByName", ViewData["SearchByName"])


        <input type="submit" class="btn btn-Search" value="搜尋" />
    </div>


}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Photo)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Education)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Email)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Resume)
        </th>


        <th></th>
    </tr>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                 
                    @if (!string.IsNullOrEmpty(item.Photo))
                    {
                        <a href="~/upfiles/photo/@item.Photo" target="_blank" title="點我大圖"><img src="~/upfiles/photo/@item.Photo" style="width: 100px;" alt="@item.Photo" /></a>

                    }

                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Education)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>

                <td>
                    @if (!string.IsNullOrEmpty(item.Resume))
                    {
                
                        <a  href="/Student/GetFile?filename=@(item.Resume)&type=resume"><i class="fa fa-download" aria-hidden="true"></i>@item.Resume</a>
                 

                        @*<a href="#" class="removeFile remove" onclick="remove('@filename','remove','remove')">X</a>*@
                    }
                 
                </td>


                <td>
                    @Html.ActionLink("編輯", "Edit", new { id = item.Id }, new { @class = "btn btn-Edit" })
                    @*@Html.ActionLink("內容", "Details", new { id=item.Id }) | *@
                    @Html.ActionLink("刪除", "Delete", new { id = item.Id }, new { @class = "btn btn-Delete" })
                    @Html.Hidden("ID", item.Id)
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="pager">
    @Html.Pager(Model.PageSize, Model.PageNumber, Model.TotalItemCount)
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/themes/base/css")
    <script>
        $(document).ready(function () {
            $(".datepicker").datepicker();

        });
    </script>
}

