﻿@using Enrollment.Models
@model Enrollment.Models.Menu

@{
    ViewBag.Title = "新增";
}

<h2>新增</h2>

    @using (Html.BeginForm()) {

    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @ViewBag.Message
    <fieldset>
        <legend>Menu</legend>
        <table>
            <tr>
                <th>
                    @Html.LabelFor(model => model.Subject)
                </th>
                <td>
                    @Html.TextBoxFor(model => model.Subject,new { placeholder=ModelsAttributeHelper<Enrollment.Models.Menu>.GetDisplayName("Subject") })
                    @Html.ValidationMessageFor(model => model.Subject)
                </td>
                <th>                
                    @Html.LabelFor(model => model.HaveDetails)
                </th>
                <td>
                    @Html.DropDownListFor(model => model.HaveDetails, new SelectList(Enum.GetValues(typeof(Enrollment.Models.BooleanType))))
                    @Html.ValidationMessageFor(model => model.HaveDetails)
                </td>
                <th>
                    @Html.LabelFor(model => model.IsPlugIn)
                </th>
                <td>
                    @Html.DropDownListFor(model => model.IsPlugIn, new SelectList(Enum.GetValues(typeof(Enrollment.Models.BooleanType)),BooleanType.否))
                    @Html.ValidationMessageFor(model => model.IsPlugIn)
                </td>
            </tr>
            <tr id="NotPlugIn" style="display: none">
                <th>
                    @Html.LabelFor(model => model.ControllerName)
                </th>
                <td>
                    @Html.TextBoxFor(model => model.ControllerName,new { placeholder=ModelsAttributeHelper<Enrollment.Models.Menu>.GetDisplayName("ControllerName") })
                    @Html.ValidationMessageFor(model => model.ControllerName)

                </td>
                <th>
                    @Html.LabelFor(model => model.ActionName)
                </th>
                <td>
                    @Html.TextBoxFor(model => model.ActionName,new { placeholder=ModelsAttributeHelper<Enrollment.Models.Menu>.GetDisplayName("ActionName") })
                    @Html.ValidationMessageFor(model => model.ActionName)
                </td>
           
            </tr>
            <tr id="ForPlugIn" style="display: none" >
                <th>
                    @Html.LabelFor(model => model.Url)
                </th>
                <td colspan="3">
                    @Html.TextBoxFor(model => model.Url,new { style="width:525px",placeholder=ModelsAttributeHelper<Enrollment.Models.Menu>.GetDisplayName("Url") })
                    @Html.ValidationMessageFor(model => model.Url)
                </td>
            </tr>
            <tr id="ForPlugInLogin" style="display: none" >
                <th>
                    @Html.LabelFor(model => model.LoginUrl)
                </th>
                <td colspan="3">
                    @Html.TextBoxFor(model => model.LoginUrl, new { style="width:525px",placeholder=ModelsAttributeHelper<Enrollment.Models.Menu>.GetDisplayName("LoginUrl") })
                    @Html.ValidationMessageFor(model => model.LoginUrl)
                </td>
            </tr>
            <tr>
                <th>
                    @Html.LabelFor(model => model.IsWork)
                </th>
                <td>
                    @Html.DropDownListFor(model => model.IsWork, new SelectList(Enum.GetValues(typeof(Enrollment.Models.BooleanType))))
                    @Html.ValidationMessageFor(model => model.IsWork)

                </td>
                <th>
                    @Html.LabelFor(model => model.SortNum)
                </th>
                <td>
                    <input data-val="true" data-val-number="欄位 排序 必須是數字。" data-val-required="排序 欄位是必要項。" id="SortNum" min="0" name="SortNum" placeholder="請輸入排序" step="1" type="number" value="@ViewBag.SortNum" class="valid">
                    @Html.ValidationMessageFor(model => model.SortNum)
                </td>

            </tr>
        </table>
    
        <div id="msg" style="display: none">
            <span style="color: red;size: 30px">提示：外掛系統登入，以身分證字號為唯一參數</span>
        </div>

        <p align="center">
            <input type="submit" value="新增" /><input type="button" onclick="history.back()" value="回到上一頁" />
        </p>
    </fieldset>
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
    $(document).ready(function() {
        $('#IsPlugIn').change(function() {

            if ($('#HaveDetails').val() == "否") {
                if ($('#IsPlugIn').val() == "是") {
                    $('#NotPlugIn').attr("style", "display:none");
                    $('#ForPlugIn').removeAttr("style");
                    $('#ForPlugInLogin').removeAttr("style");
                    $('#ControllerName').val("");
                    $('#ActionName').val("");
                    $('#msg').removeAttr("style");

                } else {
                    $('#msg').attr("style", "display:none");
                    $('#ForPlugInLogin').attr("style", "display:none");
                    $('#ForPlugIn').attr("style", "display:none");
                    $('#NotPlugIn').removeAttr("style");
                    $('#Url').val("");
                    $('#LoginUrl').val("");
                }

            }

        });
        $('#HaveDetails').change(function() {


            if ($('#HaveDetails').val() == "是") {
                $('#NotPlugIn').attr("style", "display:none");
                $('#ForPlugIn').attr("style", "display:none");
                $('#ForPlugInLogin').attr("style", "display:none");
                $('#ControllerName').val("");
                $('#ActionName').val("");
                $('#Url').val("");
                $('#LoginUrl').val("");
                if ($('#IsPlugIn').val() == "是") {
                   $('#msg').attr("style", "display:none");
                } else {
                    $('#msg').removeAttr("style");
                }
            } else {
                if ($('#IsPlugIn').val() == "是") {
                    $('#NotPlugIn').attr("style", "display:none");
                    $('#ForPlugIn').removeAttr("style");
                    $('#ForPlugInLogin').removeAttr("style");
                    $('#msg').removeAttr("style");
                } else {
                    $('#ForPlugInLogin').attr("style", "display:none");
                    $('#ForPlugIn').attr("style", "display:none");
                    $('#NotPlugIn').removeAttr("style");
                    $('#msg').attr("style", "display:none");
                }
              
            }
        });
        });
    </script>

}
