﻿
@using MvcPaging
@using Enrollment.Helpers
@using Enrollment.Models
@model MvcPaging.IPagedList<Enrollment.Models.Menu>

@{
    ViewBag.Title = "選單列表";
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("新增", "Create")
</p>

    @using (Html.BeginForm())
{
<div>
                @Html.DisplayNameFor(model => model.FirstOrDefault().Subject)：@Html.InputSearchBox("SearchBySubject", ViewData["SearchBySubject"])
                     @Html.DisplayNameFor(model => model.FirstOrDefault().HaveDetails)：@Html.DropDownList("SearchByHaveDetails", new SelectList(Enum.GetValues(typeof(Enrollment.Models.BooleanType))),"請選擇")
                @Html.DisplayNameFor(model => model.FirstOrDefault().IsPlugIn)：@Html.DropDownList("SearchByIsPlugIn", new SelectList(Enum.GetValues(typeof(Enrollment.Models.BooleanType))),"請選擇")
             
	</div>
    <div>
          @Html.DisplayNameFor(model => model.FirstOrDefault().IsWork)：@Html.DropDownList("SearchByIsWork", new SelectList(Enum.GetValues(typeof(Enrollment.Models.BooleanType))),"請選擇")

        發布日期：<input type="text" name="SearchByStartDate" value="@ViewData["SearchByStartDate"]" class="datepicker"/> ~ <input type="text" name="SearchByEndDate" value="@ViewData["SearchByEndDate"]" class="datepicker"/>
    </div>
 <div>
        <input type="submit" class="btn btn-Search" value="搜尋" />
    </div>

    
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Subject)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().PrivilegeCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().HaveDetails)
        </th>
      
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().IsPlugIn)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().ControllerName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().ActionName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Url)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().IsWork)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().SortNum)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Poster)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().InitDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().UpdateID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().UpdateDate)
        </th>*@
        <th></th>
    </tr>
<tbody>
@foreach (var item in Model) {
    <tr>
        
        @if (item.HaveDetails == BooleanType.是)
        {
            <td>
                @Html.ActionLink(item.Subject, "MenuDetailIndex", new { TopMenuId = item.Id }, new { style = "color: #00BCD4; text-decoration: underline;" })

            </td>
        }
        else
        {
            <td>
                @Html.DisplayFor(modelItem => item.Subject)
            </td>
        }
    
        <td>
            @Html.DisplayFor(modelItem => item.PrivilegeCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HaveDetails)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.Menus.Subject)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.IsPlugIn)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.ControllerName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ActionName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Url)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.IsWork)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SortNum)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.Poster)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InitDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UpdateID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UpdateDate)
        </td>*@
        <td>
            @Html.ActionLink("編輯", "Edit", new {id = item.Id}, new {@class = "btn btn-Edit"}) 
            @*@Html.ActionLink("內容", "Details", new { id=item.Id }) | *@
            <input type="button" class="delmenu btn btn-Delete" value="刪除" data-id="@item.Id"/>
            @*@Html.ActionLink("刪除", "Delete", new {id = item.Id}, new {@class = "btn btn-Delete"})*@
            @Html.Hidden("ID", item.Id)
        </td>
    </tr>
}
</tbody>
</table>

<div class="pager">
    @Html.Pager(Model.PageSize, Model.PageNumber, Model.TotalItemCount)
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/themes/base/css")
    <script>
        $(document).ready(function() {
            $(".datepicker").datepicker();

        });
        $('.delmenu').click(function () {
            var msg = "您確定要刪除嗎?";
            var id = $(this).attr("data-id");
            if (confirm(msg) == true) {
                $.ajax({
                    url: '@Url.Action("Delmenu", "Menu")',
                    data: { id: id },
                    type: 'post',
                    cache: false,
                    async: false,
                    dataType: 'json',
                    success: function (data) {
                        location.reload();
                    }
                });
            } else {
                return false;
            }

        });
    </script>
}

