﻿@using Enrollment.Models
@model Enrollment.Models.Menu

@{
    ViewBag.Title = "編輯";
}

<h2>編輯</h2>

@using (Html.BeginForm())
{

    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @ViewBag.Message
    <fieldset>
        <legend>Menu</legend>
        @Html.HiddenFor(model => model.Id)
        <table>
            <tr>
                <th>
                    @Html.LabelFor(model => model.Subject)
                </th>
                <td>
                    @Html.TextBoxFor(model => model.Subject, new { placeholder = ModelsAttributeHelper<Enrollment.Models.Menu>.GetDisplayName("Subject") })
                    @Html.ValidationMessageFor(model => model.Subject)
                </td>
              
                <th>
                    @Html.LabelFor(model => model.IsPlugIn)
                </th>
                <td>
                    @Html.DropDownListFor(model => model.IsPlugIn, new SelectList(Enum.GetValues(typeof(Enrollment.Models.BooleanType))))
                    @Html.ValidationMessageFor(model => model.IsPlugIn)
                </td>
            </tr>
           @if (Model.IsPlugIn == BooleanType.是)
           {
               <tr id="NotPlugIn" style="display: none">
                   <th>
                       @Html.LabelFor(model => model.ControllerName)
                   </th>
                   <td>
                       @Html.TextBoxFor(model => model.ControllerName, new { placeholder = ModelsAttributeHelper<Enrollment.Models.Menu>.GetDisplayName("ControllerName") })
                       @Html.ValidationMessageFor(model => model.ControllerName)

                   </td>
                   <th>
                       @Html.LabelFor(model => model.ActionName)
                   </th>
                   <td>
                       @Html.TextBoxFor(model => model.ActionName, new { placeholder = ModelsAttributeHelper<Enrollment.Models.Menu>.GetDisplayName("ActionName") })
                       @Html.ValidationMessageFor(model => model.ActionName)
                   </td>

               </tr>
               <tr id="ForPlugIn">
                   <th>
                       @Html.LabelFor(model => model.Url)
                   </th>
                   <td colspan="3">
                       @Html.TextBoxFor(model => model.Url, new { style = "width:525px", placeholder = ModelsAttributeHelper<Enrollment.Models.Menu>.GetDisplayName("Url") })
                       @Html.ValidationMessageFor(model => model.Url)
                   </td>
               </tr>
               <tr id="ForPlugInLogin">
                   <th>
                       @Html.LabelFor(model => model.LoginUrl)
                   </th>
                   <td colspan="3">
                       @Html.TextBoxFor(model => model.LoginUrl, new { style="width:525px",placeholder=ModelsAttributeHelper<Enrollment.Models.Menu>.GetDisplayName("LoginUrl") })
                       @Html.ValidationMessageFor(model => model.LoginUrl)
                   </td>
               </tr>
           }
           else
           {
               <tr id="NotPlugIn">
                   <th>
                       @Html.LabelFor(model => model.ControllerName)
                   </th>
                   <td>
                       @Html.TextBoxFor(model => model.ControllerName, new { placeholder = ModelsAttributeHelper<Enrollment.Models.Menu>.GetDisplayName("ControllerName") })
                       @Html.ValidationMessageFor(model => model.ControllerName)

                   </td>
                   <th>
                       @Html.LabelFor(model => model.ActionName)
                   </th>
                   <td>
                       @Html.TextBoxFor(model => model.ActionName, new { placeholder = ModelsAttributeHelper<Enrollment.Models.Menu>.GetDisplayName("ActionName") })
                       @Html.ValidationMessageFor(model => model.ActionName)
                   </td>

               </tr>
               <tr id="ForPlugIn" style="display: none">
                   <th>
                       @Html.LabelFor(model => model.Url)
                   </th>
                   <td colspan="3">
                       @Html.TextBoxFor(model => model.Url, new { style = "width:525px", placeholder = ModelsAttributeHelper<Enrollment.Models.Menu>.GetDisplayName("Url") })
                       @Html.ValidationMessageFor(model => model.Url)
                   </td>
               </tr>
               <tr id="ForPlugInLogin" style="display: none" >
                   <th>
                       @Html.LabelFor(model => model.LoginUrl)
                   </th>
                   <td colspan="3">
                       @Html.TextBoxFor(model => model.LoginUrl, new { style="width:525px",placeholder=ModelsAttributeHelper<Enrollment.Models.Menu>.GetDisplayName("LoginUrl") })
                       @Html.ValidationMessageFor(model => model.LoginUrl)
                   </td>
               </tr>

           }
         
            <tr>
                <th>
                    @Html.LabelFor(model => model.IsWork)
                </th>
                <td>
                    @Html.DropDownListFor(model => model.IsWork, new SelectList(Enum.GetValues(typeof(Enrollment.Models.BooleanType))))
                    @Html.ValidationMessageFor(model => model.IsWork)

                </td>
                <th>
                    @Html.LabelFor(model => model.SortNum)
                </th>
                <td>
                    <input data-val="true" data-val-number="欄位 排序 必須是數字。" data-val-required="排序 欄位是必要項。" id="SortNum" min="0" name="SortNum" placeholder="請輸入排序" step="1" type="number" value="@Model.SortNum" class="valid">
                    @Html.ValidationMessageFor(model => model.SortNum)
                </td>

            </tr>
        </table>
        @Html.HiddenFor(model => model.TopMenuId)
        @Html.HiddenFor(model => model.PrivilegeCode)
        @Html.HiddenFor(model => model.HaveDetails)
        @Html.HiddenFor(model => model.Poster)
        @Html.HiddenFor(model => model.Poster)
        @Html.HiddenFor(model => model.InitDate)
        @Html.HiddenFor(model => model.UpdateID)
        @Html.HiddenFor(model => model.UpdateDate)
        @if (Model.IsPlugIn == BooleanType.是)
        {
            <div id="msg">
                <span style="color: red;size: 30px">提示：外掛系統登入，以身分證字號為唯一參數</span>
            </div>
        }
        else
        {
            <div id="msg" style="display: none">
                <span style="color: red;size: 30px">提示：外掛系統登入，以身分證字號為唯一參數</span>
            </div>
        }

        <p align="center">
            <input type="submit" value="更新" /><input type="button" onclick="history.back()" value="回到上一頁" />
        </p>
    </fieldset>
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(document).ready(function () {
            $('#IsPlugIn').change(function() {

                if ($('#IsPlugIn').val() == "是") {
                    $('#NotPlugIn').attr("style", "display:none");
                    $('#ForPlugIn').removeAttr("style");
                    $('#ForPlugInLogin').removeAttr("style");
                    $('#ControllerName').val("");
                    $('#ActionName').val("");
                    $('#msg').removeAttr("style");
                } else {
                    $('#ForPlugInLogin').attr("style", "display:none");
                    $('#ForPlugIn').attr("style", "display:none");
                    $('#NotPlugIn').removeAttr("style");
                    $('#Url').val("");
                    $('#msg').attr("style", "display:none");
                }
            });

        });
    </script>

}
