﻿@{
    ViewBag.Title = "師資稽核管理";
}
<style>
    th {
        background-color: lightgrey;
        text-align: center;
    }

    table, select, input, textarea {
        font-size: 14px;
    }

    td {
        text-align: left;
    }
</style>
<h2>師資稽核管理</h2>
<div class="row">
    <div class="col-lg-12">
        <ul class="nav nav-tabs">
            <li class="nav-item"><a class="nav-link" id="Master">主檔</a></li>
            <li class="nav-item"><a class="nav-link" id="Detail">明細</a></li>
            <li class="nav-item"><a class="nav-link" id="Report">管理報表</a></li>
        </ul>
    </div>
    <div class="col-lg-12 py-3">
        <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade" id="MasterIndex">


            </div>
            <div class="tab-pane fade" id="DetailIndex">
                <div class="col-lg-12">

                    <div class="mb-3">
                        <span>講師代碼：<input type="text" style="width: 100px" value="T10901" /></span><span class="ml-2">
                            講師姓名：<input type="text" style="width:  100px" value="江秉宏" />
                        </span><span class="ml-2">
                            國籍：<input type="text" style="width:  100px" value="中華民國" />
                        </span><span class="ml-2">年齡：<input type="text" style="width:  50px" value="45" /></span><span class="ml-2">
                            經驗(年)：<input type="text" style="width:  50px" value="10" />
                        </span>
                    </div>
                    <div class="mb-3">
                        <span>教育程度：<input type="text" style="width: 100px" value="碩士" /></span><span class="ml-2">最高學歷：<input type="text" style="width:  205px" value="成功大學工業工程學系" /></span><span class="ml-2">主要專長：<input type="text" style="width:  200px" value="Height and Rescue" /></span>
                    </div>
                    <div class="mb-3">
                        <span>稽核期間：<input type="text" class="mr-2 datepicker" value="2019/09/01" style="width: 80px; padding-left: 7px;padding-right: 0px" />~<input type="text" class="mx-2 datepicker" value="2019/11/01" style="width: 80px; padding-left: 7px;padding-right: 0px" /></span><span class="ml-2">整體評鑑：<input type="text" style="width:  50px" value="優" /></span><span class="ml-2">資格：<input type="text" style="width:  75px" value="合格" /></span>
                    </div>
                    <div class="mb-3">
                        <span>綜合評鑑：<input type="text" style="width: 651px" value="該講師在教材準備、教學方式、教學紀律配合度、學員回饋等品質稽核項目評鑑獲得績優評比。" /></span>
                    </div>
                </div>
                <hr />
                <div class="col-lg-12 py-3 " style="margin-top: -20px;"><span>日期：<input type="text" class="mr-2 datepicker" value="2019/09/01" style="width: 80px; padding-left: 7px;padding-right: 0px" />~<input type="text" class="mx-2 datepicker" value="2019/11/01" style="width: 80px; padding-left: 7px;padding-right: 0px" />　核項目：<input type="text" class="mr-2" style="width: 80px" /></span><input type="button" value="查詢" class="mx-2" style="width: 70px;padding-top: 7px;" />　　<input type="button" value="新增" style="width: 70px;padding-top: 7px;" /></div>
                <table class="table-bordered" style="width: 100%;text-align: center;">
                    <tr>
                        <th style="width:10%">稽核代碼</th>
                        <th style="width:10%">稽核項目</th>
                        <th style="width:40%">評鑑說明</th>
                        <th style="width:5%">評鑑</th>
                        <th style="width:5%">資格</th>
                        <th style="width:10%">紀錄查詢</th>
                        <th style="width:20%">維護區</th>
                    </tr>
                    <tr>
                        <td>P100</td>
                        <td>學經歷</td>
                        <td>基本學歷、背景、教學經驗等</td>
                        <td>優</td>
                        <td>合格</td>
                        <td><input type="button" value="查詢" style="width: 100px;padding-top: 7px" /></td>
                        <td style="text-align: center!important;"><input type="button" value="修改" style="width: 100px;padding-top: 7px" /><input type="button" value="刪除" style="width: 100px;padding-top: 7px" /></td>
                    </tr>
                    <tr>
                        <td>P200</td>
                        <td>專業度</td>
                        <td>培訓成績、專業證照、實務經驗、優良獲獎事蹟等</td>
                        <td>優</td>
                        <td>合格</td>
                        <td><input type="button" value="查詢" style="width: 100px;padding-top: 7px" /></td>
                        <td style="text-align: center!important;"><input type="button" value="修改" style="width: 100px;padding-top: 7px" /><input type="button" value="刪除" style="width: 100px;padding-top: 7px" /></td>
                    </tr>
                    <tr>
                        <td>P300</td>
                        <td>教學態度</td>
                        <td>教材準備、教學方式、教學紀律配合度、學員回饋等</td>
                        <td>優</td>
                        <td>合格</td>
                        <td><input type="button" value="查詢" style="width: 100px;padding-top: 7px" /></td>
                        <td style="text-align: center!important;"><input type="button" value="修改" style="width: 100px;padding-top: 7px" /><input type="button" value="刪除" style="width: 100px;padding-top: 7px" /></td>
                    </tr>
                    <tr>
                        <td>P400</td>
                        <td>教學成果</td>
                        <td>學員獲得國際認證比率、學員成績、教學人數及時數、學員回饋等。</td>
                        <td>優</td>
                        <td>合格</td>
                        <td><input type="button" value="查詢" style="width: 100px;padding-top: 7px" /></td>
                        <td style="text-align: center!important;"><input type="button" value="修改" style="width: 100px;padding-top: 7px" /><input type="button" value="刪除" style="width: 100px;padding-top: 7px" /></td>
                    </tr>
                    <tr>
                        <td>P500</td>
                        <td>自我評鑑</td>
                        <td>依據講師自評敘述。</td>
                        <td>優</td>
                        <td>合格</td>
                        <td><input type="button" value="查詢" style="width: 100px;padding-top: 7px" /></td>
                        <td style="text-align: center!important;"><input type="button" value="修改" style="width: 100px;padding-top: 7px" /><input type="button" value="刪除" style="width: 100px;padding-top: 7px" /></td>
                    </tr>
                </table>


            </div>
            <div class="tab-pane fade" id="ReportIndex">


            </div>
        </div>
    </div>






</div>



@section Scripts {

    <script src="~/Scripts/jquery-ui-1.8.24.min.js"></script>
    <script src="@Url.Content("~/Scripts/jquery.colorbox-min.js")" type="text/javascript"></script>
    <link href="@Url.Content("~/Content/colorbox/colorbox.css")" rel="stylesheet" type="text/css" />



    <script>
        $(document).ready(function () {
            $("#Master").addClass("active");
            $("#MasterIndex").addClass("active show");


            $("#Master").click(function () {
                $(this).addClass("active");
                $("#MasterIndex").addClass("active show");
                $("#Detail").removeClass("active");
                $("#DetailIndex").removeClass("active");
                $("#Report").removeClass("active");
                $("#ReportIndex").removeClass("active");
            });
            $("#Detail").click(function () {
                $(this).addClass("active");
                $("#DetailIndex").addClass("active show");
                $("#Master").removeClass("active");
                $("#MasterIndex").removeClass("active");
                $("#Report").removeClass("active");
                $("#ReportIndex").removeClass("active");

            });

            $("#Report").click(function () {
                $(this).addClass("active");
                $("#ReportIndex").addClass("active show");
                $("#Master").removeClass("active");
                $("#MasterIndex").removeClass("active");
                $("#Detail").removeClass("active");
                $("#DetailIndex").removeClass("active");

            });
        });

    </script>
}