﻿@{
    ViewBag.Title = "課程教材管理";
}
<style>
    th {
        background-color: lightgrey;
        text-align: center;
    }

    table, select, input, textarea {
        font-size: 14px;
    }

    td {
        text-align: left;
    }
</style>
<h2>課程教材管理</h2>
<div class="row">
    <div class="col-lg-12">
        <ul class="nav nav-tabs">
            <li class="nav-item"><a class="nav-link" id="Master">主檔</a></li>
            <li class="nav-item"><a class="nav-link" id="Detail">明細</a></li>
            <li class="nav-item"><a class="nav-link" id="Report">管理報表</a></li>
        </ul>
    </div>
    <div class="col-lg-12 py-3">
        <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade" id="MasterIndex">
                <div class="col-lg-12">

                    <div class="mb-3">
                        <span>教材編碼：<input type="text" style="width: 142px" value="L1080920001" /></span><span class="ml-2">
                            教材名稱：<input type="text" style="width:  417px" value="進階救援Hub, Spinner & Inside Blade旋轉及內葉片救援" />
                        </span>
                    </div>
                    <div class="mb-3">
                        <span>GWO code：<input type="text" style="width: 80px" value="ART-H" /></span><span class="ml-2">Course code：<input type="text" style="width:  100px" value="WAH02-0" /></span><span class="ml-2">版本：<input type="text" style="width:  100px" value="中文版" /></span><span class="ml-2">編寫者：<input type="text" style="width:  144px" value="張有成" /></span>
                    </div>
                    <div class="mb-3">
                        <span>適用對象：<input type="text" class="mr-2" value="已有基本安全救員課程培訓者" style="width: 417px;" />　　　出版日期：<input type="text" class="mx-2 datepicker" value="2019/01/01" style="width: 100px; padding-left: 15px;padding-right: 0px" /></span>
                    </div>
                    <div class="mb-3 row align-items-center">
                        <div style="margin-left: 4px;">課程簡介：</div><div class="col-11" style="padding-left: 0px;">
                            <textarea style="width: 640px; height: 70px; font-size: 12px; padding-top: 5px;padding-bottom:2px">“單一救援人員-集線器，微調器和內部刀片”模塊的目標是確保代表的能力：評估並確定針對各種救援場景的單一救援人員救援策略方法和技術應用於執行單個救援人員的救援行動，包括使用救援擔架和脊椎板從風力渦輪發電機，手動操作和動力驅動的下降/升高救援系統以及其他相關的救援設備</textarea>
                        </div>
                    </div>
                </div>
                <hr />
                <div class="col-lg-12 py-3 " style="margin-top: -20px;"><span>教材編碼：<input type="text" class="mr-2" value="" style="width: 80px;" />教材名稱：<input type="text" class="mr-2" value="" style="width: 80px;" />Course code：<input type="text" class="mr-2" value="" style="width: 80px;" /></span><input type="button" value="查詢" class="mx-2" style="width: 70px;padding-top: 7px;" />　　<input type="button" value="新增" style="width: 70px;padding-top: 7px;" /></div>
                <table class="table-bordered" style="width: 100%;text-align: center;">
                    <tr>
                        <th style="width:10%">教材編碼</th>
                        <th style="width:10%">Course code</th>
                        <th style="width:40%">教材名稱</th>
                        <th style="width:5%">出版日期</th>
                        <th style="width:5%">編寫者</th>
                        <th style="width:20%">資料維護</th>
                    </tr>
                    <tr>
                        <td>L1080920001</td>
                        <td>WAH01-0</td>
                        <td>進階救援Hub, Spinner & Inside Blade旋轉及內葉片救援</td>
                        <td>2019//01/01</td>
                        <td>張有成</td>
                        <td style="text-align: center!important;"><input type="button" value="修改" style="width: 100px;padding-top: 7px" /><input type="button" value="刪除" style="width: 100px;padding-top: 7px" /></td>
                    </tr>
                    <tr>
                        <td>L1080920002</td>
                        <td>WAH02-0</td>
                        <td>進階救援Nacelle, 高塔 &地下室救援</td>
                        <td>2019//01/01</td>
                        <td>張有成</td>
                        <td style="text-align: center!important;"><input type="button" value="修改" style="width: 100px;padding-top: 7px" /><input type="button" value="刪除" style="width: 100px;padding-top: 7px" /></td>
                    </tr>
                    <tr>
                        <td>L1080920003</td>
                        <td>WAH10</td>
                        <td>基本安全訓練課程</td>
                        <td>2019//01/01</td>
                        <td>張有成</td>
                        <td style="text-align: center!important;"><input type="button" value="修改" style="width: 100px;padding-top: 7px" /><input type="button" value="刪除" style="width: 100px;padding-top: 7px" /></td>
                    </tr>
                    <tr>
                        <td>L1080920004</td>
                        <td>WAH11</td>
                        <td>高處工作-進階救援</td>
                        <td>2019//01/01</td>
                        <td>張有成</td>
                        <td style="text-align: center!important;"><input type="button" value="修改" style="width: 100px;padding-top: 7px" /><input type="button" value="刪除" style="width: 100px;padding-top: 7px" /></td>
                    </tr>

                </table>


            </div>
            <div class="tab-pane fade" id="DetailIndex">


            </div>
            <div class="tab-pane fade" id="ReportIndex">


            </div>
        </div>
    </div>






</div>



@section Scripts {

    <script src="~/Scripts/jquery-ui-1.8.24.min.js"></script>
    <script src="@Url.Content("~/Scripts/jquery.colorbox-min.js")" type="text/javascript"></script>
    <link href="@Url.Content("~/Content/colorbox/colorbox.css")" rel="stylesheet" type="text/css" />



    <script>
        $(document).ready(function () {
            $("#Master").addClass("active");
            $("#MasterIndex").addClass("active show");


            $("#Master").click(function () {
                $(this).addClass("active");
                $("#MasterIndex").addClass("active show");
                $("#Detail").removeClass("active");
                $("#DetailIndex").removeClass("active");
                $("#Report").removeClass("active");
                $("#ReportIndex").removeClass("active");
            });
            $("#Detail").click(function () {
                $(this).addClass("active");
                $("#DetailIndex").addClass("active show");
                $("#Master").removeClass("active");
                $("#MasterIndex").removeClass("active");
                $("#Report").removeClass("active");
                $("#ReportIndex").removeClass("active");

            });

            $("#Report").click(function () {
                $(this).addClass("active");
                $("#ReportIndex").addClass("active show");
                $("#Master").removeClass("active");
                $("#MasterIndex").removeClass("active");
                $("#Detail").removeClass("active");
                $("#DetailIndex").removeClass("active");

            });
        });

    </script>
}