﻿@{
    ViewBag.Title = "授課時數管理";
}
<style>
    th {
        background-color: lightgrey;
        text-align: center;
    }

    table, select, input, textarea {
        font-size: 14px;
    }

    td {
        text-align: left;
    }
</style>
<h2>授課時數管理</h2>
<div class="row">
    <div class="col-lg-12">
        <ul class="nav nav-tabs">
            <li class="nav-item"><a class="nav-link" id="Master">主檔</a></li>
            <li class="nav-item"><a class="nav-link" id="Detail">明細</a></li>
            <li class="nav-item"><a class="nav-link" id="Report">管理報表</a></li>
        </ul>
    </div>
    <div class="col-lg-12 py-3">
        <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade" id="MasterIndex">


            </div>
            <div class="tab-pane fade" id="DetailIndex">
                <div class="col-lg-12">

                    <div class="mb-3">
                        <span>講師代碼：<input type="text" style="width: 100px" value="T10901" /></span><span class="ml-2">
                            講師姓名：<input type="text" style="width:  100px" value="江秉宏" />
                        </span><span class="ml-2">
                            國籍：<input type="text" style="width:  100px" value="中華民國" />
                        </span><span class="ml-2">年齡：<input type="text" style="width:  50px" value="45" /></span><span class="ml-2">
                            經驗(年)：<input type="text" style="width:  50px" value="10" />
                        </span>
                    </div>
                    <div class="mb-3">
                        <span>教育程度：<input type="text" style="width: 100px" value="碩士" /></span><span class="ml-2">最高學歷：<input type="text" style="width:  205px" value="成功大學工業工程學系" /></span><span class="ml-2">主要專長：<input type="text" style="width:  200px" value="Height and Rescue" /></span>
                    </div>
                    <div class="mb-3">
                        <span>授課期間：<input type="text" class="mr-2 datepicker" value="2019/09/01" style="width: 80px; padding-left: 7px;padding-right: 0px" />~<input type="text" class="mx-2 datepicker" value="2019/11/01" style="width: 80px; padding-left: 7px;padding-right: 0px" /></span><span class="ml-2">時數統計：<input type="text" style="width:  50px" value="34" /></span>
                    </div>
                </div>
                <hr />
                <div class="col-lg-12 py-3 " style="margin-top: -20px;"><span>日期：<input type="text" class="mr-2 datepicker" value="2019/09/01" style="width: 80px; padding-left: 7px;padding-right: 0px" />~<input type="text" class="mx-2 datepicker" value="2019/11/01" style="width: 80px; padding-left: 7px;padding-right: 0px" />　COURSE  CODE：<input type="text" class="mr-2" style="width: 80px" /></span><input type="button" value="查詢" class="mx-2" style="width: 70px;padding-top: 7px;" />　　<input type="button" value="新增" style="width: 70px;padding-top: 7px;" /></div>
                <table class="table-bordered" style="width: 100%;text-align: center;">
                    <tr>
                        <th style="width:10%">GWO Code</th>
                        <th style="width:10%">課程代號</th>
                        <th style="width:30%">課程</th>
                        <th style="width:10%">地點</th>
                        <th style="width:10%">Period</th>
                        <th style="width:5%">時數(hr)</th>
                        <th style="width:25%">維護區</th>
                    </tr>
                    <tr>
                        <td>ART-H</td>
                        <td>WAH01-0</td>
                        <td>進階救援Hub, Spinner & Inside Blade旋轉及內葉片救援</td>
                        <td>人培中心</td>
                        <td>2019/01/05</td>
                        <td>6</td>
                        <td style="text-align: center!important;"><input type="button" value="修改" style="width: 100px;padding-top: 7px" /><input type="button" value="刪除" style="width: 100px;padding-top: 7px" /></td>
                    </tr>
                    <tr>
                        <td>ART-HR</td>
                        <td>WAH02-0</td>
                        <td>進階救援Nacelle, 高塔 &地下室救援</td>
                        <td>人培中心</td>
                        <td>2019/02/04</td>
                        <td>6</td>
                        <td style="text-align: center!important;"><input type="button" value="修改" style="width: 100px;padding-top: 7px" /><input type="button" value="刪除" style="width: 100px;padding-top: 7px" /></td>
                    </tr>
                    <tr>
                        <td>ART-H</td>
                        <td>WAH10</td>
                        <td>基本安全訓練課程</td>
                        <td>人培中心</td>
                        <td>2019/03/26</td>
                        <td>4</td>
                        <td style="text-align: center!important;"><input type="button" value="修改" style="width: 100px;padding-top: 7px" /><input type="button" value="刪除" style="width: 100px;padding-top: 7px" /></td>
                    </tr>
                    <tr>
                        <td>ART-N</td>
                        <td>WAH11</td>
                        <td>高處工作-進階救援</td>
                        <td>人培中心</td>
                        <td>2019/04/26</td>
                        <td>6</td>
                        <td style="text-align: center!important;"><input type="button" value="修改" style="width: 100px;padding-top: 7px" /><input type="button" value="刪除" style="width: 100px;padding-top: 7px" /></td>
                    </tr>
                    <tr>
                        <td>ART-HR</td>
                        <td>WAH02-0</td>
                        <td>進階救援Nacelle, 高塔 &地下室救援</td>
                        <td>人培中心</td>
                        <td>2019/05/27</td>
                        <td>6</td>
                        <td style="text-align: center!important;"><input type="button" value="修改" style="width: 100px;padding-top: 7px" /><input type="button" value="刪除" style="width: 100px;padding-top: 7px" /></td>
                    </tr>
                    <tr>
                        <td>ART-H</td>
                        <td>WAH01-0</td>
                        <td>進階救援Hub, Spinner & Inside Blade旋轉及內葉片救援</td>
                        <td>人培中心</td>
                        <td>2019/06/27</td>
                        <td>6</td>
                        <td style="text-align: center!important;"><input type="button" value="修改" style="width: 100px;padding-top: 7px" /><input type="button" value="刪除" style="width: 100px;padding-top: 7px" /></td>
                    </tr>

                </table>


            </div>
            <div class="tab-pane fade" id="ReportIndex">


            </div>
        </div>
    </div>






</div>



@section Scripts {

    <script src="~/Scripts/jquery-ui-1.8.24.min.js"></script>
    <script src="@Url.Content("~/Scripts/jquery.colorbox-min.js")" type="text/javascript"></script>
    <link href="@Url.Content("~/Content/colorbox/colorbox.css")" rel="stylesheet" type="text/css" />



    <script>
        $(document).ready(function () {
            $("#Detail").addClass("active");
            $("#DetailIndex").addClass("active show");


            $("#Master").click(function () {
                $(this).addClass("active");
                $("#MasterIndex").addClass("active show");
                $("#Detail").removeClass("active");
                $("#DetailIndex").removeClass("active");
                $("#Report").removeClass("active");
                $("#ReportIndex").removeClass("active");
            });
            $("#Detail").click(function () {
                $(this).addClass("active");
                $("#DetailIndex").addClass("active show");
                $("#Master").removeClass("active");
                $("#MasterIndex").removeClass("active");
                $("#Report").removeClass("active");
                $("#ReportIndex").removeClass("active");

            });

            $("#Report").click(function () {
                $(this).addClass("active");
                $("#ReportIndex").addClass("active show");
                $("#Master").removeClass("active");
                $("#MasterIndex").removeClass("active");
                $("#Detail").removeClass("active");
                $("#DetailIndex").removeClass("active");

            });
        });

    </script>
}