﻿@{
    ViewBag.Title = "師資授課管理";
}
<style>
    th {
        background-color: lightgrey;
        text-align: center;
    }

    table, select, input, textarea {
        font-size: 14px;
    }

    td {
        text-align: left;
    }
</style>
<h2>師資授課管理</h2>
<div class="row">
    <div class="col-lg-12">
        <ul class="nav nav-tabs">
            <li class="nav-item"><a class="nav-link" id="Master">主檔</a></li>
            <li class="nav-item"><a class="nav-link" id="Detail">明細</a></li>
            <li class="nav-item"><a class="nav-link" id="Report">管理報表</a></li>
        </ul>
    </div>
    <div class="col-lg-12 py-3">
        <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade" id="MasterIndex">
                <div class="col-lg-12">

                    <div class="mb-3">
                        <span>講師代碼：<input type="text" style="width: 100px" value="T10901" /></span><span class="ml-2">
                            講師姓名：<input type="text" style="width:  100px" value="江秉宏" />
                        </span><span class="ml-2">
                            國籍：<input type="text" style="width:  100px" value="中華民國" />
                        </span><span class="ml-2">年齡：<input type="text" style="width:  50px" value="45" /></span><span class="ml-2">
                            經驗(年)：<input type="text" style="width:  50px" value="10" />
                        </span>
                    </div>
                    <div class="mb-3">
                        <span>教育程度：<input type="text" style="width: 100px" value="碩士" /></span><span class="ml-2">最高學歷：<input type="text" style="width:  205px" value="成功大學工業工程學系" /></span><span class="ml-2">主要專長：<input type="text" style="width:  200px" value="Height and Rescue" /></span>
                    </div>
                    <div class="mb-3 row align-items-center"><div style="margin-left: 4px;">背景簡述：</div><div class="col-11" style="padding-left: 0px;"><textarea style="width: 654px; height: 50px; font-size: 12px; padding-top: 5px;padding-bottom:2px">Height and Rescue 10 years, Advanced Rescue - Hub, Spinner & Inside Blade Rescue 2 years, Basic Safety Training Courses  5 years, Work at Height - Advanced Rescue 8 years</textarea></div></div>
                </div>
                <hr />
                <div class="col-lg-12 py-3 " style="margin-top: -20px;"><span>日期：<input type="text" class="mr-2 datepicker" value="2019/09/01" style="width: 80px; padding-left: 7px;padding-right: 0px" />~<input type="text" class="mx-2 datepicker" value="2019/11/01" style="width: 80px; padding-left: 7px;padding-right: 0px" />　講師代碼：<input type="text" class="mr-2" style="width: 80px" />　專長：<input type="text" class="mr-2" style="width: 80px" /></span><input type="button" value="查詢" class="mx-2" style="width: 70px;padding-top: 7px;" />　　<input type="button" value="新增" style="width: 70px;padding-top: 7px;" /></div>
                <table class="table-bordered" style="width: 100%;text-align: center;">
                    <tr>
                        <th style="width:8%">講師代碼</th>
                        <th style="width:9%">講師姓名</th>
                        <th style="width:8%">教育程度</th>
                        <th style="width:15%">主要專長代碼</th>
                        <th style="width:35%">主要專長</th>
                        <th style="width:5%">經驗(年)</th>
                        <th style="width:20%">資料維護</th>
                    </tr>
                    <tr>
                        <td>T1901</td>
                        <td>江秉宏</td>
                        <td>碩士</td>
                        <td>WAH01-0</td>
                        <td>Height and Rescue</td>
                        <td>10</td>
                        <td style="text-align: center!important;"><input type="button" value="修改" style="width: 100px;padding-top: 7px" /><input type="button" value="刪除" style="width: 100px;padding-top: 7px" /></td>
                    </tr>
                    <tr>
                        <td>T1902</td>
                        <td>蔣長青</td>
                        <td>碩士</td>
                        <td>WAH02-0</td>
                        <td>Advanced Rescue - Hub, Spinner & Inside Blade Rescue</td>
                        <td>15</td>
                        <td style="text-align: center!important;"><input type="button" value="修改" style="width: 100px;padding-top: 7px" /><input type="button" value="刪除" style="width: 100px;padding-top: 7px" /></td>
                    </tr>
                    <tr>
                        <td>T1903</td>
                        <td>張簡生</td>
                        <td>博士</td>
                        <td>WAH10</td>
                        <td>Advanced Rescue – Nacelle, Tower & Basement</td>
                        <td>25</td>
                        <td style="text-align: center!important;"><input type="button" value="修改" style="width: 100px;padding-top: 7px" /><input type="button" value="刪除" style="width: 100px;padding-top: 7px" /></td>
                    </tr>
                    <tr>
                        <td>T1904</td>
                        <td>林    謙</td>
                        <td>碩士</td>
                        <td>WAH11</td>
                        <td>Basic Safety Training Courses</td>
                        <td>12</td>
                        <td style="text-align: center!important;"><input type="button" value="修改" style="width: 100px;padding-top: 7px" /><input type="button" value="刪除" style="width: 100px;padding-top: 7px" /></td>
                    </tr>
                    <tr>
                        <td>T1905</td>
                        <td>李聯崇</td>
                        <td>學士</td>
                        <td>WAH12</td>
                        <td>Work at Height - Advanced Rescue</td>
                        <td>7</td>
                        <td style="text-align: center!important;"><input type="button" value="修改" style="width: 100px;padding-top: 7px" /><input type="button" value="刪除" style="width: 100px;padding-top: 7px" /></td>
                    </tr>

                </table>

            </div>
            <div class="tab-pane fade" id="DetailIndex">
                <div class="col-lg-12">

                    <div class="mb-3">
                        <span>講師代碼：<input type="text" style="width: 100px" value="T10901" /></span><span class="ml-2">
                            講師姓名：<input type="text" style="width:  100px" value="江秉宏" />
                        </span><span class="ml-2">
                            國籍：<input type="text" style="width:  100px" value="中華民國" />
                        </span><span class="ml-2">年齡：<input type="text" style="width:  50px" value="45" /></span><span class="ml-2">
                            經驗(年)：<input type="text" style="width:  50px" value="10" />
                        </span>
                    </div>
                    <div class="mb-3">
                        <span>教育程度：<input type="text" style="width: 100px" value="碩士" /></span><span class="ml-2">最高學歷：<input type="text" style="width:  205px" value="成功大學工業工程學系" /></span><span class="ml-2">主要專長：<input type="text" style="width:  200px" value="Height and Rescue" /></span>
                    </div>
                    <div class="mb-3 row align-items-center"><div style="margin-left: 4px;">背景簡述：</div><div class="col-11" style="padding-left: 0px;"><textarea style="width: 654px; height: 50px; font-size: 12px; padding-top: 5px;padding-bottom:2px">Height and Rescue 10 years, Advanced Rescue - Hub, Spinner & Inside Blade Rescue 2 years, Basic Safety Training Courses  5 years, Work at Height - Advanced Rescue 8 years</textarea></div></div>
                </div>
                <hr />
                <div class="col-lg-12 py-3 " style="margin-top: -20px;"><span>日期：<input type="text" class="mr-2 datepicker" value="2019/09/01" style="width: 80px; padding-left: 7px;padding-right: 0px" />~<input type="text" class="mx-2 datepicker" value="2019/11/01" style="width: 80px; padding-left: 7px;padding-right: 0px" />　講師代碼：<input type="text" class="mr-2" style="width: 80px" />　專長：<input type="text" class="mr-2" style="width: 80px" /></span><input type="button" value="查詢" class="mx-2" style="width: 70px;padding-top: 7px;" />　　<input type="button" value="新增" style="width: 70px;padding-top: 7px;" /></div>
                <table class="table-bordered" style="width: 100%;text-align: center;">
                    <tr>
                        <th style="width:10%">專長代碼</th>
                        <th style="width:33%">專長名稱(英)</th>
                        <th style="width:32%">專長名稱(中)</th>
                        <th style="width:5%">經驗(年)</th>
                        <th style="width:20%">資料維護</th>
                    </tr>
                    <tr>
                        <td>WAH01-0</td>
                        <td>Height and Rescue</td>
                        <td>高空救援</td>
                        <td>10</td>
                        <td style="text-align: center!important;"><input type="button" value="修改" style="width: 100px;padding-top: 7px" /><input type="button" value="刪除" style="width: 100px;padding-top: 7px" /></td>
                    </tr>
                    <tr>
                        <td>WAH02-0</td>
                        <td>Advanced Rescue - Hub, Spinner & Inside Blade Rescue</td>
                        <td>進階救援Hub, Spinner & Inside Blade旋轉及內葉片救援</td>
                        <td>15</td>
                        <td style="text-align: center!important;"><input type="button" value="修改" style="width: 100px;padding-top: 7px" /><input type="button" value="刪除" style="width: 100px;padding-top: 7px" /></td>
                    </tr>
                    <tr>
                        <td>WAH10</td>
                        <td>Advanced Rescue – Nacelle, Tower & Basement</td>
                        <td>進階救援Nacelle, 高塔 &地下室救援</td>
                        <td>25</td>
                        <td style="text-align: center!important;"><input type="button" value="修改" style="width: 100px;padding-top: 7px" /><input type="button" value="刪除" style="width: 100px;padding-top: 7px" /></td>
                    </tr>
                    <tr>
                        <td>WAH11</td>
                        <td>Basic Safety Training Courses</td>
                        <td>基本安全訓練課程</td>
                        <td>12</td>
                        <td style="text-align: center!important;"><input type="button" value="修改" style="width: 100px;padding-top: 7px" /><input type="button" value="刪除" style="width: 100px;padding-top: 7px" /></td>
                    </tr>
                    <tr>
                        <td>WAH12</td>
                        <td>Work at Height - Advanced Rescue</td>
                        <td>高處工作-進階救援</td>
                        <td>7</td>
                        <td style="text-align: center!important;"><input type="button" value="修改" style="width: 100px;padding-top: 7px" /><input type="button" value="刪除" style="width: 100px;padding-top: 7px" /></td>
                    </tr>

                </table>
                <hr />

                <div style="text-align: right">
                    <input type="button" value="履歷上傳" style="width: 100px;padding-top: 7px" />
                    <input type="button" value="履歷維護" style="width: 100px;padding-top: 7px" />
                </div>

            </div>
            <div class="tab-pane fade" id="ReportIndex">


            </div>
        </div>
    </div>






</div>



@section Scripts {

    <script src="~/Scripts/jquery-ui-1.8.24.min.js"></script>
    <script src="@Url.Content("~/Scripts/jquery.colorbox-min.js")" type="text/javascript"></script>
    <link href="@Url.Content("~/Content/colorbox/colorbox.css")" rel="stylesheet" type="text/css" />



    <script>
        $(document).ready(function () {
            $("#Master").addClass("active");
            $("#MasterIndex").addClass("active show");


            $("#Master").click(function () {
                $(this).addClass("active");
                $("#MasterIndex").addClass("active show");
                $("#Detail").removeClass("active");
                $("#DetailIndex").removeClass("active");
                $("#Report").removeClass("active");
                $("#ReportIndex").removeClass("active");
            });
            $("#Detail").click(function () {
                $(this).addClass("active");
                $("#DetailIndex").addClass("active show");
                $("#Master").removeClass("active");
                $("#MasterIndex").removeClass("active");
                $("#Report").removeClass("active");
                $("#ReportIndex").removeClass("active");

            });

            $("#Report").click(function () {
                $(this).addClass("active");
                $("#ReportIndex").addClass("active show");
                $("#Master").removeClass("active");
                $("#MasterIndex").removeClass("active");
                $("#Detail").removeClass("active");
                $("#DetailIndex").removeClass("active");

            });
        });

    </script>
}