﻿
@using MvcPaging
@model MvcPaging.IPagedList<Enrollment.Models.Place>

@{
    ViewBag.path= "<i class=\"fa fa-home\" aria-hidden=\"true\"></i>首頁 &gt; 八、場地管理系統 &gt; ";

    ViewBag.Title = "訓練場地管理";
}

<h2>訓練場地列表</h2>

<p>
    @Html.ActionLink("新增", "Create")
</p>

@using (Html.BeginForm())
{
    <div>
        @* @Html.DisplayNameFor(model => model.FirstOrDefault().category)：@Html.DropDownList("SearchBycategory", new SelectList(Enum.GetValues(typeof(Enrollment.Models.Category))),"請選擇")*@
        @Html.DisplayNameFor(model => model.FirstOrDefault().Enable)：@Html.DropDownList("SearchByEnable", new SelectList(Enum.GetValues(typeof(Enrollment.Models.BooleanType))), "請選擇")

    </div>

    <div>
        <input type="submit" class="btn btn-Search" value="搜尋" />
    </div>


}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().PlaceNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().category)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().PlaceName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Location)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Numberlimit)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Enable)
        </th>

        <th></th>
    </tr>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.PlaceNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.category)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PlaceName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Location)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Numberlimit)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Enable)
                </td>

                <td>
                    @Html.ActionLink("編輯", "Edit", new { id = item.Id }, new { @class = "btn btn-Edit" })
                    @*@Html.ActionLink("內容", "Details", new { id=item.Id }) | *@
                    @Html.ActionLink("刪除", "Delete", new { id = item.Id }, new { @class = "btn btn-Delete" })
                    @Html.Hidden("ID", item.Id)
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="pager">
    @Html.Pager(Model.PageSize, Model.PageNumber, Model.TotalItemCount)
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/themes/base/css")
    <script>
        $(document).ready(function() {
            $(".datepicker").datepicker();

        });
    </script>
}

