﻿@{
    ViewBag.Title = "編輯大綱";
    Layout = null;
}

<h2>編輯大綱</h2>
<textarea style="width: 100%; height: 80%;resize: none">
●An explicit policy for implementing and maintaining GWO Training Standard(s) (signed by Senior Management).

●The policy must describe the scope of the GWO Training Standard(s) meaning which Training Standards(s)/Modules are included.
</textarea>
