﻿@{
    ViewBag.path= "<i class=\"fa fa-home\" aria-hidden=\"true\"></i>首頁 &gt; 六、稽核管理系統 &gt; ";

    ViewBag.Title = "外稽管理作業";

}
<style>
    th {
        background-color: lightgrey;
        text-align: center;
    }

    table, select, input, textarea {
        font-size: 14px;
    }

    td {
        text-align: left;
    }
</style>
<h2>外部稽核作業</h2>




<div class="row">
    <div class="col-lg-12">
        <ul class="nav nav-tabs">
            <li class="nav-item"><a class="nav-link" id="Category">類別設定</a></li>
            <li class="nav-item"><a class="nav-link" id="ItemSetting">項目設定</a></li>
            <li class="nav-item"><a class="nav-link" id="Result">結果紀錄</a></li>
            <li class="nav-item"><a class="nav-link" id="Evaluation">評鑑管理</a></li>
            <li class="nav-item"><a class="nav-link" id="Report">管理報表</a></li>
        </ul>
    </div>
    <div class="col-lg-12 py-3">
        <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade" id="CategoryIndex">
                <div class="col-lg-12">

                    <div class="mb-3">
                        <span>稽核代碼：<input type="text" style="width: 100px" value="GWO 31" /></span><span class="ml-2">
                            稽核類別：<input type="text" style="width:  514px" value="GWO Management systems and supporting processes" />
                        </span>
                    </div>
                    <div class="mb-3 row align-items-center"><div style="margin-left: 4px;">內容說明：</div><div class="col-11" style="padding-left: 0px;"><textarea style="width: 692px; height: 70px; font-size: 12px; padding-top: 5px;padding-bottom:2px">The training provider must have a formally documented, effective system for  assuring  the quality, content and safety of training and assessment and compliance with the GWO approval criteria. The system must also comply with international and national regulation on data storage and IT systems security.</textarea></div></div>
                    <div class="mb-3">
                        <span>稽核區間：<input type="text" class="datepicker" style="width: 120px;" value="2019/10/01" /><span class="mx-2">~</span><input type="text" class="datepicker" style="width: 120px;" value="2019/10/30" /></span>
                        <span class="ml-2">　　狀態：<select style="width: 100px;"><option>開放</option></select></span><span class="ml-2">　　稽核員：<input type="text " value="林珊珊" style="width: 162.5px" /></span>
                    </div>
                </div>
                <hr />
                <div class="col-lg-12 py-3 "><span @*style="background-color: khaki"*@>日期：<input type="text" class="mr-2 datepicker" value="2019/09/01" style="width: 80px; padding-left: 7px;padding-right: 0px" />~<input type="text" class="mx-2 datepicker" value="2019/09/01" style="width: 80px; padding-left: 7px;padding-right: 0px" />　編號：<input type="text" class="mr-2" style="width: 120px" />　狀態：<select style="width: 80px;"><option></option></select></span>　<input type="button" value="查詢" class="mx-2" style="width: 100px;padding-top: 7px;" />　　<input type="button" value="新增" style="width: 100px;padding-top: 7px;" /></div>
                <table class="table-bordered" style="width: 100%;text-align: center;">
                    <tr>
                        <th>代碼</th>
                        <th>稽核類別</th>
                        <th>對象</th>
                        <th>截止日</th>
                        <th></th>
                    </tr>
                    <tr>
                        <td>GWO 31</td>
                        <td>Management systems and supporting processes</td>
                        <td>TR Provider</td>
                        <td>2019/10/30</td>
                        <td style="text-align: center!important;"><input type="button" value="修改" style="width: 100px;padding-top: 7px" /><input type="button" value="刪除" style="width: 100px;padding-top: 7px" /></td>
                    </tr>
                    <tr>
                        <td>GWO 32</td>
                        <td>
                            Physical resources
                        </td>
                        <td>
                            TR Provider
                        </td>
                        <td>2019/10/30</td>
                        <td style="text-align: center!important;"><input type="button" value="修改" style="width: 100px;padding-top: 7px" /><input type="button" value="刪除" style="width: 100px;padding-top: 7px" /></td>
                    </tr>
                    <tr>
                        <td>GWO 33</td>
                        <td>
                            Staff resources
                        </td>
                        <td>
                            TR Provider
                        </td>
                        <td>2019/10/30</td>
                        <td style="text-align: center!important;"><input type="button" value="修改" style="width: 100px;padding-top: 7px" /><input type="button" value="刪除" style="width: 100px;padding-top: 7px" /></td>
                    </tr>
                    <tr>
                        <td>GWO 34</td>
                        <td>
                            Training and assessment
                        </td>
                        <td>
                            TR Provider
                        </td>
                        <td>2019/10/30</td>
                        <td style="text-align: center!important;"><input type="button" value="修改" style="width: 100px;padding-top: 7px" /><input type="button" value="刪除" style="width: 100px;padding-top: 7px" /></td>
                    </tr>
                    <tr>
                        <td>GWO 35</td>
                        <td>
                            Data storage setup
                        </td>
                        <td>
                            TR Provider
                        </td>
                        <td>2019/10/30</td>
                        <td style="text-align: center!important;"><input type="button" value="修改" style="width: 100px;padding-top: 7px" /><input type="button" value="刪除" style="width: 100px;padding-top: 7px" /></td>
                    </tr>


                </table>
            </div>
            <div class="tab-pane fade" id="ItemSettingIndex">
                <div class="col-lg-12">

                    <div class="mb-3">
                        <span>稽核代碼：<input type="text" style="width: 100px" value="GWO 31" /></span><span class="ml-2">
                            稽核類別：<input type="text" style="width:  514px" value="GWO Management systems and supporting processes" />
                        </span>
                    </div>
                    <div class="mb-3 row align-items-center"><div style="margin-left: 4px;">內容說明：</div><div class="col-11" style="padding-left: 0px;"><textarea style="width: 692px; height: 70px; font-size: 12px; padding-top: 5px;padding-bottom:2px">The training provider must have a formally documented, effective system for  assuring  the quality, content and safety of training and assessment and compliance with the GWO approval criteria. The system must also comply with international and national regulation on data storage and IT systems security.</textarea></div></div>
                    <div class="mb-3">
                        <span>稽核區間：<input type="text" class="datepicker" style="width: 120px;" value="2019/10/01" /><span class="mx-2">~</span><input type="text" class="datepicker" style="width: 120px;" value="2019/10/30" /></span>
                        <span class="ml-2">　　狀態：<select style="width: 100px;"><option>開放</option></select></span><span class="ml-2">　　稽核員：<input type="text " value="林珊珊" style="width: 162.5px" /></span>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-md-1">
                    </div>
                    <div class="col-md-2">
                        項目代碼
                    </div>
                    <div class="col-md-6">
                        考核項目名稱
                    </div>
                    <div class="col-md-1">
                        大綱
                    </div>
                    <div class="col-md-1">
                        等級
                    </div>
                    <div class="col-md-1">

                    </div>
                </div>
                <div class="row">
                    <div class="col-md-1">
                        <input type="text" style="width:100%" readonly value="1" />
                    </div>
                    <div class="col-md-2">
                        <input type="text" style="width:100%" value="GWO 311" />
                    </div>
                    <div class="col-md-6">
                        <input type="text" style="width:100%" value="Policy and objectives" />
                    </div>
                    <div class="col-md-1">
                        <a id="colorlink" onclick="$.colorbox({ width: '60%', height: '75%', iframe: true, href: '@Url.Action("ContentEdit", "ExternalAudit")' })" href="javascript:return false;" class="ajax-pop-grow-added edit"><input type="button" value="編輯" style="width: 100%; padding-top: 7px" /></a>


                    </div>
                    <div class="col-md-1">
                        <input type="text" style="width:100%" value="L" />
                    </div>
                    <div class="col-md-1">

                    </div>
                </div>

                <div class="row">
                    <div class="col-md-1">
                        <input type="text" style="width:100%" readonly value="2" />
                    </div>
                    <div class="col-md-2">
                        <input type="text" style="width:100%" value="GWO 312" />
                    </div>
                    <div class="col-md-6">
                        <input type="text" style="width:100%" value="Organisation incl. responsibilities" />
                    </div>
                    <div class="col-md-1">
                        <a id="colorlink" onclick="$.colorbox({ width: '60%', height: '75%', iframe: true, href: '@Url.Action("ContentEdit", "ExternalAudit")' })" href="javascript:return false;" class="ajax-pop-grow-added edit"><input type="button" value="編輯" style="width: 100%; padding-top: 7px" /></a>


                    </div>
                    <div class="col-md-1">
                        <input type="text" style="width:100%" value="M" />
                    </div>
                    <div class="col-md-1">

                    </div>
                </div>



                <div class="row">
                    <div class="col-md-1">
                        <input type="text" style="width:100%" readonly value="3" />
                    </div>
                    <div class="col-md-2">
                        <input type="text" style="width:100%" value="GWO 313" />
                    </div>
                    <div class="col-md-6">
                        <input type="text" style="width:100%" value="Documentation processes" />
                    </div>
                    <div class="col-md-1">
                        <a id="colorlink" onclick="$.colorbox({ width: '60%', height: '75%', iframe: true, href: '@Url.Action("ContentEdit", "ExternalAudit")' })" href="javascript:return false;" class="ajax-pop-grow-added edit"><input type="button" value="編輯" style="width: 100%; padding-top: 7px" /></a>


                    </div>
                    <div class="col-md-1">
                        <input type="text" style="width:100%" value="M" />
                    </div>
                    <div class="col-md-1">

                    </div>
                </div>

                <div class="row">
                    <div class="col-md-1">
                        <input type="text" style="width:100%" readonly value="4" />
                    </div>
                    <div class="col-md-2">
                        <input type="text" style="width:100%" value="GWO314" />
                    </div>
                    <div class="col-md-6">
                        <input type="text" style="width:100%" value="GWO training records" />
                    </div>
                    <div class="col-md-1">
                        <a id="colorlink" onclick="$.colorbox({ width: '60%', height: '75%', iframe: true, href: '@Url.Action("ContentEdit", "ExternalAudit")' })" href="javascript:return false;" class="ajax-pop-grow-added edit"><input type="button" value="編輯" style="width: 100%; padding-top: 7px" /></a>


                    </div>
                    <div class="col-md-1">
                        <input type="text" style="width:100%" value="M" />
                    </div>
                    <div class="col-md-1">

                    </div>
                </div>


                <div class="row">
                    <div class="col-md-1">
                        <input type="text" style="width:100%" readonly value="5" />
                    </div>
                    <div class="col-md-2">
                        <input type="text" style="width:100%" value="GWO 315" />
                    </div>
                    <div class="col-md-6">
                        <input type="text" style="width:100%" value="Data storage setup" />
                    </div>
                    <div class="col-md-1">
                        <a id="colorlink" onclick="$.colorbox({ width: '60%', height: '75%', iframe: true, href: '@Url.Action("ContentEdit", "ExternalAudit")' })" href="javascript:return false;" class="ajax-pop-grow-added edit"><input type="button" value="編輯" style="width: 100%; padding-top: 7px" /></a>


                    </div>
                    <div class="col-md-1">
                        <input type="text" style="width:100%" value="H" />
                    </div>
                    <div class="col-md-1">

                    </div>
                </div>


                <div class="row">
                    <div class="col-md-1">
                        <input type="text" style="width:100%" readonly value="6" />
                    </div>
                    <div class="col-md-2">
                        <input type="text" style="width:100%" value="GWO 316" />
                    </div>
                    <div class="col-md-6">
                        <input type="text" style="width:100%" value="Internal audit" />
                    </div>
                    <div class="col-md-1">
                        <a id="colorlink" onclick="$.colorbox({ width: '60%', height: '75%', iframe: true, href: '@Url.Action("ContentEdit", "ExternalAudit")' })" href="javascript:return false;" class="ajax-pop-grow-added edit"><input type="button" value="編輯" style="width: 100%; padding-top: 7px" /></a>


                    </div>
                    <div class="col-md-1">
                        <input type="text" style="width:100%" value="H" />
                    </div>
                    <div class="col-md-1">

                    </div>
                </div>


                <div class="row">
                    <div class="col-md-1">
                        <input type="text" style="width:100%" readonly value="7" />
                    </div>
                    <div class="col-md-2">
                        <input type="text" style="width:100%" value="GWO 317" />
                    </div>
                    <div class="col-md-6">
                        <input type="text" style="width:100%" value="Handling of NCR’s incl. customer complaints" />
                    </div>
                    <div class="col-md-1">
                        <a id="colorlink" onclick="$.colorbox({ width: '60%', height: '75%', iframe: true, href: '@Url.Action("ContentEdit", "ExternalAudit")' })" href="javascript:return false;" class="ajax-pop-grow-added edit"><input type="button" value="編輯" style="width: 100%; padding-top: 7px" /></a>


                    </div>
                    <div class="col-md-1">
                        <input type="text" style="width:100%" value="H" />
                    </div>
                    <div class="col-md-1">

                    </div>
                </div>


                <div class="row">
                    <div class="col-md-1">
                        <input type="text" style="width:100%" readonly value="8" />
                    </div>
                    <div class="col-md-2">
                        <input type="text" style="width:100%" value="GWO 318" />
                    </div>
                    <div class="col-md-6">
                        <input type="text" style="width:100%" value="Procedure for incidents during training" />
                    </div>
                    <div class="col-md-1">
                        <a id="colorlink" onclick="$.colorbox({ width: '60%', height: '75%', iframe: true, href: '@Url.Action("ContentEdit", "ExternalAudit")' })" href="javascript:return false;" class="ajax-pop-grow-added edit"><input type="button" value="編輯" style="width: 100%; padding-top: 7px" /></a>


                    </div>
                    <div class="col-md-1">
                        <input type="text" style="width:100%" value="H" />
                    </div>
                    <div class="col-md-1">

                    </div>
                </div>


                <div class="row">
                    <div class="col-md-1">
                        <input type="text" style="width:100%" readonly value="9" />
                    </div>
                    <div class="col-md-2">
                        <input type="text" style="width:100%" value="GWO 319" />
                    </div>
                    <div class="col-md-6">
                        <input type="text" style="width:100%" value="Management review" />
                    </div>
                    <div class="col-md-1">
                        <a id="colorlink" onclick="$.colorbox({ width: '60%', height: '75%', iframe: true, href: '@Url.Action("ContentEdit", "ExternalAudit")' })" href="javascript:return false;" class="ajax-pop-grow-added edit"><input type="button" value="編輯" style="width: 100%; padding-top: 7px" /></a>


                    </div>
                    <div class="col-md-1">
                        <input type="text" style="width:100%" value="H" />
                    </div>
                    <div class="col-md-1">

                    </div>
                </div>



                <hr />

                <div style="text-align: right">
                    <input type="button" value="新增" style="width: 100px;padding-top: 7px" />
                    <input type="button" value="取消" style="width: 100px;padding-top: 7px" />
                </div>






            </div>
            <div class="tab-pane fade" id="ResultIndex">
                <div class="col-lg-12">

                    <div class="mb-3">
                        <span>類別代碼：<input type="text" style="width: 100px" value="GWO 31" /></span><span class="ml-2">
                            類別名稱：<input type="text" style="width:  478px" value="GWO Management systems and supporting processes" />
                        </span>
                    </div>
                    <div class="mb-3">
                        <span>項目代碼：<input type="text" style="width: 100px" value="GWO 311" /></span><span class="ml-2">
                            項目名稱：<input type="text" style="width: 477px" value="Policy and objectives" />
                        </span>
                    </div>
                    <div class="mb-3">
                        <span>稽核區間：<input type="text" class="datepicker" style="width: 120px;" value="2019/10/01" /><span class="mx-2">~</span><input type="text" class="datepicker" style="width: 120px;" value="2019/10/30" /></span>
                        <span class="ml-2">　　等級：<select style="width:63px;"><option>L</option><option>M</option><option>H</option></select></span><span class="ml-2">　　稽核員：<input type="text " value="林珊珊" style="width: 162.5px" /></span>
                    </div>
                </div>
                <hr />
                <div class="col-lg-12 py-3 "><span @*style="background-color: khaki"*@>日期：<input type="text" class="mr-2 datepicker" value="2019/09/01" style="width: 80px; padding-left: 7px;padding-right: 0px" />~<input type="text" class="mx-2 datepicker" value="2019/09/01" style="width: 80px; padding-left: 7px;padding-right: 0px" />　編號：<input type="text" class="mr-2" style="width: 120px" />　等級：<select style="width: 80px;"><option></option></select></span>　<input type="button" value="查詢" class="mx-2" style="width: 100px;padding-top: 7px;" />　　<input type="button" value="新增" style="width: 100px;padding-top: 7px;" /></div>
                <hr />
                <div class="row">
                    <div class="col-md-12">　　　1.大綱：</div>
                </div>
                <div class="row">
                    <div class="col-md-12" style="padding-left: 45px;">
                        <textarea style="width: 100%; height: 230px; resize: none">
                            ●The training provider must have a formally documented, effective system for  assuring  the quality, content and safety of training and assessment and compliance with the GWO approval criteria. The system must also comply with international and national regulation on data storage and IT systems security.
                            ●An explicit policy for implementing and maintaining GWO Training Standard(s) (signed by Senior Management).
                            ●The policy must describe the scope of the GWO Training Standard(s) meaning which Training Standards(s)/Modules are included.
                        </textarea>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-12">　　　2.紀錄/建議：</div>
                </div>
                <div class="row">
                    <div class="col-md-12" style="padding-left: 45px;">
                        <textarea style="width: 100%; height: 93px;padding-bottom: 0px; resize: none">
                            The certificate of conformity will detail the specification to which the Training Provider has been found to be in compliance with at the time of the audit and the scope of the management system.
                            Suggestion：Approve all audit items.
                        </textarea>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-12">　　　3.改進狀況：</div>
                </div>
                <div class="row">
                    <div class="col-md-12" style="padding-left: 45px;">
                        <textarea style="width: 100%; height: 93px;padding-bottom: 0px; resize: none">
                            All corrective actions agreed have been completed and the Training Provider is  found to be in compliance with the GWO Criteria for Training Providers and the applicable GWO Training Standard, the Certification Body will issue a certificate of Conformity.2019.10.30
                        </textarea>
                    </div>
                </div>








            </div>

            <div class="tab-pane fade" id="EvaluationIndex">
                <div class="col-lg-12">

                    <div class="mb-3">
                        <span>稽核代碼：<input type="text" style="width: 100px" value="GWO 31" /></span><span class="ml-2">
                            稽核類別：<input type="text" style="width:  514px" value="Management systems and supporting processes" />
                        </span>
                    </div>
                    <div class="mb-3 row align-items-center"><div style="margin-left: 4px;">內容說明：</div><div class="col-11" style="padding-left: 0px;"><textarea style="width: 692px; height: 70px; font-size: 12px; padding-top: 5px;padding-bottom:2px">The training provider must have a formally documented, effective system for  assuring  the quality, content and safety of training and assessment and compliance with the GWO approval criteria. The system must also comply with international and national regulation on data storage and IT systems security.</textarea></div></div>
                    <div class="mb-3">
                        <span>稽核區間：<input type="text" class="datepicker" style="width: 120px;" value="2019/10/01" /><span class="mx-2">~</span><input type="text" class="datepicker" style="width: 120px;" value="2019/10/30" /></span>
                        <span class="ml-2">　　狀態：<select style="width: 100px;"><option>開放</option></select></span><span class="ml-2">　　稽核員：<input type="text " value="林珊珊" style="width: 162.5px" /></span>
                    </div>
                </div>
                <hr />
                <div class="col-lg-12 py-3 "><span @*style="background-color: khaki"*@>日期：<input type="text" class="mr-2 datepicker" value="2019/09/01" style="width: 80px; padding-left: 7px;padding-right: 0px" />~<input type="text" class="mx-2 datepicker" value="2019/09/01" style="width: 80px; padding-left: 7px;padding-right: 0px" />　編號：<input type="text" class="mr-2" style="width: 120px" />　狀態：<select style="width: 80px;"><option></option></select></span>　<input type="button" value="查詢" class="mx-2" style="width: 100px;padding-top: 7px;" />　　<input type="button" value="新增" style="width: 100px;padding-top: 7px;" /></div>
                <table class="table-bordered" style="width: 100%;text-align: center;">
                    <tr>
                        <th>代碼</th>
                        <th>稽核類別</th>
                        <th>對象</th>
                        <th>評鑑日期</th>
                        <th>紀錄</th>
                        <th>是否通過</th>
                    </tr>
                    <tr>
                        <td>GWO 31</td>
                        <td>Management systems and supporting processes</td>
                        <td>Delegate</td>
                        <td>2019/10/30</td>
                        <td style="text-align: center!important;"><input type="button" value="查看" style="width: 100px;padding-top: 7px" /></td>
                        <td style="text-align: center"><input type="checkbox" style="width: 35px" checked="checked" /></td>
                    </tr>
                    <tr>
                        <td>GWO 32</td>
                        <td>
                            Physical resources
                        </td>
                        <td>
                            Training Provider
                        </td>
                        <td>2019/10/30</td>
                        <td style="text-align: center!important;"><input type="button" value="查看" style="width: 100px;padding-top: 7px" /></td>
                        <td style="text-align: center"><input type="checkbox" style="width: 35px" checked="checked" /></td>
                    </tr>
                    <tr>
                        <td>GWO 33</td>
                        <td>
                            Staff resources
                        </td>
                        <td>
                            Training Provider
                        </td>
                        <td>2019/10/30</td>
                        <td style="text-align: center!important;"><input type="button" value="查看" style="width: 100px;padding-top: 7px" /></td>
                        <td style="text-align: center"><input type="checkbox" style="width: 35px" checked="checked" /></td>
                    </tr>
                    <tr>
                        <td>GWO 34</td>
                        <td>
                            Training and assessment
                        </td>
                        <td>
                            Training Provider
                        </td>
                        <td>2019/10/30</td>
                        <td style="text-align: center!important;"><input type="button" value="查看" style="width: 100px;padding-top: 7px" /></td>
                        <td style="text-align: center"><input type="checkbox" style="width: 35px" checked="checked" /></td>
                    </tr>


                </table>
            </div>

            <div class="tab-pane fade" id="ReportIndex">


            </div>
        </div>
    </div>
</div>

@section Scripts {

    <script src="~/Scripts/jquery-ui-1.8.24.min.js"></script>
    <script src="@Url.Content("~/Scripts/jquery.colorbox-min.js")" type="text/javascript"></script>
    <link href="@Url.Content("~/Content/colorbox/colorbox.css")" rel="stylesheet" type="text/css" />



    <script>
        $(document).ready(function() {
            $("#Category").addClass("active");
            $("#CategoryIndex").addClass("active show");



            $("#Category").click(function() {
                $(this).addClass("active");
                $("#CategoryIndex").addClass("active show");
                $("#ItemSetting").removeClass("active");
                $("#ItemSettingIndex").removeClass("active");
                $("#Result").removeClass("active");
                $("#ResultIndex").removeClass("active");
                $("#Evaluation").removeClass("active");
                $("#EvaluationIndex").removeClass("active");
                $("#Report").removeClass("active");
                $("#ReportIndex").removeClass("active");
            });
            $("#ItemSetting").click(function() {
                $(this).addClass("active");
                $("#ItemSettingIndex").addClass("active show");
                $("#Category").removeClass("active");
                $("#CategoryIndex").removeClass("active");
                $("#Result").removeClass("active");
                $("#ResultIndex").removeClass("active");
                $("#Evaluation").removeClass("active");
                $("#EvaluationIndex").removeClass("active");
                $("#Report").removeClass("active");
                $("#ReportIndex").removeClass("active");

            });
            $("#Result").click(function() {
                $(this).addClass("active");
                $("#ResultIndex").addClass("active show");
                $("#Category").removeClass("active");
                $("#CategoryIndex").removeClass("active");
                $("#ItemSetting").removeClass("active");
                $("#ItemSettingIndex").removeClass("active");
                $("#Evaluation").removeClass("active");
                $("#EvaluationIndex").removeClass("active");
                $("#Report").removeClass("active");
                $("#ReportIndex").removeClass("active");

            });
            $("#Evaluation").click(function() {
                $(this).addClass("active");
                $("#EvaluationIndex").addClass("active show");
                $("#Category").removeClass("active");
                $("#CategoryIndex").removeClass("active");
                $("#ItemSetting").removeClass("active");
                $("#ItemSettingIndex").removeClass("active");
                $("#Result").removeClass("active");
                $("#ResultIndex").removeClass("active");
                $("#Report").removeClass("active");
                $("#ReportIndex").removeClass("active");

            });
            $("#Report").click(function() {
                $(this).addClass("active");
                $("#ReportIndex").addClass("active show");
                $("#Category").removeClass("active");
                $("#CategoryIndex").removeClass("active");
                $("#ItemSetting").removeClass("active");
                $("#ItemSettingIndex").removeClass("active");
                $("#Result").removeClass("active");
                $("#ResultIndex").removeClass("active");
                $("#Evaluation").removeClass("active");
                $("#EvaluationIndex").removeClass("active");

            });
        });

    </script>
}