﻿@using Enrollment.Models
@model Enrollment.Models.DeviceCategory

@{
    ViewBag.path= "<i class=\"fa fa-home\" aria-hidden=\"true\"></i>首頁 &gt; 五、訓練設備管理 &gt; 設備類別管理 &gt; ";

    ViewBag.Title = "新增設備類別";
}

<h2>新增設備類別</h2>

    @using (Html.BeginForm()) {

    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @ViewBag.Message
    <fieldset>
        <legend>DeviceCategory</legend>

        <div class="row">
            <div class="col-md-4">
                @Html.LabelFor(model => model.Subject)
                @Html.TextBoxFor(model => model.Subject,new { placeholder=ModelsAttributeHelper<Enrollment.Models.DeviceCategory>.GetDisplayName("Subject") })
                @Html.ValidationMessageFor(model => model.Subject)
            </div>
            <div class="col-md-4">
                @Html.LabelFor(model => model.SortNum)
                <input data-val="true" data-val-number="欄位 排序 必須是數字。" data-val-required="排序必填" id="SortNum" name="SortNum" placeholder="排序" type="number" min="0" value="@ViewBag.SortNum">
                @Html.ValidationMessageFor(model => model.SortNum)
            </div>
            <div class="col-md-4">
              
            </div>
        </div>

     
        <div class="row" style="text-align: center;margin-top:1em">
            <div class="col-md-12">
                <input type="submit" value="新增" class="btn btn-Create" /> <input type="button" onclick="history.back()" value="回到上一頁" class="btn btn-primary" />
            </div>
        </div>

    
   
    </fieldset>
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")


}
