﻿
@using Enrollment.Models
@model Enrollment.Models.DeviceCategory

@{
    ViewBag.path= "<i class=\"fa fa-home\" aria-hidden=\"true\"></i>首頁 &gt; 五、訓練設備管理 &gt; 設備類別管理 &gt; ";

    ViewBag.Title = "編輯設備類別";
}

<h2>編輯設備類別</h2>

@using (Html.BeginForm())
{

    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>DeviceCategory</legend>

        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.ParentId)
        <div class="row">
            <div class="col-md-4">
                @Html.LabelFor(model => model.Subject)
                @Html.TextBoxFor(model => model.Subject, new { placeholder = ModelsAttributeHelper<Enrollment.Models.DeviceCategory>.GetDisplayName("Subject") })
                @Html.ValidationMessageFor(model => model.Subject)
            </div>
            <div class="col-md-4">
                @Html.LabelFor(model => model.SortNum)
                @Html.TextBoxFor(model => model.SortNum, new {type="number",min=0, placeholder = ModelsAttributeHelper<Enrollment.Models.DeviceCategory>.GetDisplayName("SortNum") })

                @Html.ValidationMessageFor(model => model.SortNum)
            </div>
            <div class="col-md-4">

            </div>
        </div>

       

        @Html.HiddenFor(model => model.Poster)
        @Html.HiddenFor(model => model.InitDate)
      
        @Html.HiddenFor(model => model.UpdateID)
        @Html.HiddenFor(model => model.UpdateDate)
        <div class="row" style="text-align: center;margin-top:1em">
            <div class="col-md-12">
                <input type="submit" value="更新" class="btn btn-Edit" /> <input type="button" onclick="history.back()" value="回到上一頁" class="btn btn-primary" />
            </div>
        </div>

       
    </fieldset>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

}
