﻿
@using Enrollment.Helpers
@using MvcPaging
@model MvcPaging.IPagedList<Enrollment.Models.DeviceCategory>

@{
    ViewBag.path= "<i class=\"fa fa-home\" aria-hidden=\"true\"></i>首頁 &gt; 五、訓練設備管理 &gt; ";

    ViewBag.Title = "設備類別管理";
}

<h2>設備類別列表</h2>

<p>
    @Html.ActionLink("新增", "Create", new { ParentId = @ViewBag.ParentId })
</p>

<div>
    所在位置: @Html.ActionLink("最上層", "Index", new { id = 0 })  @Html.Raw(ViewBag.categoryPath)
</div>
<table class="table">
    <tr>
 
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Subject)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().SortNum)
        </th>
      
        <th></th>
    </tr>
<tbody>
@foreach (var item in Model) {
    <tr>
      @if (item.Level == 1)
      {
          <td>
              @Html.ActionLink(item.Subject, "Index", new {id = item.Id})
          </td>
      }
      else
      {
        <td>
            @Html.DisplayFor(modelItem => item.Subject)
        </td>

      }



        <td>
            @Html.DisplayFor(modelItem => item.SortNum)
        </td>

        <td>
            @Html.ActionLink("編輯", "Edit", new {id = item.Id}, new {@class = "btn btn-Edit"}) 
            @*@Html.ActionLink("內容", "Details", new { id=item.Id }) | *@
            @Html.ActionLink("刪除", "Delete", new {id = item.Id}, new {@class = "btn btn-Delete"})
            @Html.Hidden("ID", item.Id)
        </td>
    </tr>
}
</tbody>
</table>

<div class="pager">
    @Html.Pager(Model.PageSize, Model.PageNumber, Model.TotalItemCount)
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/themes/base/css")
    <script>
        $(document).ready(function() {
            $(".datepicker").datepicker();

        });
    </script>
}

