﻿
@using Enrollment.Models
@model Enrollment.Models.ClassStudents

@{
    ViewBag.Title = "編輯";
}

<h2>編輯</h2>

    @using (Html.BeginForm()) {

    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>ClassStudents</legend>

        @Html.HiddenFor(model => model.Id)

        <div class="editor-label">
            @Html.LabelFor(model => model.ClassTeacherId)
        </div>
        <div class="editor-field">
            @Html.DropDownList("ClassTeacherId")
            @Html.ValidationMessageFor(model => model.ClassTeacherId)
           
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.StudentId)
        </div>
        <div class="editor-field">
            @Html.DropDownList("StudentId")
            @Html.ValidationMessageFor(model => model.StudentId)
           
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ClassStatus)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.ClassStatus, new SelectList(Enum.GetValues(typeof(Enrollment.Models.ApplyStatus))))
            @Html.ValidationMessageFor(model => model.ClassStatus)
           
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PaymentStatus)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.PaymentStatus, new SelectList(Enum.GetValues(typeof(Enrollment.Models.PaymentStatus))))
            @Html.ValidationMessageFor(model => model.PaymentStatus)
           
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.NeedRoom)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.NeedRoom, new SelectList(Enum.GetValues(typeof(Enrollment.Models.EnableType))))
            @Html.ValidationMessageFor(model => model.NeedRoom)
           
        </div>

            @Html.HiddenFor(model => model.Poster)
            @Html.HiddenFor(model => model.InitDate)
        <div class="editor-label">
            @Html.LabelFor(model => model.UpdateID)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.UpdateID,new { placeholder=ModelsAttributeHelper<Enrollment.Models.ClassStudents>.GetDisplayName("UpdateID") })
           
        </div>

            @Html.HiddenFor(model => model.UpdateDate)
        <p>
            <input type="submit" value="更新" /> <input type="button" onclick="history.back()" value="回到上一頁" />
        </p>
    </fieldset>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

}
