﻿
@using MvcPaging
@model MvcPaging.IPagedList<Enrollment.Models.ClassStudents>

@{
    ViewBag.path= "<i class=\"fa fa-home\" aria-hidden=\"true\"></i>首頁 &gt; 二、課程管理系統 &gt; 報名記錄作業 &gt; ";

    ViewBag.Title = "報名記錄列表";
}

<h2>報名記錄</h2>

@*<p>
    @Html.ActionLink("新增", "Create")
</p>*@

@using (Html.BeginForm())
{
    <div>
        @Html.DisplayNameFor(model => model.FirstOrDefault().ClassTeacherId)：@Html.DropDownList("SearchByClassTeacherId", (IEnumerable<SelectListItem>)ViewBag.ClassTeacherId, "請選擇")
        @Html.DisplayNameFor(model => model.FirstOrDefault().StudentId)：@Html.DropDownList("SearchByStudentId", (IEnumerable<SelectListItem>)ViewBag.StudentId, "請選擇")
        @Html.DisplayNameFor(model => model.FirstOrDefault().ClassStatus)：@Html.DropDownList("SearchByClassStatus", new SelectList(Enum.GetValues(typeof(Enrollment.Models.ApplyStatus))), "請選擇")

    </div>
    <div>
        @Html.DisplayNameFor(model => model.FirstOrDefault().PaymentStatus)：@Html.DropDownList("SearchByPaymentStatus", new SelectList(Enum.GetValues(typeof(Enrollment.Models.PaymentStatus))), "請選擇")

        @Html.DisplayNameFor(model => model.FirstOrDefault().NeedRoom)：@Html.DropDownList("SearchByNeedRoom", new SelectList(Enum.GetValues(typeof(Enrollment.Models.EnableType))), "請選擇")

        <input type="submit" class="btn btn-Search" value="搜尋" />
    </div>


}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().ClassTeacher.Course.CourseName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Student.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().ClassStatus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().PaymentStatus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().NeedRoom)
        </th>

        <th>
            報名日期
        </th>

        @*<th></th>*@
    </tr>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ClassTeacher.Course.CourseName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Student.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ClassStatus)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PaymentStatus)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NeedRoom)
                </td>

                <td>
                    @item.InitDate.Value.ToString("yyyy/MM/dd HH:mm")
                </td>

                @* <td>
                     @Html.ActionLink("編輯", "Edit", new { id=item.Id }, new { @class = "btn btn-Edit" })
                    @Html.ActionLink("內容", "Details", new { id=item.Id }) |
                            @Html.ActionLink("刪除", "Delete", new { id=item.Id }, new { @class = "btn btn-Delete" })
                            @Html.Hidden("ID",item.Id)
                        </td>*@
            </tr>
        }
    </tbody>
</table>

<div class="pager">
    @Html.Pager(Model.PageSize, Model.PageNumber, Model.TotalItemCount)
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/themes/base/css")
    <script>
        $(document).ready(function () {
            $(".datepicker").datepicker();
            $("select").chosen();
        });
    </script>
}

