﻿
@using Enrollment.Models
@model Enrollment.Models.ClassTeacher
@{
    ViewBag.path= "<i class=\"fa fa-home\" aria-hidden=\"true\"></i>首頁 &gt; 二、課程管理系統 &gt; 排課管理作業 &gt; "+ Model.Course.CourseName + " &gt; ";

    ViewBag.Title = "學員清單";

}
<style>
    .table {
        width: 100%;
        margin-bottom: 1rem;
        color: #212529;
    }
    table {
        border-collapse: collapse;
    }


    .table thead tr th
    {
        color: white
    }
</style>
<h2>@Model.Course.CourseName 學員清單</h2>
@if (Model.ClassStudentses.Where(x => x.ClassStatus == ApplyStatus.錄取).Count()>0) {

    <h4>正取</h4>
<table class="table table-striped">
    <thead>
    <tr>
        <th scope="col">姓名</th>
        <th scope="col">性別</th>
        <th scope="col">報名日期</th>
        <th scope="col">報名狀態</th>
        <th scope="col">繳費狀態</th>
        <th scope="col">住宿</th>
        <th scope="col">出勤狀態</th>
        <th scope="col">評分</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.ClassStudentses.Where(x => x.ClassStatus == ApplyStatus.錄取).OrderBy(x => x.InitDate))
    {
        <tr>

            <td>@item.Student.Name</td>
            <td>@item.Student.Gender</td>
            <td>@item.InitDate.Value.ToString("yyyy/MM/dd HH:mm")</td>
            <td>@item.ClassStatus</td>
            <td>@item.PaymentStatus</td>
            <td>@item.NeedRoom</td>
            <td></td>
            <td></td>
        </tr>
    }
  

    </tbody>
</table>
}
@if (Model.ClassStudentses.Where(x => x.ClassStatus == ApplyStatus.備取).Count()>0) {

    <h4 style="color: red">備取</h4>

    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">姓名</th>
            <th scope="col">性別</th>
            <th scope="col">報名日期</th>
            <th scope="col">報名狀態</th>
            <th scope="col">繳費狀態</th>
            <th scope="col">住宿</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model.ClassStudentses.Where(x => x.ClassStatus == ApplyStatus.備取).OrderBy(x => x.InitDate))
        {
            <tr>

                <td>@item.Student.Name</td>
                <td>@item.Student.Gender</td>
                <td>@item.InitDate.Value.ToString("yyyy/MM/dd HH:mm")</td>
                <td>@item.ClassStatus</td>
                <td>@item.PaymentStatus</td>
                <td>@item.NeedRoom</td>
              
            </tr>
        }
  

        </tbody>
    </table>

}