﻿@using System.Data
@using MvcPaging
@model MvcPaging.IPagedList<Enrollment.Models.ClassHistory>
@{
    ViewBag.path= "<i class=\"fa fa-home\" aria-hidden=\"true\"></i>首頁 &gt; 二、課程管理系統 &gt; 排課管理作業 &gt; "+ Model.First().ClassTeacher.Course.CourseName + "出勤資料 &gt; ";

    ViewBag.Title = "課程時間列表";
}
<style>
    .table {
        width: 100%;
        margin-bottom: 1rem;
        color: #212529;
    }

    table {
        border-collapse: collapse;
    }


    .table thead tr th {
        color: white;
    }
</style>

@using (Html.BeginForm())
{
    <div>
        @Html.DisplayNameFor(model => model.FirstOrDefault().ClassDate)：@Html.DropDownList("SearchByDate", (IEnumerable<SelectListItem>)ViewBag.classdates, "請選擇")

        <input type="submit" class="btn btn-Search" value="搜尋" />
    </div>


}

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">日期</th>
            <th scope="col">時間</th>
            <th scope="col">出勤表</th>
            <th scope="col">課程記錄表</th>
            <th scope="col">評分</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {

            <tr>
                @{
                    string dayofweek = "";
                    switch (item.Day)
                    {
                        case "0":
                            dayofweek = "日";
                            break;
                        case "1":
                            dayofweek = "一";
                            break;
                        case "2":
                            dayofweek = "二";
                            break;
                        case "3":
                            dayofweek = "三";
                            break;
                        case "4":
                            dayofweek = "四";
                            break;
                        case "5":
                            dayofweek = "五";
                            break;
                        case "6":
                            dayofweek = "六";
                            break;
                    }
                }
                <td>@item.ClassDate.Date.ToString("yyyy/MM/dd") (@dayofweek) </td>
                <td>@(item.StarTime)~@(item.EndTime)</td>

                <td>
                    @Html.ActionLink("出勤資料", "EditAttendance", new { id = item.Id }, new {  @class = "btn btn-AttendanceList"})
                </td>
                <td>  @Html.ActionLink("課程記錄", "EditClassHistory", new { id = item.Id }, new {  @class = "btn btn-ClassHistory" })
                </td>
           
                <td>
                      @if (item.Scores.Count>0)
                    {
                        @Html.ActionLink("編輯評分表", "EditScore", new {id = item.Id}, new {@class = "btn btn-Score"})
                    }
                    else
                    {
                        @Html.ActionLink("新增評分表", "CreateScore", new {id = item.Id}, new {@class = "btn btn-Create"})
                 
                    }

                </td>
            </tr>
                    }

    </tbody>
</table>
<div class="pager">
    @Html.Pager(Model.PageSize, Model.PageNumber, Model.TotalItemCount)
</div>



<script>
    $(document).ready(function () {
        $('select').chosen();
    });
</script>