﻿@using Enrollment.Models
@model Enrollment.Models.ClassTeacher

@{
    ViewBag.path= "<i class=\"fa fa-home\" aria-hidden=\"true\"></i>首頁 &gt; 二、課程管理系統 &gt; 排課管理作業 &gt; ";

    ViewBag.Title = "新增開課基本資料";
}


@using (Html.BeginForm())
{

    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @ViewBag.Message
    <fieldset>
        <legend>ClassTeacher</legend>
        <div class="row" style="text-align: center">
            <div class="col-md-12">
                <h4>新增開課基本資料</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                @Html.LabelFor(model => model.CourseId)
                @Html.DropDownList("CourseId")
                @Html.ValidationMessageFor(model => model.CourseId)
            </div>
            <div class="col-md-4">
                @Html.LabelFor(model => model.TeacherId)
                @Html.DropDownList("TeacherId")
                @Html.ValidationMessageFor(model => model.TeacherId)
            </div>
            <div class="col-md-4">
                @Html.LabelFor(model => model.PlaceId)
                @Html.DropDownList("PlaceId")
                @Html.ValidationMessageFor(model => model.PlaceId)
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                @Html.LabelFor(model => model.MinStudents)
                @Html.TextBoxFor(model => model.MinStudents, new { type = "Number", min = 0, placeholder = ModelsAttributeHelper<Enrollment.Models.ClassTeacher>.GetDisplayName("MinStudents") })
                @Html.ValidationMessageFor(model => model.MinStudents)
            </div>

            <div class="col-md-4">
                @Html.LabelFor(model => model.MaxStudents)
                @Html.TextBoxFor(model => model.MaxStudents, new { type = "Number", min = 0, placeholder = ModelsAttributeHelper<Enrollment.Models.ClassTeacher>.GetDisplayName("MaxStudents") })
                @Html.ValidationMessageFor(model => model.MaxStudents)


            </div>
            <div class="col-md-4">
              @Html.LabelFor(model => model.StarDateTime)
                @Html.TextBoxFor(model => model.StarDateTime, "{0:d}", new { @class = "datepicker", target = "" })
                @Html.ValidationMessageFor(model => model.StarDateTime)
            </div>
        </div>



        <div class="row">
            <div class="col-md-4">
                @Html.LabelFor(model => model.EndDateTime)
                @Html.TextBoxFor(model => model.EndDateTime, "{0:d}", new { @class = "datepicker", target = "" })
                @Html.ValidationMessageFor(model => model.EndDateTime)
            </div>

            <div class="col-md-4">
                @Html.LabelFor(model => model.AnnouncementStarDateTime)
                @Html.TextBoxFor(model => model.AnnouncementStarDateTime, "{0:d}", new { @class = "datepicker", target = "" })
                @Html.ValidationMessageFor(model => model.AnnouncementStarDateTime)
            </div>
            <div class="col-md-4">
               @Html.LabelFor(model => model.AnnouncementEndDateTime)
                @Html.TextBoxFor(model => model.AnnouncementEndDateTime, "{0:d}", new { @class = "datepicker", target = "" })
                @Html.ValidationMessageFor(model => model.AnnouncementEndDateTime)
            </div>
        </div>

        <div class="row">


            <div class="col-md-4">
                @Html.LabelFor(model => model.ProvideDormitory)
                @Html.DropDownListFor(model => model.ProvideDormitory, new SelectList(Enum.GetValues(typeof(Enrollment.Models.EnableType))))
                @Html.ValidationMessageFor(model => model.ProvideDormitory)
            </div>
            <div class="col-md-4 DormRooms">
                @Html.LabelFor(model => model.DormRoom)
                @Html.DropDownList("DormRoom")
                @Html.ValidationMessageFor(model => model.DormRoom)
            </div>
            <div class="col-md-4">

            </div>
        </div>
       

        <div class="row" style="text-align: center">
            <div class="col-md-12">
                <h4>新增上下課日期及時間<input type="button" value="變更週期" class="btn btn-Delete" id="changetimebtn" style="margin: 1em" /><span style="font-size: 14px;color:red">一旦點選變更週期則會刪除先前加入的時間</span>
</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                @Html.LabelFor(model => model.ClassCycle)
                @Html.DropDownListFor(model => model.ClassCycle, new SelectList(Enum.GetValues(typeof(Enrollment.Models.ClassCycle))))
                @Html.ValidationMessageFor(model => model.ClassCycle)
                <input type="hidden" name="ClassCycletrue" id="ClassCycletrue"/>
            </div>


            <div class="col-md-4 timeofweek">
                <label for="">星期幾</label>
                <select id="oneweek">
                    <option value="0">日</option>
                    <option value="1">一</option>
                    <option value="2">二</option>
                    <option value="3">三</option>
                    <option value="4">四</option>
                    <option value="5">五</option>
                    <option value="6">六</option>

                </select>
            </div>

            <div class="col-md-4 timeofday">
            </div>

            <div class="col-md-4 timeofdate">
                <label for="">日期</label>
                <input type="text" id="Date" class="datepicker" />
            </div>

            <div class="col-md-4">

            </div>


        </div>
        <div class="row">
            <div class="col-md-4">
                <label for="">上課時間</label>
                <input type="text" id="workstrart" class="timepicker" />
            </div>

            <div class="col-md-4">
                <label for="">下課時間</label>
                <input type="text" id="workend" class="timepicker" />
            </div>
            <div class="col-md-4">
                <input type="button" value="加入時間" class="btn btn-Add" id="addtimebtn"  />
            </div>
        </div>



        

        <table class="table" id="classlist" style="display: none">
            <tbody>
            <tr>
                <th>取消</th>
                <th id="week">每週</th>
                <th id="spdate">日期</th>
                <th>上課時間</th>
                <th>下課時間</th>
            </tr>
            </tbody>
        
        </table>
        <div class="row" style="text-align: center;margin-top:1em">
            <div class="col-md-12">
                <input type="submit" value="開課" class="btn btn-Create" /> <input type="button" onclick="history.back()" value="回到上一頁" class="btn btn-primary" />
            </div>
        </div>

       
    </fieldset>
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/themes/base/css")
    <script>
        $(document).ready(function () {
            $("select").chosen();
            $('#MinStudents').val(0);
            $('#MaxStudents').val(0);
            $(".datepicker").datepicker();
            $(".datepicker").attr("autocomplete", "Off");
            $(".datepicker").attr("readonly", "true");
            $(".DormRooms").hide();
            $(".timeofday").hide();
            $(".timeofdate").hide();
           
            $('.timepicker').timepicker({
                timeFormat: 'HH:mm',
                interval: 30,
                minTime: '00',
                maxTime: '23:30pm',
                defaultTime: '08',
                startTime: '00:00',
                dynamic: false,
                dropdown: true,
                scrollbar: true
            });

        });
        var count = 0;
        $('#ProvideDormitory').change(function() {
            if ($('#ProvideDormitory :selected').text() == "是") {
                $(".DormRooms").show();
            } else {
                $(".DormRooms").hide();
            }
        });
        $('#ClassCycle').change(function() {
            if ($('#ClassCycle :selected').text() == "每週") {
                $(".timeofweek").show();
                $(".timeofday").hide();
                $(".timeofdate").hide();
            } else if ($('#ClassCycle :selected').text() == "平日每天") {
                $(".timeofweek").hide();
                $(".timeofday").show();
                $(".timeofdate").hide();
            } else {
                $(".timeofweek").hide();
                $(".timeofday").hide();
                $(".timeofdate").show();
            }
        });

        $('#changetimebtn').click(function() {
            var rows = document.getElementById("classlist").rows.length;
            for (var i = rows-1; i >0; i--) {
                document.getElementById("classlist").deleteRow(i);
            }
            $('#ClassCycle').removeAttr("disabled", "disabled");
            $('#classlist').attr("style","display:none");

        });
        $('#addtimebtn').click(function() {
            $('#ClassCycletrue').val($('#ClassCycle :selected').val());
            $('#ClassCycle').attr("disabled", "disabled");
            var rows = document.getElementById("classlist").rows.length;

            var day = $('#oneweek :selected').val(); //星期幾
            var date = $('#Date').val(); //特定日期
            var workstrart = $('#workstrart').val(); //上課時間
            var workend = $('#workend').val(); //下課時間
           
            var htmlstr = "<tr id=\"time" +
                rows +
                "\"><td><input type=\"CheckBox\" class=\"checkaddbtn\" name=\"checkaddbtn\" value=\"" +
                count +
                "\" /></td>";
            if ($('#ClassCycle :selected').text() === "每週") {
                $('#spdate').attr("style", "display:none");
                var tempstr =
                    "<td><select class=\"Chosen\" name=\"ClassTime[" + (rows - 1) + "].Day\"><option value=\"0\">日</option><option value=\"1\">一</option><option value=\"2\">二</option><option value=\"3\">三</option><option value=\"4\">四</option><option value=\"5\">五</option><option value=\"6\">六</option></select></td>";
                tempstr = tempstr.replace("<option value=\"" + day + "\"", "<option  selected value=\"" + day + "\"");
                htmlstr += tempstr;
            } else if ($('#ClassCycle :selected').text() === "平日每天") {
                $('#week').attr("style", "display:none");
                $('#spdate').attr("style", "display:none");
                //htmlstr += "<td></td><td></td>";
            } else {
                $('#week').attr("style", "display:none");
                $('#spdate').removeAttr("style");
                htmlstr += "<td><input type=\"text\" name=\"ClassTime[" + (rows - 1) + "].Date\" class=\"datepickers\" value=\"" +
                    date +
                    "\" /></td>";
            }

            htmlstr += "<td><input type=\"text\" name=\"ClassTime[" + (rows - 1) + "].StarTime\" class=\"timepickers\" value=\"" +
                workstrart +
                "\"/> </td><td><input type=\"text\" name=\"ClassTime[" + (rows - 1) + "].EndTime\" class=\"timepickers\" value=\"" +
                workend +
                "\"/> </td>";
            count++;
        
            $('#classlist').append(htmlstr + "</tr>");
            $('#classlist').removeAttr("style");
            $('.timepickers').timepicker({
                timeFormat: 'HH:mm',
                interval: 30,
                minTime: '00',
                maxTime: '23:30pm',
                startTime: '00:00',
                dynamic: false,
                dropdown: true,
                scrollbar: true
            });
            $(".Chosen").chosen();
            $.each($('.datepickers'),
                function(a, b) {
                    $(b).daterangepicker({
                        singleDatePicker: true,
                        showDropdowns: true,
                        autoUpdateInput: false,
                        locale: {
                            format: 'YYYY/MM/DD',
                            daysOfWeek: [
                                "日",
                                "一",
                                "二",
                                "三",
                                "四",
                                "五",
                                "六"
                            ],
                            monthNames: [
                                "一月",
                                "二月",
                                "三月",
                                "四月",
                                "五月",
                                "六月",
                                "七月",
                                "八月",
                                "九月",
                                "十月",
                                "十一月",
                                "十二月"
                            ]
                        }
                    });

                    $(b).on('apply.daterangepicker',
                        function(ev, picker) {
                            $(this).val(picker.startDate.format('YYYY/MM/DD'));
                        });

                    $(b).on('cancel.daterangepicker',
                        function(ev, picker) {
                            $(this).val('');
                        });
                });
            $(".datepickers").attr("autocomplete", "Off");
            $(".datepickers").attr("readonly", "true");
        });


        ////↓為判斷很多東西目前DEMO先不用，先用↑
        @*$('#addtimebtn').click(function () {

            var type = $('#ClassCycle :selected').text();//上課週期
            var day = $('#oneweek :selected').text();//星期幾
            var date = $('#Date').val();//特定日期
            var teacher = $('#TeacherId :selected').val();//老師
            var place = $('#PlaceId :selected').val();//場地
            var provideDormitory = $('#ProvideDormitory :selected').text();//提供宿舍與否
            var dormroom = $('#DormRoom :selected').val();//宿舍
            var workstrart = $('#workstrart').val();//上課時間
            var workend = $('#workend').val();//下課時間
          
            $.ajax({
                url: '@Url.Action("CheckOK", "ClassTeacher")',
                data: { type: type, date: date, day: day, teacher: teacher, place: place, provideDormitory: provideDormitory, dormroom: dormroom, workstrart: workstrart, workend: workend },
                type: 'post',
                cache: false,
                async: false,
                dataType: 'json',
                success: function (data) {
                   
                }
            });


         if ($('#ClassCycle :selected').text() == "每周") {

         } else if ($('#ClassCycle :selected').text() == "每天") {

         } else {

         }
        });*@
    </script>

}
