﻿@using System.Web.UI.WebControls
@using Enrollment.Models
@model Enrollment.Models.Score

@{
    ViewBag.path= "<i class=\"fa fa-home\" aria-hidden=\"true\"></i>首頁 &gt; 二、課程管理系統 &gt; 排課管理作業 &gt; " + ViewBag.Course + "出勤資料 &gt; ";

    ViewBag.Title = "新增評分";
    List<ClassStudents> studentses = ViewBag.students;
    int count = 0;
    int i = 0;
}

<h2>新增評分</h2>

<style>
    .table {
        width: 100%;
        margin-bottom: 1rem;
        color: #212529;
    }

    table {
        border-collapse: collapse;
    }

        table tbody tr td {
            padding: 5px !important;
        }

    .table thead tr th {
        color: white;
    }
</style>
@using (Html.BeginForm())
{

    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @ViewBag.Message
    <fieldset>
        <legend>ClassTeacher</legend>

        @*<div class="row">
                <div class="col-md-4">
                    @Html.LabelFor(model => model.ScoreSubject)
                    @Html.TextBoxFor(model => model.ScoreSubject, new { placeholder = ModelsAttributeHelper<Enrollment.Models.Score>.GetDisplayName("ScoreSubject") })
                    @Html.ValidationMessageFor(model => model.ScoreSubject)
                    <input type="hidden" name="ClassHistoryId" value="@ViewBag.classHistoryId" />
                    <input type="hidden" name="ClassTeacherId" value="@ViewBag.classteacherId" />

                </div>
                <div class="col-md-4">

                </div>
                <div class="col-md-4">

                </div>
            </div>*@
        <input type="button" id="addScore" value="加入新的一筆項目評分" class="btn"/>
        <table class="table table-striped" >
            <thead>
                <tr id="subjecttable">

                    <th scope="col">
                        <div style="text-align: center">姓名</div>
                    </th>
                    <th scope="col">
                        <div style="text-align: center">
                            <input type="text" name="Score[@count].ScoreSubject"  style="width: 9em" placeholder ="項目"/>
                          
                            <input type="hidden" name="Score[@count].ClassHistoryId" value="@ViewBag.classHistoryId" />
                            <input type="hidden" name="ClassTeacherId" value="@ViewBag.classteacherId" />
                        </div>
                    </th>

                </tr>
            </thead>
            <tbody>
                @foreach (var item in studentses.Where(x => x.ClassStatus == ApplyStatus.錄取))
                {
                    count++;
                    <tr id="student@(i)" data-id="@item.StudentId">
                        <td style="text-align:center">
                            @item.Student.Name
                            <input type="hidden" name="Score[@count].StudentId" value="@item.StudentId" />
                        </td>
                        <td style="text-align:center">
                            <input type="text" class="Fraction" style="width:7em" autocomplete="off" name="Score[@count].Fraction" value="" />

                        </td>
                    </tr>
                
                    i++;
                }
            </tbody>
        </table>
        <div class="row" style="text-align: center;margin-top:1em">
            <div class="col-md-12">
                <input type="submit" value="新增" class="btn btn-Create" /> @Html.ActionLink("回到上一頁", "AttendanceList", new { id = ViewBag.classteacherId }, new { @class = "btn btn-primary" }) 
            </div>
        </div>
    </fieldset>
}
<script>
    $(document).ready(function () {
        $(".Fraction").keydown(function (e) {

            if ((e.keyCode == 110||e.keyCode == 190) && this.value == "") {

                e.preventDefault();
            }
            if ((e.keyCode == 110||e.keyCode == 190) && /\./g.test(this.value)) {

                e.preventDefault();
            }
        });

        $('.Fraction').keyup(function () {
            if (/[^0-9\.]/g.test(this.value)) {
                this.value = this.value.replace(/[^0-9\.]/g, '');
            }
        });


        $('#addScore').click(function() {
            var count=  @count;
            count++;
            $('#subjecttable')
                .append(
                    " <th scope=\"col\"><div style=\"text-align: center\"><input type=\"text\" name=\"Score["+count+"].ScoreSubject\" style=\"width: 9em\"  placeholder =\"請輸入項目\"/><input type=\"hidden\" name=\"Score["+count+"].ClassHistoryId\" value=\"@ViewBag.classHistoryId\" /></div></th>");


            for (var i = 0; i < @i; i++) {
                count++;
              var studentid=$('#student' + i).attr('data-id');
              $('#student'+i).append("  <td style=\"text-align:center\"><input type=\"text\" class=\"Fractions\" autocomplete=\"off\" style=\"width:7em\" name=\"Score["+count+"].Fraction\" value=\"\" /><input type=\"hidden\" name=\"Score["+count+"].StudentId\" value=\""+studentid+"\" /></td>");

            }



            $(".Fractions").keydown(function (e) {

                if ((e.keyCode == 110||e.keyCode == 190) && this.value == "") {

                    e.preventDefault();
                }
                if ((e.keyCode == 110||e.keyCode == 190) && /\./g.test(this.value)) {

                    e.preventDefault();
                }
            });

            $('.Fractions').keyup(function () {
                if (/[^0-9\.]/g.test(this.value)) {
                    this.value = this.value.replace(/[^0-9\.]/g, '');
                }
            });
        });
    });

</script>