﻿@using Enrollment.Models

@model List<Attendance>
@{

    int ff = Model.Count;
    string dayofweek = "";
    switch (Model.First().Day)
    {
        case "0":
            dayofweek = "日";
            break;
        case "1":
            dayofweek = "一";
            break;
        case "2":
            dayofweek = "二";
            break;
        case "3":
            dayofweek = "三";
            break;
        case "4":
            dayofweek = "四";
            break;
        case "5":
            dayofweek = "五";
            break;
        case "6":
            dayofweek = "六";
            break;
    }
    ViewBag.path= "<i class=\"fa fa-home\" aria-hidden=\"true\"></i>首頁 &gt; 二、課程管理系統 &gt; 排課管理作業 &gt; "+ Model.First().ClassTeacher.Course.CourseName + "出勤資料 &gt; ";

    ViewBag.Title = Model.First().ClassDate.ToString("yyyy/MM/dd")+"("+dayofweek+")" + Model.First().ClassTeacher.Course.CourseName +"("+ Model.First().StarTime+"~"+Model.First().EndTime + ")  出勤紀錄";
    int i = 0;
}
<style>
    .table {
        width: 100%;
        margin-bottom: 1rem;
        color: #212529;
    }

    table {
        border-collapse: collapse;
    }

        table tbody tr td {
            padding: 5px !important;
        }

    .table thead tr th {
        color: white;
    }
</style>
<h2>@ViewBag.Title</h2>
@using (Html.BeginForm())
{

    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @ViewBag.Message


    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col"><div style="text-align:center">姓名</div></th>
                <th scope="col"><div style="text-align:center">出席狀態</div></th>
                <th scope="col"><div style="text-align:center">是否遲到</div></th>
                <th scope="col"><div style="text-align:center">到課時間</div></th>
                <th scope="col"><div style="text-align:center">是否早退</div></th>
                <th scope="col"><div style="text-align:center">離開時間</div></th>
                <th scope="col"><div style="text-align:center">請假時間</div></th>
                <th scope="col"><div style="text-align:center">備註</div></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.OrderBy(x => x.Id))
            {
                <tr>
                    <td>
                        <div style="text-align:center">
                            @item.Student.Name
                        </div>
                        <input type="hidden" name="attendances[@i].Id" value="@item.Id" />
                        <input type="hidden" name="attendances[@i].ClassTeacherId" value="@item.ClassTeacherId" />
                        <input type="hidden" name="attendances[@i].StudentId" value="@item.StudentId" />
                        <input type="hidden" name="attendances[@i].ClassDate" value="@item.ClassDate" />
                        <input type="hidden" name="attendances[@i].Day" value="@item.Day" />
                        <input type="hidden" name="attendances[@i].StarTime" value="@item.StarTime" />
                        <input type="hidden" name="attendances[@i].EndTime" value="@item.EndTime" />
                        <input type="hidden" name="attendances[@i].InitDate" value="@item.InitDate" />
                        <input type="hidden" name="attendances[@i].Poster" value="@item.Poster" />
                    </td>
                    <td>
                        <div style="text-align:center">@Html.DropDownList("attendances[" + @i + "].AttendStatus", new SelectList(Enum.GetValues(typeof(Enrollment.Models.AttendStatus))), new { style = "width: 4em" })</div>
                    </td>
                    <td>
                        @if (item.IsLate == EnableType.是)
                        {
                            <div style="text-align: center"><input type="checkbox" name="attendances[@i].IsLate" value="@EnableType.是" checked /></div>
                        }
                        else
                        {
                            <div style="text-align: center"><input type="checkbox" name="attendances[@i].IsLate" value="@EnableType.是" /></div>
                        }

                    </td>
                    <td>
                        @if (string.IsNullOrEmpty(item.RealTime))
                        {
                            <div style="text-align: center"><input type="text" name="attendances[@i].RealTime" style="width: 7em" class="timepicker" value="@item.StarTime" /></div>
                        }
                        else
                        {
                            <div style="text-align: center"><input type="text" name="attendances[@i].RealTime" style="width: 7em" class="timepicker" value="@item.RealTime" /></div>
                        }

                    </td>
                    <td>
                        @if (item.IsExcused == EnableType.是)
                        {
                            <div style="text-align: center"><input type="checkbox" name="attendances[@i].IsExcused" value="@EnableType.是" checked /></div>
                        }
                        else
                        {
                            <div style="text-align: center"><input type="checkbox" name="attendances[@i].IsExcused" value="@EnableType.是" /></div>
                        }


                    </td>
                    <td>
                        @if (string.IsNullOrEmpty(item.LeaveTime))
                        {
                            <div style="text-align: center"><input type="text" name="attendances[@i].LeaveTime" style="width: 7em" class="timepicker" value="@item.EndTime" /></div>

                        }
                        else
                        {
                            <div style="text-align: center"><input type="text" name="attendances[@i].LeaveTime" style="width: 7em" class="timepicker" value="@item.LeaveTime" /></div>
                        }
                    </td>
                    <td>
                        @if (!string.IsNullOrEmpty(item.AskForLeaveStartTime))
                        {
                            <div style="text-align:center">
                                <input type="text" name="attendances[@i].AskForLeaveStartTime" class="timepicker" readonly style="width: 7em" value="@item.AskForLeaveStartTime" /><span>~</span>
                                @if (!string.IsNullOrEmpty(item.AskForLeaveEndTime))
                                {

                                    <input type="text" name="attendances[@i].AskForLeaveEndTime" class="timepicker" readonly style="width: 7em" value="@item.AskForLeaveEndTime" />
                                }
                                else
                                {
                                    <input type="text" name="attendances[@i].AskForLeaveEndTime" class="timepicker" readonly style="width:7em" value="" />
                                }
                            </div>
                        }
                        else
                        {
                            <div style="text-align:center">
                                <input type="text" name="attendances[@i].AskForLeaveStartTime" class="timepicker" readonly style="width: 7em" value="" /><span>~</span>
                                @if (!string.IsNullOrEmpty(item.AskForLeaveEndTime))
                                {

                                    <input type="text" name="attendances[@i].AskForLeaveEndTime" class="timepicker" readonly style="width: 7em" value="@item.AskForLeaveEndTime" />
                                }
                                else
                                {
                                    <input type="text" name="attendances[@i].AskForLeaveEndTime" class="timepicker" readonly style="width:7em" value="" />
                                }
                            </div>
                        }


                    </td>
                    <td>
                        <div style="text-align:center"> <textarea name="attendances[@i].Memo" style="width: 200px; height: 85px;letter-spacing:2px">@item.Memo</textarea>  </div>
                    </td>
                </tr>

                i++;
            }

        </tbody>
    </table>






    <div class="row" style="text-align: center;margin-top:1em">
        <div class="col-md-12">
            <input type="submit" value="更新" class="btn btn-Edit" /> <input type="button" onclick="history.back()" value="回到上一頁" class="btn btn-primary" />
        </div>
    </div>









}
<script>
    $(document).ready(function () {

        $('.timepicker').timepicker({
            timeFormat: 'HH:mm',
            interval: 1,
            minTime: '07',
            maxTime: '23:30pm',
            startTime: '07:00',
            dynamic: false,
            dropdown: true,
            scrollbar: true
        });

    });

</script>