﻿@using Enrollment.Models
@model Enrollment.Models.ClassHistory

@{
    ViewBag.path= "<i class=\"fa fa-home\" aria-hidden=\"true\"></i>首頁 &gt; 二、課程管理系統 &gt; 排課管理作業 &gt; "+ Model.ClassTeacher.Course.CourseName + "出勤資料 &gt; ";

    ViewBag.Title = Model.ClassDate.ToString("yyyy/MM/dd") + "  " + Model.ClassTeacher.Course.CourseName + "  課程記錄";
}

<h2>@ViewBag.Title</h2>
@using (Html.BeginForm())
{

    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @ViewBag.Message

    <fieldset>
        <legend>ClassHistory</legend>

        <div class="row">
            <div class="col-md-4">
                @Html.LabelFor(model => model.ClassStartTimes, new { style = "padding-left: 20px;" })
                @if (string.IsNullOrEmpty(Model.ClassStartTimes))
                {
                    <input class="timepicker" data-val="true" data-val-length="欄位 實際上課時間 必須是最大長度為 5 的字串。" data-val-length-max="5" id="ClassStartTimes" name="ClassStartTimes" type="text" value="@Model.StarTime">
                }
                else
                {
                    <input class="timepicker" data-val="true" data-val-length="欄位 實際上課時間 必須是最大長度為 5 的字串。" data-val-length-max="5" id="ClassStartTimes" name="ClassStartTimes" type="text" value="@Model.ClassStartTimes">
                }
            </div>

            <div class="col-md-4">
                @Html.LabelFor(model => model.ClassEndTimes)
                @if (string.IsNullOrEmpty(Model.ClassEndTimes))
                {
                    <input class="timepicker" data-val="true" data-val-length="欄位 實際上課時間 必須是最大長度為 5 的字串。" data-val-length-max="5" id="ClassEndTimes" name="ClassEndTimes" type="text" value="@Model.EndTime">
                }
                else
                {
                    <input class="timepicker" data-val="true" data-val-length="欄位 實際上課時間 必須是最大長度為 5 的字串。" data-val-length-max="5" id="ClassEndTimes" name="ClassEndTimes" type="text" value="@Model.ClassEndTimes">
                }
            </div>
            <div class="col-md-4">
           
                @Html.HiddenFor(model => model.Id)
                @Html.HiddenFor(model => model.ClassTeacherId)
                <input type="hidden" name="ClassDate" value="@Model.ClassDate.Date.ToString("yyyy/MM/dd")" />
              
                @Html.HiddenFor(model => model.Day)
                @Html.HiddenFor(model => model.StarTime)
                @Html.HiddenFor(model => model.EndTime)
                <input type="hidden" name="InitDate" value="@Model.InitDate.Value.ToString("yyyy/MM/dd HH:mm")" />
               
                @Html.HiddenFor(model => model.Poster)
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="editor-label">
                    @Html.LabelFor(model => model.CourseContent)
                </div>
                <div class="editor-field">
                    @Html.TextAreaFor(model => model.CourseContent, new { @style = "height: 200px", placeholder = ModelsAttributeHelper<Enrollment.Models.ClassHistory>.GetDisplayName("CourseContent") })
                </div>
            </div>

            <div class="col-md-6">
                <div class="editor-label">
                    @Html.LabelFor(model => model.Memo)
                </div>
                <div class="editor-field">
                    @Html.TextAreaFor(model => model.Memo, new { @style = "height: 200px", placeholder = ModelsAttributeHelper<Enrollment.Models.ClassHistory>.GetDisplayName("Memo") })
                </div>
            </div>

        </div>


        <div class="row" style="text-align: center;margin-top:1em">
            <div class="col-md-12">
                
                <input type="submit" value="更新" class="btn btn-Edit" /> <input type="button" onclick="history.back()" value="回到上一頁" class="btn btn-primary" />

            </div>
        </div>


    </fieldset>
}
<script>
    $(document).ready(function () {
        $('.timepicker').timepicker({
            timeFormat: 'HH:mm',
            interval: 1,
            minTime: '07:00',
            maxTime: '23:30pm',
            dynamic: false,
            dropdown: true,
            scrollbar: true
        });
    });

</script>