﻿@using Enrollment.Models
@model List<Score>
@{
    ViewBag.path= "<i class=\"fa fa-home\" aria-hidden=\"true\"></i>首頁 &gt; 二、課程管理系統 &gt; 排課管理作業 &gt; "+ Model.First().ClassHistory.ClassTeacher.Course.CourseName + "出勤資料 &gt; ";

    ViewBag.Title = "編輯"+ Model.First().ClassHistory.ClassDate.ToString("yyyy/MM/dd")+""+ Model.First().ClassHistory.ClassTeacher.Course.CourseName+"評分表";
    List<Student>students = ViewBag.students;
    int count = 0;
    int i = 0;
    int ClassHistoryId = Model.First().ClassHistoryId.Value;
}

<h2>編輯 @Model.First().ClassHistory.ClassDate.ToString("yyyy/MM/dd") @Model.First().ClassHistory.ClassTeacher.Course.CourseName 評分表</h2>
<style>
    .table {
        width: 100%;
        margin-bottom: 1rem;
        color: #212529;
    }

    table {
        border-collapse: collapse;
    }

    table tbody tr td {
        padding: 5px !important;
    }

    .table thead tr th {
        color: white;
    }
</style>


@using (Html.BeginForm())
{

    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @ViewBag.Message
    <fieldset>
        <legend>ClassTeacher</legend>

      
        <input type="button" id="addScore" value="加入新的一筆項目評分" class="btn" />
        <table class="table table-striped">
            <thead>
            <tr id="subjecttable">

                <th scope="col">
                    <div style="text-align: center">姓名</div>
                        
                    <input type="hidden" name="ClassTeacherId" value="@ViewBag.ClassTeacherId"/>
                </th>
                @foreach (var item in Model)
                {
                    <th scope="col">
                        <div style="text-align: center">
                              
                            <input type="text" name="Score[@count].ScoreSubject" style="width: 9em" placeholder="項目" value="@item.ScoreSubject"/>
                            <input type="hidden" name="Score[@count].Id" value="@item.Id"/>
                            <input type="hidden" name="Score[@count].ClassHistoryId" value="@item.ClassHistoryId"/>
                            <input type="hidden" name="Score[@count].Poster" value="@item.Poster"/>
                            <input type="hidden" name="Score[@count].InitDate" value="@item.InitDate.Value.ToString("yyyy/MM/dd HH:mm")"/>
                        </div>
                    </th>
                    count++;
                }
                  

            </tr>
            </thead>
            <tbody>

            @foreach (var item in students.OrderBy(x=>x.Scores.First().Id))
            {
                <tr id="student@(i)" data-id="@item.Id">
                    <td style="text-align: center">
                        @item.Name

                    </td>
                    @foreach (var items in item.Scores.Where(x => x.ParentScoreId.ClassHistoryId == ClassHistoryId))
                    {


                        <td style="text-align: center">
                            <input type="text" class="Fraction" style="width: 7em" name="Score[@count].Fraction" autocomplete="off" value="@items.Fraction"/>
                            <input type="hidden" name="Score[@count].Id" value="@items.Id" />
                            <input type="hidden" name="Score[@count].ScoreId" value="@items.ScoreId" />
                            <input type="hidden" name="Score[@count].StudentId" value="@items.StudentId" />
                            <input type="hidden" name="Score[@count].Poster" value="@item.Poster"/>
                            <input type="hidden" name="Score[@count].InitDate" value="@item.InitDate.Value.ToString("yyyy/MM/dd HH:mm")"/>
                        </td>

                        count++;
                      
                    }
                   
                </tr>
                i++;
            }
      
            </tbody>
        </table>
        <div class="row" style="text-align: center;margin-top:1em">
            <div class="col-md-12">
                <input type="submit" value="更新" class="btn btn-Edit" /> @Html.ActionLink("回到上一頁", "AttendanceList", new {id= Model.First().ClassHistory.ClassTeacherId },new {@class="btn btn-primary"}) 
            </div>
        </div>
    </fieldset>


 


}
<script>
    $(document).ready(function () {
        $(".Fraction").keydown(function (e) {

            if ((e.keyCode == 110||e.keyCode == 190) && this.value == "") {

                e.preventDefault();
            }
            if ((e.keyCode == 110||e.keyCode == 190) && /\./g.test(this.value)) {

                e.preventDefault();
            }
        });

        $('.Fraction').keyup(function () {
            if (/[^0-9\.]/g.test(this.value)) {
                this.value = this.value.replace(/[^0-9\.]/g, '');
            }
        });

        var count= 0;
        $('#addScore').click(function() {


            $('#subjecttable')
                .append(
                    " <th scope=\"col\"><div style=\"text-align: center\"><input type=\"text\" name=\"AddScore["+count+"].ScoreSubject\" style=\"width: 9em\" placeholder =\"請輸入項目\"/><input type=\"hidden\" name=\"AddScore["+count+"].ClassHistoryId\" value=\"@ClassHistoryId\" /></div></th>");
            count++;

            for (var i = 0; i < @i; i++) {

                var studentid=$('#student' + i).attr('data-id');
                $('#student'+i).append("  <td style=\"text-align:center\"><input type=\"text\" class=\"Fractions\" autocomplete=\"off\" style=\"width:7em\" name=\"AddScore["+count+"].Fraction\" value=\"\" /><input type=\"hidden\" name=\"AddScore["+count+"].StudentId\" value=\""+studentid+"\" /></td>");
                count++;
            }



            $(".Fractions").keydown(function (e) {

                if ((e.keyCode == 110||e.keyCode == 190) && this.value == "") {

                    e.preventDefault();
                }
                if ((e.keyCode == 110||e.keyCode == 190) && /\./g.test(this.value)) {

                    e.preventDefault();
                }
            });

            $('.Fractions').keyup(function () {
                if (/[^0-9\.]/g.test(this.value)) {
                    this.value = this.value.replace(/[^0-9\.]/g, '');
                }
            });
        });
    });

</script>