﻿
@using Enrollment.Models
@using MvcPaging
@model MvcPaging.IPagedList<Enrollment.Models.ClassTeacher>

@{
    ViewBag.path= "<i class=\"fa fa-home\" aria-hidden=\"true\"></i>首頁 &gt; 二、課程管理系統 &gt; ";

    ViewBag.Title = "排課管理作業";
}

<h2>排課列表</h2>

<p>
    @Html.ActionLink("新增", "Create")
</p>

@using (Html.BeginForm())
{
    <div>
        @Html.DisplayNameFor(model => model.FirstOrDefault().CourseId)：@Html.DropDownList("SearchByCourseId", (IEnumerable<SelectListItem>)ViewBag.CourseId, "請選擇")
        @Html.DisplayNameFor(model => model.FirstOrDefault().TeacherId)：@Html.DropDownList("SearchByTeacherId", (IEnumerable<SelectListItem>)ViewBag.TeacherId, "請選擇")
        @Html.DisplayNameFor(model => model.FirstOrDefault().PlaceId)：@Html.DropDownList("SearchByPlaceId", (IEnumerable<SelectListItem>)ViewBag.PlaceId, "請選擇")

    </div>
    <div>
        @Html.DisplayNameFor(model => model.FirstOrDefault().ProvideDormitory)：@Html.DropDownList("SearchByProvideDormitory", new SelectList(Enum.GetValues(typeof(Enrollment.Models.EnableType))), "請選擇")
        @Html.DisplayNameFor(model => model.FirstOrDefault().ClassCycle)：@Html.DropDownList("SearchByClassCycle", new SelectList(Enum.GetValues(typeof(Enrollment.Models.ClassCycle))), "請選擇")
        <input type="submit" class="btn btn-Search" value="搜尋" />
    </div>



}

<table class="table">
    <tr>
        <th style="width: 15%">
            @Html.DisplayNameFor(model => model.FirstOrDefault().Course.CourseName)
        </th>
        <th style="width: 10%">
            講師
        </th>
        <th style="width: 10%">
            場地
        </th>
        <th style="width: 10%">
            開課人數
        </th>

        <th style="width: 10%">
            宿舍
        </th>


        <th style="width: 10%">
            時間
        </th>
        <th style="width: 25%">
            公告及上課期間
        </th>



        <th style="width: 10%"></th>
    </tr>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    
                    @Html.DisplayFor(modelItem => item.Course.CourseName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Teacher.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Place.PlaceName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MinStudents)~@Html.DisplayFor(modelItem => item.MaxStudents)

                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.ProvideDormitory)
                </td>

                @{
                    string timestr = "";
                    foreach (var items in item.ClassTimes.Where(x => x.ClassTeacher.ClassCycle == item.ClassCycle).OrderBy(x=>x.Day).ThenBy(x=>x.StarTime))
                    {
                        if (item.ClassCycle == ClassCycle.平日每天)
                        {
                            timestr += items.StarTime + "~" + items.EndTime;
                        }
                        else if (item.ClassCycle == ClassCycle.每週)
                        {
                            string day = "";
                            switch (items.Day)
                            {
                                case "0":
                                    day = "日";
                                    break;
                                case "1":
                                    day = "一";
                                    break;
                                case "2":
                                    day = "二";
                                    break;
                                case "3":
                                    day = "三";
                                    break;
                                case "4":
                                    day = "四";
                                    break;
                                case "5":
                                    day = "五";
                                    break;
                                case "6":
                                    day = "六";
                                    break;

                            }
                            timestr += day + ":" + items.StarTime + "~" + items.EndTime + "\r\n";
                        }
                        else
                        {
                            timestr += items.Date.Value.ToString("yyyy/MM/dd") + ":" + items.StarTime + "~" + items.EndTime + "\r\n";
                        }
                    }
                }
                <td>
                    @Html.DisplayFor(modelItem => item.ClassCycle)
                    <div> @timestr</div>
                </td>
                <td>
                    公告:@item.AnnouncementStarDateTime.ToString("yyyy/MM/dd")~@item.AnnouncementEndDateTime.ToString("yyyy/MM/dd")
                    <br />
                    上課:@item.StarDateTime.ToString("yyyy/MM/dd")~@item.EndDateTime.ToString("yyyy/MM/dd")
                </td>

                <td>
                    @Html.ActionLink("名單" + item.ClassStudentses.Count + "/" + item.MaxStudents, "List", "Apply", new { id = item.Id }, new { style = "width:7em;", @class = "btn btn-List", target = "_blank" })
                    @if (item.ClassStatus == ClassStatus.已額滿||item.ClassStatus==ClassStatus.已達最低開課人數)
                    {   <input type="button" class="open btn btn-Open" style="width:7em" value="確定開課" data-id="@item.Id" />
                  
                    }
                 
                    @if (item.ClassStatus != ClassStatus.確定開課)
                    {   
                        @Html.ActionLink("編輯", "Edit", new { id = item.Id }, new { style = "width:7em", @class = "btn btn-Edit" })
                    }
                    @if (item.ClassStudentses.Count == 0)
                    {

                        @Html.ActionLink("刪除", "Delete", new { id = item.Id }, new { style = "width:7em", @class = "btn btn-Delete" })
                    }
                    @if (item.ClassStatus == ClassStatus.確定開課)
                    {
                        @Html.ActionLink("出勤資料", "AttendanceList", new { id = item.Id }, new { style = "width:7em", @class = "btn btn-AttendanceList" })
                    }
                    @Html.Hidden("ID", item.Id)
                </td>
            </tr>
                    }
    </tbody>
</table>

<div class="pager">
    @Html.Pager(Model.PageSize, Model.PageNumber, Model.TotalItemCount)
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/themes/base/css")
    <script>
        $(document).ready(function () {
            $(".datepicker").datepicker();
            $("select").chosen();
        });
        $('.open').click(function () {
            var msg = "您確定要開課嗎?\r\n一旦確定則無法再更動課程的任何資料";
            var id = $(this).attr("data-id");
            if (confirm(msg) == true) {

                $.ajax({
                    url: '@Url.Action("OpenClass", "ClassTeacher")',
                    data: { id: id },
                    type: 'post',
                    cache: false,
                    async: false,
                    dataType: 'json',
                    success: function (data) {
                        location.reload();
                    }
                });
            } else {
                return false;
            }

        });
    </script>
}

