﻿@model Enrollment.Models.Member

@{
    ViewBag.Title = "Delete";
}

<h2 class="page-title"><i class="fa fa-pencil-square-o"></i>刪除</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Member</legend>
    
    <input type="hidden" name="actionName" value="@ViewBag.actionName" />
   <table class="table table-h">
    <tr>
        <th width="120">
         @Html.DisplayNameFor(model => model.Account)
            
        </th>
        <td>
        @Html.DisplayFor(model => model.Account)
            
        </td>
    </tr>
    <tr>
        <th>
         @Html.DisplayNameFor(model => model.Password)
            
        </th>
        <td>
        @Html.DisplayFor(model => model.Password)
            
        </td>
    </tr>
    <tr>
        <th>
         @Html.DisplayNameFor(model => model.Name)
            
        </th>
        <td>
        @Html.DisplayFor(model => model.Name)
            
        </td>
    </tr>
    <tr>
        <th>
         @Html.DisplayNameFor(model => model.Email)
            
        </th>
        <td>
        @Html.DisplayFor(model => model.Email)
            
        </td>
    </tr>
    <tr>
        <th>
         @Html.DisplayNameFor(model => model.JobTitle)
            
        </th>
        <td>
        @Html.DisplayFor(model => model.JobTitle)
            
        </td>
    </tr>
    <tr>
        <th>
         @Html.DisplayNameFor(model => model.MyUnit)
            
        </th>
        <td>
        @Html.DisplayFor(model => model.MyUnit.Subject)
            
        </td>
    </tr>
    <tr>
        <th>
         @Html.DisplayNameFor(model => model.Poster)
            
        </th>
        <td>
        @Html.DisplayFor(model => model.Poster)
            
        </td>
    </tr>
    <tr>
        <th>
         @Html.DisplayNameFor(model => model.UpdateID)
            
        </th>
        <td>
        @Html.DisplayFor(model => model.UpdateID)
            
        </td>
    </tr>
    <tr>
        <th>
         @Html.DisplayNameFor(model => model.InitDate)
            
        </th>
        <td>
        @Html.DisplayFor(model => model.InitDate)
            
        </td>
    </tr>
   
    
</table>
</fieldset>

@using (Html.BeginForm()) {
<p>
     <input type="submit" value="刪除" class="btn btn-Delete" />

       
        @Html.ActionLink("回列表", "Index")
    </p>
}
