﻿@using System.Collections

@using Enrollment.Models
@model Enrollment.Models.Member

@{
    ViewBag.Title = "Edit";
}

<h2 class="page-title"><i class="fa fa-pencil-square-o"></i>帳號管理</h2>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Member</legend>

        @Html.HiddenFor(model => model.Id)
        <input type="hidden" name="actionName" value="@ViewBag.actionName" />

        <table class="table table-h">
    <tr>
        <th width="120">
            @Html.LabelFor(model => model.Account)
            
        </th>
        <td>
             @Html.DisplayFor(model => model.Account)
            @Html.HiddenFor(model => model.Account)

        </td>
    </tr>
    <tr>
        <th>
            @Html.LabelFor(model => model.Password)
            
        </th>
        <td>
           @Html.Password("NewPassword")
            <input type="hidden" id="hash" name="hash" value="@(Model.Password)" >
            @Html.HiddenFor(model=>model.PasswordSalt)  
        </td>
    </tr>
    <tr>
        <th>
            @Html.LabelFor(model => model.Name)
            
        </th>
        <td>
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </td>
    </tr>
            <tr>
                <th>
                    @Html.LabelFor(model => model.IDNum)
            
                </th>
                <td>
                    @Html.EditorFor(model => model.IDNum)
                    @Html.ValidationMessageFor(model => model.IDNum)
                </td>
            </tr>

    <tr>
        <th>
            @Html.LabelFor(model => model.Gender)
            
        </th>
        <td>
              @Html.DropDownListFor(model => model.Gender, new SelectList(Enum.GetValues(typeof(GenderType))))
            @Html.ValidationMessageFor(model => model.Gender)
        </td>
    </tr>
  
    <tr style="display: none">
        <th>
            @Html.LabelFor(model => model.Mobile)
            
        </th>
        <td>
             @Html.EditorFor(model => model.Mobile)
            @Html.ValidationMessageFor(model => model.Mobile)
        </td>
    </tr>
  
    <tr>
        <th>
            @Html.LabelFor(model => model.Email)
            
        </th>
        <td>
            @Html.EditorFor(model => model.Email)
            @Html.ValidationMessageFor(model => model.Email)
        </td>
    </tr>
            <tr>
                <th>
                    @Html.LabelFor(model => model.JobTitle)

                </th>
                <td>
                    @Html.EditorFor(model => model.JobTitle)
                    @Html.ValidationMessageFor(model => model.JobTitle)
                </td>
            </tr>
              <tr>
     
    </tr>
  <tr style="display: none">
      <th>
            @Html.LabelFor(model => model.MyUnit)
          
      </th>
      <td>
           @Html.DropDownListFor(model => model.UnitId, new SelectList(ViewBag.Units as IEnumerable, "Id", "Subject"))
            @Html.ValidationMessageFor(model => model.UnitId)
      </td>
  </tr>
<tr>
    <th>@Html.LabelFor(model => model.Memo)</th>
    <td> @Html.TextAreaFor(model => model.Memo, new { @style = "height: 150px" })
            @Html.ValidationMessageFor(model => model.Memo)</td>
</tr>
</table>

        @{
           
    if (!string.IsNullOrEmpty( Model.MyPic))
    {
            <div class="editor-label">
                @Html.LabelFor(model => model.MyPic)
            </div>
            <div class="editor-field">
                <img src="~/upfiles/@Model.MyPic" width="100px"/>
            </div>
    }
        }


        <div class="editor-label">
        </div>
        <div class="editor-field">
            
        </div>

        <div class="editor-label">
        </div>
        <div class="editor-field">
           
        </div>
        
        <div class="editor-label">
            
        </div>
        <div class="editor-field">
           
        </div>

        <div class="editor-field" style="display: none">
            @Html.LabelFor(model => model.Permission)
            <div id="tree3"></div>
            @Html.HiddenFor(model => model.Permission)
        </div>
        @Html.HiddenFor(model => model.InitDate)
        @Html.HiddenFor(model => model.Poster)
        @Html.HiddenFor(model => model.MyPic)
        <div align="center">
            <input type="submit" value="更新" /> <input type="button" onclick="history.back()" value="回到上一頁" />
        </div>
    </fieldset>

}







@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/jquery-ui.custom.js" type="text/javascript"></script>


    <link href="~/Content/themes/base/skin/ui.dynatree.css" rel="stylesheet" type="text/css" id="skinSheet">
    <script src="~/Scripts/jquery.dynatree.js" type="text/javascript"></script>
    <script src="~/Member/TreeScript/@Model.Id" type="text/javascript"></script>

}
