﻿@model Enrollment.Models.MemberLogin

@{
    ViewBag.Title = "Login";
}

<h2 style="text-align: center;">系統登入</h2>
@if (Session["PermissionError"] != null) { 
    <div style="color: red;text-align: center;">@Session["PermissionError"]</div>
}
@{
    Session["PermissionError"] = null;
}
<style>
    #content.open {
        margin-left: 0;
    }
    #sidebar {
        display: none!important;
    }
    #content {
        margin-left: 0;
    }
    .hamburger-menu {
        display: none;
    }
    fieldset {
        width: 320px;
        margin: 0 auto;
    }
    fieldset table {
        width: 100%;
    }
    #loginForm input[type=text],
    #loginForm input[type=password] {
        box-sizing: border-box;
        width: 100%;
    }
    .field-validation-error {
        display: block;
        padding: 5px;
    }

    fieldset td {
        padding-right: 0;
    }
</style>
<section id="loginForm">
@using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl })) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>系統登入</legend>
        <legend>系統登入</legend>
        <div>@Html.LabelFor(m => m.UserName)</div>
        <div>
            @*@Html.TextBoxFor(m => m.UserName)*@
            <input data-val="true" data-val-required="使用者名稱 欄位是必要項。" id="UserName" name="UserName" type="text" value="admin">
        </div>
        <div>@Html.ValidationMessageFor(m => m.UserName)</div>
                  
        <div>@Html.LabelFor(m => m.Password)</div>
        <div>
            @*@Html.PasswordFor(m => m.Password)*@
            <input data-val="true" data-val-required="密碼 欄位是必要項。" id="Password" name="Password" type="password" value="1234">
            </div>
        <div>@Html.ValidationMessageFor(m => m.Password)</div>
                  
        <input type="hidden" value="@Request["ReturnUrl"]" name="ReturnUrl"/>
        
        <div align="center">
            <div style="color:red;">@ViewBag.message</div>
            <input type="submit" value="登入" />
        </div>
           
       　　　　　　　
    </fieldset>
}
</section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
