﻿@using Enrollment.Models
@model Enrollment.Models.License
@{
    ViewBag.Title = "CreateLicense";
    Layout = "~/Views/Shared/_Layout2.cshtml";

}

@using (Html.BeginForm(null, null, FormMethod.Post, new { enctype = "multipart/form-data", id = "create" }))
{

    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @ViewBag.Message
    <fieldset>
        <legend>Student</legend>
        <div class="row">
            <div class="col-md-4">
                @Html.LabelFor(model => model.LicenseId)
                @Html.TextBoxFor(model => model.LicenseId, new { placeholder = ModelsAttributeHelper<Enrollment.Models.License>.GetDisplayName("LicenseId") })<span id="acountmessage"></span>
                @Html.ValidationMessageFor(model => model.LicenseId)<span>@ViewBag.Message</span>
            </div>
            <div class="col-md-4">
                @Html.LabelFor(model => model.ChineseName)
                @Html.TextBoxFor(model => model.ChineseName, new {  placeholder = ModelsAttributeHelper<Enrollment.Models.License>.GetDisplayName("ChineseName") })

                @Html.ValidationMessageFor(model => model.ChineseName)
            </div>
            <div class="col-md-4">
                @Html.LabelFor(model => model.EnglishName)
                @Html.TextBoxFor(model => model.EnglishName, new { placeholder = ModelsAttributeHelper<Enrollment.Models.License>.GetDisplayName("EnglishName") })
                @Html.ValidationMessageFor(model => model.EnglishName)
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                @Html.LabelFor(model => model.LicenseCategory)
                @Html.TextBoxFor(model => model.LicenseCategory, new { placeholder = ModelsAttributeHelper<Enrollment.Models.License>.GetDisplayName("LicenseCategory") })
                @Html.ValidationMessageFor(model => model.LicenseCategory)
            </div>
           
            <div class="col-md-4">
                @Html.LabelFor(model => model.LicenseUnit)
                @Html.TextBoxFor(model => model.LicenseUnit, new { placeholder = ModelsAttributeHelper<Enrollment.Models.License>.GetDisplayName("LicenseUnit") })
                @Html.ValidationMessageFor(model => model.LicenseUnit)
            </div>
            <div class="col-md-4">
                @Html.LabelFor(model => model.IssueDate)
                @Html.TextBoxFor(model => model.IssueDate, "{0:d}", new { @class = "datepicker", target = "", autocomplete = "Off", @readonly = "true" })
                @Html.ValidationMessageFor(model => model.IssueDate)

            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                @Html.LabelFor(model => model.EffectiveDate)
                @Html.TextBoxFor(model => model.EffectiveDate, "{0:d}", new { @class = "datepicker", target = "", autocomplete = "Off", @readonly = "true" })
                @Html.ValidationMessageFor(model => model.EffectiveDate)
            </div>
            <div class="col-md-8">
             
            </div>
        </div>
      




        <div class="row" style="text-align: center;margin-top:1em">
            <div class="col-md-12">
                <input type="button" value="新增" id="CreateStudent" class="btn btn-Create" /> <input type="button" onclick="history.back()" value="回到上一頁" class="btn btn-primary" />

            </div>
        </div>
    </fieldset>
}