﻿@using Enrollment.Models
@model Enrollment.Models.Student

@{
    ViewBag.path= "<i class=\"fa fa-home\" aria-hidden=\"true\"></i>首頁 &gt; 一、培訓作業管理 &gt; 學員資料維護 &gt; ";

    ViewBag.Title = "新增學員";
}

<h2>新增</h2>

@using (Html.BeginForm(null, null, FormMethod.Post, new { enctype = "multipart/form-data", id = "create" }))
{

    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @ViewBag.Message
    <fieldset>
        <legend>Student</legend>
          <div class="row">
            <div class="col-md-4">
                @Html.LabelFor(model => model.Account)
                @Html.TextBoxFor(model => model.Account, new { placeholder = ModelsAttributeHelper<Enrollment.Models.Student>.GetDisplayName("Account") })<span id="acountmessage"></span>
                @Html.ValidationMessageFor(model => model.Account)<span>@ViewBag.Message</span>
            </div>
            <div class="col-md-4">
                @Html.LabelFor(model => model.Password)
                @Html.TextBoxFor(model => model.Password, new { type = "password", placeholder = ModelsAttributeHelper<Enrollment.Models.Student>.GetDisplayName("Password") })

                @Html.ValidationMessageFor(model => model.Password)
            </div>
            <div class="col-md-4">
                @Html.LabelFor(model => model.Name)
                @Html.TextBoxFor(model => model.Name, new { placeholder = ModelsAttributeHelper<Enrollment.Models.Student>.GetDisplayName("Name") })
                @Html.ValidationMessageFor(model => model.Name)
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                @Html.LabelFor(model => model.IDNum)
                @Html.TextBoxFor(model => model.IDNum, new { placeholder = ModelsAttributeHelper<Enrollment.Models.Student>.GetDisplayName("IDNum") })
                @Html.ValidationMessageFor(model => model.IDNum)
            </div>
            <div class="col-md-4">
                @Html.LabelFor(model => model.Birthday)
                @Html.TextBoxFor(model => model.Birthday, "{0:d}", new { @class = "datepicker", target = "" ,autocomplete="Off",@readonly="true"})
                @Html.ValidationMessageFor(model => model.Birthday)

            </div>
            <div class="col-md-4">
                @Html.LabelFor(model => model.Gender)
                @Html.DropDownListFor(model => model.Gender, new SelectList(Enum.GetValues(typeof(Enrollment.Models.GenderType))))
                @Html.ValidationMessageFor(model => model.Gender)
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                @Html.LabelFor(model => model.Email)
                @Html.TextBoxFor(model => model.Email, new {style="width:80%", placeholder = ModelsAttributeHelper<Enrollment.Models.Student>.GetDisplayName("Email") })
                @Html.ValidationMessageFor(model => model.Email)
            </div>
            <div class="col-md-8">
                @Html.LabelFor(model => model.Address)
                @Html.TextBoxFor(model => model.Address, new { style = "width:80%", placeholder = ModelsAttributeHelper<Enrollment.Models.Student>.GetDisplayName("Address") })
                @Html.ValidationMessageFor(model => model.Address)
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                @Html.LabelFor(model => model.WINDAID)
                @Html.TextBoxFor(model => model.WINDAID, new { placeholder = ModelsAttributeHelper<Enrollment.Models.Student>.GetDisplayName("WINDAID") })
                @Html.ValidationMessageFor(model => model.WINDAID)

            </div>
            <div class="col-md-6">
                @Html.LabelFor(model => model.FileUrl)
                <input type="file" name="FileUpload" />
            </div>
            <div class="col-md-2">
  
            </div>
        </div>
   

       
        @*<div class="editor-field">
                <input type="file" name="upfiles" />
                <input type="file" name="upfiles" multiple="multiple" />
                <input type="hidden" name="File" value="@item.File" />
            </div>*@
        @*<div class="editor-field">
                @Html.TextBoxFor(model => model.FileUrl,new { placeholder=ModelsAttributeHelper<Enrollment.Models.Student>.GetDisplayName("FileUrl") })
                @Html.ValidationMessageFor(model => model.FileUrl)


            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.UpdateID)

            </div>
            <div class="editor-field">
                @Html.TextBoxFor(model => model.UpdateID,new { placeholder=ModelsAttributeHelper<Enrollment.Models.Student>.GetDisplayName("UpdateID") })
                @Html.ValidationMessageFor(model => model.UpdateID)


            </div>*@
        
        <div class="row" style="text-align: center">
            <div class="col-md-12">
                <h4>新增證照<input type="button" value="加入證照資訊" class="btn btn-Delete" id="addlicense" style="margin: 1em" /><span style="font-size: 14px;color:red">一旦勾選取消則會刪除此筆資料</span>
                </h4>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                @Html.LabelFor(model => model.Licenses.First().LicenseId)
                <input id="LicenseId" name="LicenseId" placeholder="證照編號" type="text" value="">
            </div>


            <div class="col-md-4">
                @Html.LabelFor(model => model.Licenses.First().ChineseName)
                <input id="ChineseName" name="ChineseName" placeholder="證照中文名稱" type="text" value="">
            </div>

            <div class="col-md-4">
                @Html.LabelFor(model => model.Licenses.First().EnglishName)
                <input id="EnglishName" name="EnglishName" placeholder="證照英文名稱" type="text" value="">
            </div>




        </div>
        <div class="row">
            <div class="col-md-4">
                @Html.LabelFor(model => model.Licenses.First().LicenseCategory)
                <input id="LicenseCategory" name="LicenseCategory" placeholder="類別" type="text" value="" class="valid">
            </div>


            <div class="col-md-4">
                @Html.LabelFor(model => model.Licenses.First().LicenseUnit)
                <input id="LicenseUnit" name="LicenseUnit" placeholder="發證單位" type="text" value="">
            </div>

            <div class="col-md-4">

            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                @Html.LabelFor(model => model.Licenses.First().IssueDate)
                <input id="IssueDate" name="IssueDate" class = "datepicker" autocomplete = "Off"  readonly = "true">

            </div>
            <div class="col-md-4">
                @Html.LabelFor(model => model.Licenses.First().EffectiveDate)
                <input id="EffectiveDate" name="EffectiveDate" class="datepicker" autocomplete="Off" readonly="true">
            </div>
            <div class="col-md-4">
            </div>
        </div>
        
        <table class="table" id="Licenseslist" style="display: none">
            <tbody>
                <tr>
                    <th>取消</th>
                    <th>證照編號</th>
                    <th>中文名稱</th>
                    <th>英文名稱</th>
                    <th>類別</th>
                    <th>發證單位</th>
                    <th>發照日期</th>
                    <th>有效日期</th>
                </tr>
            </tbody>

        </table>
        
        
        

        

        <div class="row" style="text-align: center;margin-top:1em">
            <div class="col-md-12">
                <input type="button" value="新增" id="CreateStudent"  class="btn btn-Create" /> <input type="button" onclick="history.back()" value="回到上一頁" class="btn btn-primary"/>

            </div>
        </div>
        <p>
          
            @*<input type="submit" value="新增" />*@

        </p>


    </fieldset>
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/themes/base/css")
    <script>
        $("#Account").blur(function() {
            if ($("#Account").val() == "") {
                $('#acountmessage').text("");
                return;
            }
            $.get("CheckAccount", { userName: $("#Account").val() }).done(function(data) {
                if (data === "這個帳號已使用!") {
                    $('#acountmessage').text('\u2716' + "此帳號已有人使用");
                    $('#acountmessage').css("color", "red");
                } else {
                    $('#acountmessage').text('\u2714' + "此帳號可以使用");
                    $('#acountmessage').css("color", "green");
                }


            }).fail(function() { alert("連線錯誤!"); });
        });

        $('#CreateStudent').on('click',
            function() {
                $.get("CheckAccount", { userName: $("#Account").val() }).done(function(data) {
                    if (data == "這個帳號已使用!") {
                        alert("帳號已重複，無法新增請變更再新增，謝謝")
                    } else {
                        $('#create').submit();
                    }
                });
            });
        var count = 0;
        $('#addlicense').click(function () {
            var LicenseId = $('#LicenseId').val();
            var ChineseName = $('#ChineseName').val();
            var EnglishName = $('#EnglishName').val();
            var LicenseCategory = $('#LicenseCategory').val();
            var LicenseUnit = $('#LicenseUnit').val();
            var IssueDate = $('#IssueDate').val();
            var EffectiveDate = $('#EffectiveDate').val();
            $('#LicenseId').val("");
            $('#ChineseName').val("");
            $('#EnglishName').val("");
            $('#LicenseCategory').val("");
            $('#LicenseUnit').val("");
            $('#IssueDate').val("");
            $('#EffectiveDate').val("");
            var rows = document.getElementById("Licenseslist").rows.length;


            var htmlstr = "<tr id=\"license" +
                rows +
                "\"><td><input type=\"CheckBox\" class=\"checkaddbtn\" name=\"checkaddbtn\" value=\"" +count +"\" /></td>" +
                "<td><input type=\"text\" name=\"Licenselist[" + (rows - 1) + "].LicenseId\" value=\"" + LicenseId + "\" /></td>" +
                "<td><input type=\"text\" name=\"Licenselist[" + (rows - 1) + "].ChineseName\" value=\"" + ChineseName + "\" /></td>"+
                "<td><input type=\"text\" name=\"Licenselist[" + (rows - 1) + "].EnglishName\" value=\"" + EnglishName + "\" /></td>" +
                "<td><input type=\"text\" name=\"Licenselist[" + (rows - 1) + "].LicenseCategory\" value=\"" + LicenseCategory + "\" /></td>" +
                "<td><input type=\"text\" name=\"Licenselist[" + (rows - 1) + "].LicenseUnit\" value=\"" + LicenseUnit + "\" /></td>" +
                "<td><input type=\"text\" name=\"Licenselist[" + (rows - 1) + "].IssueDate\" class=\"datepickers\" value=\"" + IssueDate + "\" /></td>" +
                "<td><input type=\"text\" name=\"Licenselist[" + (rows - 1) + "].EffectiveDate\" class=\"datepickers\" value=\"" + EffectiveDate + "\" /></td></tr>";
               
            count++;

            $('#Licenseslist').append(htmlstr + "</tr>");
            $('#Licenseslist').removeAttr("style");
            $.each($('.datepickers'),
                function (a, b) {
                    $(b).daterangepicker({
                        singleDatePicker: true,
                        showDropdowns: true,
                        autoUpdateInput: false,
                        locale: {
                            format: 'YYYY/MM/DD',
                            daysOfWeek: [
                                "日",
                                "一",
                                "二",
                                "三",
                                "四",
                                "五",
                                "六"
                            ],
                            monthNames: [
                                "一月",
                                "二月",
                                "三月",
                                "四月",
                                "五月",
                                "六月",
                                "七月",
                                "八月",
                                "九月",
                                "十月",
                                "十一月",
                                "十二月"
                            ]
                        }
                    });

                    $(b).on('apply.daterangepicker',
                        function (ev, picker) {
                            $(this).val(picker.startDate.format('YYYY/MM/DD'));
                        });

                    $(b).on('cancel.daterangepicker',
                        function (ev, picker) {
                            $(this).val('');
                        });
                });
            $(".datepickers").attr("autocomplete", "Off");
            $(".datepickers").attr("readonly", "true");
        });


    </script>

}
