﻿
@using Enrollment.Models
@model Enrollment.Models.Student

@{
    ViewBag.path= "<i class=\"fa fa-home\" aria-hidden=\"true\"></i>首頁 &gt; 一、培訓作業管理 &gt; 學員資料維護 &gt; ";

    ViewBag.Title = "編輯學員";
    //int i = 2;
    string dir = Model.Id.ToString();
    string filename = Model.FileUrl;
    //string filenames = Model.FileUrl;
}

<h2>編輯</h2>

@using (Html.BeginForm(null, null, FormMethod.Post, new { enctype = "multipart/form-data" }))
{

    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <div style="color: red">@ViewBag.Message</div>
    <fieldset>
        <legend>Student</legend>

        @Html.HiddenFor(model => model.Id)
        <div class="row">
            <div class="col-md-4">
                @Html.LabelFor(model => model.Account)
                @Html.DisplayFor(model => model.Account)
                @Html.HiddenFor(model => model.Account)
            </div>
            <div class="col-md-4">
                @Html.LabelFor(model => model.Password)
                @Html.Password("NewPassword")
                <input type="hidden" id="hash" name="hash" value="@(Model.Password)">
                @Html.HiddenFor(model => model.PasswordSalt)
            </div>
            <div class="col-md-4">
                @Html.LabelFor(model => model.Name)
                @Html.TextBoxFor(model => model.Name, new { placeholder = ModelsAttributeHelper<Enrollment.Models.Student>.GetDisplayName("Name") })

            </div>
        </div>


        <div class="row">
            <div class="col-md-4">
                @Html.LabelFor(model => model.IDNum)
                @Html.TextBoxFor(model => model.IDNum, new { placeholder = ModelsAttributeHelper<Enrollment.Models.Student>.GetDisplayName("IDNum") })
            </div>
            <div class="col-md-4">
                @Html.LabelFor(model => model.Birthday)
                @Html.TextBoxFor(model => model.Birthday, "{0:d}", new { @class = "datepicker", target = "" })
                @Html.ValidationMessageFor(model => model.Birthday)
            </div>
            <div class="col-md-4">
                @Html.LabelFor(model => model.Gender)
                @Html.DropDownListFor(model => model.Gender, new SelectList(Enum.GetValues(typeof(Enrollment.Models.GenderType))))
                @Html.ValidationMessageFor(model => model.Gender)
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                @Html.LabelFor(model => model.Email)
                @Html.TextBoxFor(model => model.Email, new { style = "width:80%", placeholder = ModelsAttributeHelper<Enrollment.Models.Student>.GetDisplayName("Email") })

            </div>
            <div class="col-md-8">
                @Html.LabelFor(model => model.Address)
                @Html.TextBoxFor(model => model.Address, new { style = "width:80%", placeholder = ModelsAttributeHelper<Enrollment.Models.Student>.GetDisplayName("Address") })
                @Html.ValidationMessageFor(model => model.Address)
            </div>
        </div>
        <div class="row">

            <div class="col-md-4">
                @Html.LabelFor(model => model.WINDAID)
                @Html.TextBoxFor(model => model.WINDAID, new { placeholder = ModelsAttributeHelper<Enrollment.Models.Student>.GetDisplayName("WINDAID") })

            </div>
            <div class="col-md-8">
                @Html.LabelFor(model => model.FileUrl)
                <input type="file" name="upfile" />
                <input type="hidden" name="FileUrl" value="@filename" />
                @if (!string.IsNullOrEmpty(Model.FileUrl))
                {
                    <input type="hidden" name="remove" id="remove" value="" />

                    <a class="remove" href="/Student/GetFile?filename=@(Model.FileUrl)&dir=@dir&type=student"><i class="fa fa-download" aria-hidden="true"></i>@filename</a>


                    <a href="#" class="removeFile remove" onclick="remove('@filename', 'remove', 'remove')">X</a>



                }
            </div>

        </div>
        @Html.HiddenFor(model => model.Poster)
        @Html.HiddenFor(model => model.InitDate)


        <div class="row" style="text-align: center">
            <div class="col-md-12">
                <h4>
                    編輯證照<input type="button" value="加入證照資訊" class="btn btn-Delete" id="addlicense" style="margin: 1em" /><span style="font-size: 14px;color:red">一旦勾選取消則會刪除此筆資料</span>
                </h4>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                @Html.LabelFor(model => model.Licenses.First().LicenseId)
                <input id="LicenseId" name="LicenseId" placeholder="證照編號" type="text" value="">
            </div>


            <div class="col-md-4">
                @Html.LabelFor(model => model.Licenses.First().ChineseName)
                <input id="ChineseName" name="ChineseName" placeholder="證照中文名稱" type="text" value="">
            </div>

            <div class="col-md-4">
                @Html.LabelFor(model => model.Licenses.First().EnglishName)
                <input id="EnglishName" name="EnglishName" placeholder="證照英文名稱" type="text" value="">
            </div>




        </div>
        <div class="row">
            <div class="col-md-4">
                @Html.LabelFor(model => model.Licenses.First().LicenseCategory)
                <input id="LicenseCategory" name="LicenseCategory" placeholder="類別" type="text" value="" class="valid">
            </div>


            <div class="col-md-4">
                @Html.LabelFor(model => model.Licenses.First().LicenseUnit)
                <input id="LicenseUnit" name="LicenseUnit" placeholder="發證單位" type="text" value="">
            </div>

            <div class="col-md-4">

            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                @Html.LabelFor(model => model.Licenses.First().IssueDate)
                <input id="IssueDate" name="IssueDate" class="datepicker" autocomplete="Off" readonly="true">

            </div>
            <div class="col-md-4">
                @Html.LabelFor(model => model.Licenses.First().EffectiveDate)
                <input id="EffectiveDate" name="EffectiveDate" class="datepicker" autocomplete="Off" readonly="true">
            </div>
            <div class="col-md-4">
            </div>
        </div>



        <table class="table" id="Licenseslist" >
            <tbody>
                <tr>
                    <th>取消</th>
                    <th>證照編號</th>
                    <th>中文名稱</th>
                    <th>英文名稱</th>
                    <th>類別</th>
                    <th>發證單位</th>
                    <th>發照日期</th>
                    <th>有效日期</th>
                </tr>
            </tbody>
            @{
                int count = 1;
            }
            @foreach (var items in Model.Licenses)
            {
                <tr id="time@(count)">
                    <td>
                        <input type="CheckBox" class="checkaddbtn" name="removeLicenses" value="@items.Id" />
                        <input type="hidden" name="updateLicenses[@(count - 1)].Id" value="@items.Id"/>
                        <input type="hidden" name="updateLicenses[@(count - 1)].StudentFK" value="@items.StudentFK"/>
                        <input type="hidden" name="updateLicenses[@(count - 1)].InitDate" value="@items.InitDate.Value.ToString("yyyy/MM/dd HH:mm:ss")"/>
                        <input type="hidden" name="updateLicenses[@(count - 1)].Poster" value="@items.Poster"/>
                    </td>
                    <td>
                        <input type="text" name="updateLicenses[@(count - 1)].LicenseId"  value="@items.LicenseId" />
                    </td>
                    <td>
                        <input type="text" name="updateLicenses[@(count - 1)].ChineseName"  value="@items.ChineseName" />
                    </td>
                    <td>
                        <input type="text" name="updateLicenses[@(count - 1)].EnglishName"  value="@items.EnglishName" />
                    </td>
                    <td>
                        <input type="text" name="updateLicenses[@(count - 1)].LicenseCategory" value="@items.LicenseCategory" />
                    </td>
                    <td>
                        <input type="text" name="updateLicenses[@(count - 1)].LicenseUnit" value="@items.LicenseUnit" />
                    </td>
                    <td>
                        <input type="text" name="updateLicenses[@(count - 1)].IssueDate" class="datepicker" value="@items.IssueDate.Value.ToString("yyyy/MM/dd")" />
                    </td>
                    <td>
                        <input type="text" name="updateLicenses[@(count - 1)].EffectiveDate" class="datepicker" value="@items.EffectiveDate.Value.ToString("yyyy/MM/dd")" />
                    </td>
                </tr>

                count++;
            }
            <tbody id="newaddLicenseslist"></tbody>
        </table>











        <div class="row" style="text-align: center;margin-top:1em">
            <div class="col-md-12">
                <input type="submit" value="更新" id="CreateStudent" class="btn btn-Edit" /> <input type="button" onclick="history.back()" value="回到上一頁" class="btn btn-primary" />
            </div>
        </div>









    </fieldset>
                }


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/themes/base/css")
    <script>
        $(document).ready(function () {
            $(".datepicker").datepicker();
            if (@Model.Licenses.Count == 0) {
                $('#Licenseslist').attr("style", "display:none");
            }
        });

        function remove(filename, name, disname) {

            //if ($('#' + name).val() == "") {
            //    $('#' + name).val(filename + "#");

            //} else {
            //    $('#' + name).val($('#' + name).val() + filename + "#");
            //}

            $('#' + name).val(filename);


            $('.' + disname).attr('style', 'display:none');

        }
        var count = 0;

        $('#addlicense').click(function () {
            var LicenseId = $('#LicenseId').val();
            var ChineseName = $('#ChineseName').val();
            var EnglishName = $('#EnglishName').val();
            var LicenseCategory = $('#LicenseCategory').val();
            var LicenseUnit = $('#LicenseUnit').val();
            var IssueDate = $('#IssueDate').val();
            var EffectiveDate = $('#EffectiveDate').val();
            $('#LicenseId').val("");
            $('#ChineseName').val("");
            $('#EnglishName').val("");
            $('#LicenseCategory').val("");
            $('#LicenseUnit').val("");
            $('#IssueDate').val("");
            $('#EffectiveDate').val("");
            var rows = document.getElementById("Licenseslist").rows.length;


            var htmlstr = "<tr id=\"license" +
                rows +
                "\"><td><input type=\"CheckBox\" class=\"checkaddbtn\" name=\"checkaddbtn\" value=\"" +count +"\" /></td>" +
                "<td><input type=\"text\" name=\"Licenselist[" + (count) + "].LicenseId\" value=\"" + LicenseId + "\" /></td>" +
                "<td><input type=\"text\" name=\"Licenselist[" + (count) + "].ChineseName\" value=\"" + ChineseName + "\" /></td>"+
                "<td><input type=\"text\" name=\"Licenselist[" + (count) + "].EnglishName\" value=\"" + EnglishName + "\" /></td>" +
                "<td><input type=\"text\" name=\"Licenselist[" + (count) + "].LicenseCategory\" value=\"" + LicenseCategory + "\" /></td>" +
                "<td><input type=\"text\" name=\"Licenselist[" + (count) + "].LicenseUnit\" value=\"" + LicenseUnit + "\" /></td>" +
                "<td><input type=\"text\" name=\"Licenselist[" + (count) + "].IssueDate\" class=\"datepickers\" value=\"" + IssueDate + "\" /></td>" +
                "<td><input type=\"text\" name=\"Licenselist[" + (count) + "].EffectiveDate\" class=\"datepickers\" value=\"" + EffectiveDate + "\" /></td></tr>";
               
            count++;
            $('#newaddLicenseslist').append(htmlstr );
            $('#Licenseslist').removeAttr("style");
            $.each($('.datepickers'),
                function (a, b) {
                    $(b).daterangepicker({
                        singleDatePicker: true,
                        showDropdowns: true,
                        autoUpdateInput: false,
                        locale: {
                            format: 'YYYY/MM/DD',
                            daysOfWeek: [
                                "日",
                                "一",
                                "二",
                                "三",
                                "四",
                                "五",
                                "六"
                            ],
                            monthNames: [
                                "一月",
                                "二月",
                                "三月",
                                "四月",
                                "五月",
                                "六月",
                                "七月",
                                "八月",
                                "九月",
                                "十月",
                                "十一月",
                                "十二月"
                            ]
                        }
                    });

                    $(b).on('apply.daterangepicker',
                        function (ev, picker) {
                            $(this).val(picker.startDate.format('YYYY/MM/DD'));
                        });

                    $(b).on('cancel.daterangepicker',
                        function (ev, picker) {
                            $(this).val('');
                        });
                });
            });
    </script>

}
