﻿
@using Enrollment.Helpers
@using MvcPaging
@model MvcPaging.IPagedList<Enrollment.Models.Student>

@{
    ViewBag.path= "<i class=\"fa fa-home\" aria-hidden=\"true\"></i>首頁 &gt; 一、培訓作業管理 &gt; ";

    ViewBag.Title = "學員資料維護";
}

<h2>學員基本資料</h2>

<p>
    @Html.ActionLink("新增", "Create")
</p>

@using (Html.BeginForm())
{
    <div>
        @Html.DisplayNameFor(model => model.FirstOrDefault().Name)：@Html.InputSearchBox("SearchByName", ViewData["SearchByName"])
        @Html.DisplayNameFor(model => model.FirstOrDefault().Gender)：@Html.DropDownList("SearchByGender", new SelectList(Enum.GetValues(typeof(Enrollment.Models.GenderType))), "請選擇")
        <input type="submit" class="btn btn-Search" value="搜尋" />
    </div>
  


}

<table class="table">
    <tr>
   
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Birthday)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Gender)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().FileUrl)
        </th>

        <th></th>
    </tr>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Birthday)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Gender)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @if (!string.IsNullOrEmpty(item.FileUrl))
                    {
                
                                <a  href="/Student/GetFile?filename=@(item.FileUrl)&dir=@(item.Id)&type=student"><i class="fa fa-download" aria-hidden="true"></i>@item.FileUrl</a>
                    }
                </td>
                <td>
                    @Html.ActionLink("編輯", "Edit", new { id = item.Id }, new { @class = "btn btn-Edit" }) 
                    @*@Html.ActionLink("內容", "Details", new { id=item.Id }) | *@
                    @Html.ActionLink("刪除", "Delete", new { id = item.Id }, new { @class = "btn btn-Delete" })
                    @Html.Hidden("ID", item.Id)
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="pager">
    @Html.Pager(Model.PageSize, Model.PageNumber, Model.TotalItemCount)
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/themes/base/css")
    <script>
        $(document).ready(function () {
            $(".datepicker").datepicker();

        });
    </script>
}

