﻿@using Enrollment.Models
@model Enrollment.Models.Student

@{
    ViewBag.path = "<i class=\"fa fa-home\" aria-hidden=\"true\"></i>首頁 &gt; 一、培訓作業管理 &gt; 學員資料維護 &gt; ";

    ViewBag.Title = "新增學員";
}

<h2>新增</h2>

@using (Html.BeginForm(null, null, FormMethod.Post, new { enctype = "multipart/form-data", id = "create" }))
{

    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @ViewBag.Message
    <fieldset>
        <legend>Student</legend>
        <div class="row">
            <div class="col-md-4">
                @Html.LabelFor(model => model.Account)
                @Html.TextBoxFor(model => model.Account, new { placeholder = ModelsAttributeHelper<Enrollment.Models.Student>.GetDisplayName("Account") })<span id="acountmessage"></span>
                @Html.ValidationMessageFor(model => model.Account)<span>@ViewBag.Message</span>
            </div>
            <div class="col-md-4">
                @Html.LabelFor(model => model.Password)
                @Html.TextBoxFor(model => model.Password, new { type = "password", placeholder = ModelsAttributeHelper<Enrollment.Models.Student>.GetDisplayName("Password") })

                @Html.ValidationMessageFor(model => model.Password)
            </div>
            <div class="col-md-4">
                @Html.LabelFor(model => model.Name)
                @Html.TextBoxFor(model => model.Name, new { placeholder = ModelsAttributeHelper<Enrollment.Models.Student>.GetDisplayName("Name") })
                @Html.ValidationMessageFor(model => model.Name)
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                @Html.LabelFor(model => model.IDNum)
                @Html.TextBoxFor(model => model.IDNum, new { placeholder = ModelsAttributeHelper<Enrollment.Models.Student>.GetDisplayName("IDNum") })
                @Html.ValidationMessageFor(model => model.IDNum)
            </div>
            <div class="col-md-4">
                @Html.LabelFor(model => model.Birthday)
                @Html.TextBoxFor(model => model.Birthday, "{0:d}", new { @class = "datepicker", target = "", autocomplete = "Off", @readonly = "true" })
                @Html.ValidationMessageFor(model => model.Birthday)

            </div>
            <div class="col-md-4">
                @Html.LabelFor(model => model.Gender)
                @Html.DropDownListFor(model => model.Gender, new SelectList(Enum.GetValues(typeof(Enrollment.Models.GenderType))))
                @Html.ValidationMessageFor(model => model.Gender)
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                @Html.LabelFor(model => model.Email)
                @Html.TextBoxFor(model => model.Email, new { style = "width:80%", placeholder = ModelsAttributeHelper<Enrollment.Models.Student>.GetDisplayName("Email") })
                @Html.ValidationMessageFor(model => model.Email)
            </div>
            <div class="col-md-8">
                @Html.LabelFor(model => model.Address)
                @Html.TextBoxFor(model => model.Address, new { style = "width:80%", placeholder = ModelsAttributeHelper<Enrollment.Models.Student>.GetDisplayName("Address") })
                @Html.ValidationMessageFor(model => model.Address)
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                @Html.LabelFor(model => model.WINDAID)
                @Html.TextBoxFor(model => model.WINDAID, new { placeholder = ModelsAttributeHelper<Enrollment.Models.Student>.GetDisplayName("WINDAID") })
                @Html.ValidationMessageFor(model => model.WINDAID)

            </div>
            <div class="col-md-6">
                @Html.LabelFor(model => model.FileUrl)
                <input type="file" name="FileUpload" />
            </div>
            <div class="col-md-2">

            </div>
        </div>








        <div class="row" style="text-align: center;margin-top:1em">
            <div class="col-md-12">
                <input type="button" value="新增" id="CreateStudent" class="btn btn-Create" /> <input type="button" onclick="history.back()" value="回到上一頁" class="btn btn-primary" />

            </div>
        </div>
        <p>

            @*<input type="submit" value="新增" />*@

        </p>


    </fieldset>
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/themes/base/css")
    <script>
        $("#Account").blur(function() {
            if ($("#Account").val() == "") {
                $('#acountmessage').text("");
                return;
            }
            $.get("CheckAccount", { userName: $("#Account").val() }).done(function(data) {
                if (data === "這個帳號已使用!") {
                    $('#acountmessage').text('\u2716' + "此帳號已有人使用");
                    $('#acountmessage').css("color", "red");
                } else {
                    $('#acountmessage').text('\u2714' + "此帳號可以使用");
                    $('#acountmessage').css("color", "green");
                }


            }).fail(function() { alert("連線錯誤!"); });
        });

        $('#CreateStudent').on('click',
            function() {
                $.get("CheckAccount", { userName: $("#Account").val() }).done(function(data) {
                    if (data == "這個帳號已使用!") {
                        alert("帳號已重複，無法新增請變更再新增，謝謝")
                    } else {
                        $('#create').submit();
                    }
                });
            });
     


    </script>

}
