﻿@using Enrollment.Models
@model Enrollment.Models.Student
@{
    ViewBag.Title = "NewEdit";
    string dir = Model.Id.ToString();
    string filename = Model.FileUrl;
    string tab = ViewBag.tab;
    string tabindex = ViewBag.tab+"Index";
    if (string.IsNullOrEmpty(tab))
    {
        tab = "Info";
        tabindex = "InfoIndex";
    }

}
<style>
    th {
        background-color: lightgrey;
        text-align: center;
    }

    table, select, input, textarea {
        font-size: 14px;
    }

    td {
        text-align: left;
    }
</style>


<div class="row">
    <div class="col-lg-12">
        <ul class="nav nav-tabs">
            <li class="nav-item"><a class="nav-link" id="Info">基本資料</a></li>
            <li class="nav-item"><a class="nav-link" id="License">證書資料</a></li>

        </ul>
    </div>
    <div class="col-lg-12 py-3">
        <div id="myTabContent" class="tab-content">

            <div class="tab-pane fade" id="InfoIndex">
                @using (Html.BeginForm(null, null, FormMethod.Post, new { enctype = "multipart/form-data", id = "create" }))
                {

                @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true)
                    @ViewBag.Message
                    <fieldset>
                        <legend>Student</legend>
                        <div class="row">
                            <div class="col-md-4">
                                @Html.LabelFor(model => model.Account)
                                @Html.TextBoxFor(model => model.Account, new { placeholder = ModelsAttributeHelper<Enrollment.Models.Student>.GetDisplayName("Account") })<span id="acountmessage"></span>
                                @Html.ValidationMessageFor(model => model.Account)<span>@ViewBag.Message</span>
                            </div>
                            <div class="col-md-4">
                                @Html.LabelFor(model => model.Password)
                                @Html.Password("NewPassword")
                                <input type="hidden" id="hash" name="hash" value="@(Model.Password)">
                                @Html.HiddenFor(model => model.PasswordSalt)
                            </div>
                            <div class="col-md-4">
                                @Html.LabelFor(model => model.Name)
                                @Html.TextBoxFor(model => model.Name, new { placeholder = ModelsAttributeHelper<Enrollment.Models.Student>.GetDisplayName("Name") })
                                @Html.ValidationMessageFor(model => model.Name)
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                @Html.LabelFor(model => model.IDNum)
                                @Html.TextBoxFor(model => model.IDNum, new { placeholder = ModelsAttributeHelper<Enrollment.Models.Student>.GetDisplayName("IDNum") })
                                @Html.ValidationMessageFor(model => model.IDNum)
                            </div>
                            <div class="col-md-4">
                                @Html.LabelFor(model => model.Birthday)
                                @Html.TextBoxFor(model => model.Birthday, "{0:d}", new { @class = "datepicker", target = "", autocomplete = "Off", @readonly = "true" })
                                @Html.ValidationMessageFor(model => model.Birthday)

                            </div>
                            <div class="col-md-4">
                                @Html.LabelFor(model => model.Gender)
                                @Html.DropDownListFor(model => model.Gender, new SelectList(Enum.GetValues(typeof(Enrollment.Models.GenderType))))
                                @Html.ValidationMessageFor(model => model.Gender)
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                @Html.LabelFor(model => model.Email)
                                @Html.TextBoxFor(model => model.Email, new { style = "width:80%", placeholder = ModelsAttributeHelper<Enrollment.Models.Student>.GetDisplayName("Email") })
                                @Html.ValidationMessageFor(model => model.Email)
                            </div>
                            <div class="col-md-8">
                                @Html.LabelFor(model => model.Address)
                                @Html.TextBoxFor(model => model.Address, new { style = "width:80%", placeholder = ModelsAttributeHelper<Enrollment.Models.Student>.GetDisplayName("Address") })
                                @Html.ValidationMessageFor(model => model.Address)
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                @Html.LabelFor(model => model.WINDAID)
                                @Html.TextBoxFor(model => model.WINDAID, new { placeholder = ModelsAttributeHelper<Enrollment.Models.Student>.GetDisplayName("WINDAID") })
                                @Html.ValidationMessageFor(model => model.WINDAID)

                            </div>
                            <div class="col-md-6">
                                @Html.LabelFor(model => model.FileUrl)
                                <input type="file" name="upfile" />
                                <input type="hidden" name="FileUrl" value="@filename" />
                                @if (!string.IsNullOrEmpty(Model.FileUrl))
                                {
                                    <input type="hidden" name="remove" id="remove" value="" />

                                    <a class="remove" href="/Student/GetFile?filename=@(Model.FileUrl)&dir=@dir&type=student"><i class="fa fa-download" aria-hidden="true"></i>@filename</a>


                                    <a href="#" class="removeFile remove" onclick="remove('@filename', 'remove', 'remove')">X</a>



                                }
                            </div>
                            <div class="col-md-2">

                            </div>
                        </div>








                        <div class="row" style="text-align: center;margin-top:1em">
                            <div class="col-md-12">
                                <input type="button" value="更新" id="CreateStudent" class="btn btn-Edit" /> <input type="button" onclick="history.back()" value="回到上一頁" class="btn btn-primary" />

                            </div>
                        </div>
                    </fieldset>
                }

            </div>
            <div class="tab-pane fade" id="LicenseIndex">
                @using (Html.BeginForm("CreateOrEditLicense", "Student"))
            {
                <div class="row">
                    <div class="col-md-4">
                        <input type="hidden" name="StudentFK" value="@Model.Id" />
                        <input type="hidden" name="tab" value="License" />
                        <input type="hidden" name="type" id="type" value="Create" />
                        <input type="hidden" name="Id"  id="IdOfLicense"/>
                        <input type="hidden" name="Poster" id="Poster" />
                        <input type="hidden" name="InitDate" id="InitDate" />
                        @Html.LabelFor(model => model.Licenses.First().LicenseId)
                        <input id="LicenseId" name="LicenseId" placeholder="證照編號" type="text" value="">
                    </div>


                    <div class="col-md-4">
                        @Html.LabelFor(model => model.Licenses.First().ChineseName)
                        <input id="ChineseName" name="ChineseName" placeholder="證照中文名稱" type="text" value="">
                    </div>

                    <div class="col-md-4">
                        @Html.LabelFor(model => model.Licenses.First().EnglishName)
                        <input id="EnglishName" name="EnglishName" placeholder="證照英文名稱" type="text" value="">
                    </div>




                </div>
                <div class="row">
                    <div class="col-md-4">
                        @Html.LabelFor(model => model.Licenses.First().LicenseCategory)
                        <input id="LicenseCategory" name="LicenseCategory" placeholder="類別" type="text" value="">
                    </div>


                    <div class="col-md-4">
                        @Html.LabelFor(model => model.Licenses.First().LicenseUnit)
                        <input id="LicenseUnit" name="LicenseUnit" placeholder="發證單位" type="text" value="">
                    </div>

                    <div class="col-md-4">
                        @Html.LabelFor(model => model.Licenses.First().IssueDate)
                        <input id="IssueDate" name="IssueDate" class="datepicker" autocomplete="Off" readonly="true">

                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        @Html.LabelFor(model => model.Licenses.First().EffectiveDate)
                        <input id="EffectiveDate" name="EffectiveDate" class="datepicker" autocomplete="Off" readonly="true">
                    </div>
                    <div class="col-md-4">
                        <input type="submit" value="新增" id="Create" class="btn btn-Create" />
                        <input type="button" value="清除重填" id="Clean" class="btn btn-primary" />
                        <input type="submit" value="更新" id="Edit" class="btn btn-Edit" style="display: none" />
                        <input type="button" value="返回新增" id="ReturnCreate" class="btn btn-primary" style="display: none" />
                    </div>
                    <div class="col-md-4">

                    </div>
                </div>
                }

                <table class="table">
                    <tr>

                        <th>
                            證照號碼
                        </th>
                        <th>
                            中文名稱
                        </th>
                        <th>
                            英文名稱
                        </th>
                        <th>
                            類別
                        </th>
                        <th>
                            發證日期
                        </th>
                        <th>
                            有效日期
                        </th>
                        <th>
                            發證單位
                        </th>

                        <th></th>
                    </tr>
                    <tbody>
                        @foreach (var item in Model.Licenses)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.LicenseId)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ChineseName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.EnglishName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.LicenseCategory)
                            </td>
                            <td>
                                @if (item.IssueDate.HasValue)
                                {
                                <label>@item.IssueDate.Value.ToString("yyyy/MM/dd")</label>
                                }

                            </td>
                            <td>
                                @if (item.EffectiveDate.HasValue)
                                {
                                <label>@item.EffectiveDate.Value.ToString("yyyy/MM/dd")</label>
                                }
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.LicenseUnit)
                            </td>

                            <td>
                                <input type="button" value="編輯"  class="btn btn-Edit EditLicense" data-id="@item.Id"  />
                               
                                @Html.ActionLink("刪除", "Delete", new { id = item.Id }, new { @class = "btn btn-Delete" })
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>
<script src="@Url.Content("~/Scripts/jquery.colorbox-min.js")" type="text/javascript"></script>
<link href="@Url.Content("~/Content/colorbox/colorbox.css")" rel="stylesheet" type="text/css" />
<script>
    $(document).ready(function () {

        if (@tab != null) {
            $("#@tab").addClass("active");
            $("#@tabindex").addClass("active show");
        } else {
            $("#Info").addClass("active");
            $("#InfoIndex").addClass("active show");
           
        }


        $("#Info").click(function () {
            $(this).addClass("active");
            $("#InfoIndex").addClass("active show");
            $("#License").removeClass("active");
            $("#LicenseIndex").removeClass("active");

        });
        $("#License").click(function () {
            $(this).addClass("active");
            $("#LicenseIndex").addClass("active show");
            $("#Info").removeClass("active");
            $("#InfoIndex").removeClass("active");


        });

     

        $('#ReturnCreate').click(function() {
         
            $('#Create').removeAttr("style");
            $('#Clean').removeAttr("style");
            $('#Edit').attr("style", "display:none");
            $('#ReturnCreate').attr("style", "display:none");
            $('#IdOfLicense').val("");
            $('#LicenseId').val("");
            $('#ChineseName').val("");
            $('#EnglishName').val("");
            $('#LicenseCategory').val("");
            $('#LicenseUnit').val("");
            $('#IssueDate').val("");
            $('#EffectiveDate').val("");
            $('#Poster').val("");
            $('#InitDate').val("");
            $('#type').val("Create");
        });


        $('#Clean').click(function() {
            $('#IdOfLicense').val("");
            $('#LicenseId').val("");
            $('#ChineseName').val("");
            $('#EnglishName').val("");
            $('#LicenseCategory').val("");
            $('#LicenseUnit').val("");
            $('#IssueDate').val("");
            $('#EffectiveDate').val("");
            $('#Poster').val("");
            $('#InitDate').val("");
        });


        $('.EditLicense').click(function () {

            $('#Create').attr("style", "display:none");
            $('#Clean').attr("style", "display:none");
            $('#Edit').removeAttr("style");
            $('#ReturnCreate').removeAttr("style");
            $('#IdOfLicense').val("");
            $('#LicenseId').val("");
            $('#ChineseName').val("");
            $('#EnglishName').val("");
            $('#LicenseCategory').val("");
            $('#LicenseUnit').val("");
            $('#IssueDate').val("");
            $('#EffectiveDate').val("");
            $('#Poster').val("");
            $('#InitDate').val("");
            $('#type').val("Edit");


            var id = $(this).attr('data-id');
            $.ajax({
                url: '@Url.Action("SearchLicense", "Student")',
                data: { Id: id },
                type: 'get',
                cache: false,
                async: false,
                dataType: 'json',
                success: function (data) {
                    $('#IdOfLicense').val(id);
                    $('#LicenseId').val(data["LicenseId"]);
                    $('#ChineseName').val(data["ChineseName"]);
                    $('#EnglishName').val(data["EnglishName"]);
                    $('#LicenseCategory').val(data["LicenseCategory"]);
                    $('#LicenseUnit').val(data["LicenseUnit"]);
                    $('#IssueDate').val(data["IssueDate"]);
                    $('#EffectiveDate').val(data["EffectiveDate"]);
                    $('#Poster').val(data["Poster"]);
                    $('#InitDate').val(data["InitDate"]);

                }

            });






          
        });
    });


</script>
